[2019-08-21 03:05] chidg commented on #162
I found a workaround for this by checking request content type in my `silky_intercept` function and bypassing Silk if the content type is `multipart/form-data`.

It does involve using the `_` prefixed `_parse_content_type` function from silk, but you could easily replicate the logic in that if you don't want to depend on a private api.

[code]
You can adapt this to use with any other logic you alr

[2019-08-21 05:26] hiimdoublej commented on #354
Hey guys would love to have that new version 3.0.3 available

[2019-08-21 07:59] nasirhjafri commented on #354
@avelis I'm getting this error while pushing to jazzband.
[code]

Any ideas?

[2019-08-21 15:15] avelis commented on #354
@nasirhjafri
`NOTE: Try --verbose to see response content.`

Not sure if there is any response content.

[2019-08-23 17:09] worsht commented on #265
I'm seeing this as well.

python 3.7.3
postgres 11
django 2.2.4
django-silk 3.0.2

[2019-08-28 11:06] ot4kon commented on #294
Same issue with Django 2.2 and PostgreSQL 9.6.11

[2019-08-29 20:24] gone commented on #265
Since configuring cachealot and silk to work together this error went away for me.

[code]

[2019-09-04 10:53] prateekponnuru opened #361 "Empty 'filters' dictonary passed to html renderer"
While opening the summary page, i keep getting 'attribute error' as the 'filters' dictionary in the context object is empty. Upon some digging, i see the filters dictionary is set based on 'raw_filters' which in turn is set as below -
raw_filters = request.session.get(self.filters_key, {})
I could see the session object does not contain this information and neither could i see any code that would

[2019-09-05 06:57] hiimdoublej commented on #354
Dear developers, any update on this ? Thanks

[2019-09-05 09:31] nasirhjafri commented on #354
@avelis Can you please confirm the PyPI release request?

[2019-09-05 16:13] avelis commented on #354
@nasirhjafri I would say abandon `3.0.3` and try again with `3.0.4`

[2019-09-08 16:01] phroiland opened #363 "Where is 3.0.4?"
[code]

<img width="823" alt="Screen Shot 2019-09-08 at 11 59 20 AM" src="https://user-images.githubusercontent.com/10401786/64490922-302c8d00-d230-11e9-843b-24545b6ae0be.png">

[2019-09-08 19:53] avelis commented on #363
Just released it: https://pypi.org/project/django-silk/3.0.4/

[2019-09-08 19:53] #363 closed

[2019-09-25 14:49] aurashn commented on #265
Has anyone solved this issue? I am seeing this with:

Python 3.6
MySQL 5.6
django 2.2.5
django-silk 3.0.4

[2019-09-25 16:53] EverWinter23 opened #364 "CORS: Can I make it work with CORS Middleware?"
From `django-silk`:

From `django-cors-headers`:

The Problem: Request is blocked if `CORS` headers aren't added first, which means the middleare needs to come first-- *Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at localhost-url.*

**Edit:** It does work with `cors_headers`, only problem is, if the query takes longer, i.e. 30-50s, I get `CORS` error,

[2019-09-26 21:27] wlisesrivas opened #365 "Ability to clean up all requests/queries."
Sometime we want to start from clean requests/queries and we need to manually delete all the silk data from the database.

Could be helpful if you can delete all the entries by clicking a button in the UI.

[2019-10-07 00:33] Vitiell0 commented on #338
Just reporting we were using Silk on our production server for the last few days and seemed to of run into this issue as well with Python 3.6 and Django 2.2. Memory climbs until it maxes the RAM on the server.

[2019-10-09 18:52] UmarFarooq-Ch opened #366 "Custom redirect url when SILKY_AUTHENTICATION == True"
when this setting `SILKY_AUTHENTICATION = True`
is set it redirects to `host/accounts/login/?next=/silk/`
it should be customizable

[2019-10-12 08:25] w-xh opened #367 "fix UnicodeDecodeError"
When I viewing "Details"，UnicodeDecodeError raised
![image](https://user-images.githubusercontent.com/47207969/66698038-30c3b200-ed0d-11e9-83e3-19d212819fb5.png)

Because  response body with Chinese (it works well with English response body.)
I modify the _code in https://github.com/jazzband/django-silk/blob/master/silk/views/code.py Then it can work
before:
![image](https://user-images.githubuser

[2019-10-22 07:26] nasirhjafri commented on #366
It's not something handled by `django silk`. You can set `LOGIN_URL = '/user/login'` in django settings to change the login path..

[2019-10-22 07:26] #366 closed

[2019-10-23 19:44] nasirhjafri commented on #365
Added in https://github.com/jazzband/django-silk/pulls

[2019-10-23 19:44] #365 closed

[2019-10-23 19:46] #354 closed

[2019-10-26 12:49] nasirhjafri opened #369 "Use bulk_create to save number of queries"

[2019-10-26 17:14] #369 closed

[2019-10-28 22:39] mtali opened #371 "Deadlock working with postgresql"
I don't know how to repricate this byt it seams silk cause deadlock on my database

[code]

[2019-11-04 10:01] vakorol commented on #265
**I would like to draw the maintainers' attention to this issue**, as it seems to affect multiple users. In fact, it is a blocker for me; I would really like to use `django-silk` in my projects, but I am unable to do so due to this problem.

[2019-11-07 05:36] pranavkatiyar commented on #348
Update to django-silk==3.0.4, this will fix the bug.

[2019-11-23 03:13] lowmanisbusy opened #374 "uwsgi log throws an exception"
When i use slik, the uwsgi log always throws an exception like that: Response to request with pk 477be949-b329-4cf4-b617-dc41f8408a9a has content type text/javascript but was unable to parse it.

But,  if i change the param "text/javascript" which in the "silk/model_factory.py" into "application/javascript" , it will be fixed...........

[2019-12-02 14:59] StefanMich opened #375 "Headers are not sanitized"
I am using silk in a project with a tastypie api, and when using apikey or basic auth these are sent as request header 'Authorization'. These headers are stored in silk which is security risk.

[2019-12-02 15:02] StefanMich commented on #375
Implemented it with a hardcoded list, to be consistent with how bodies are masked.
It might be better to implement it as a setting so any header can be masked. I am happy to do that change if anyone finds that to be better

[2019-12-02 17:33] endersonmenezes opened #377 "Erro import six from django.utils"
I searched for "Django 3.0" and "django 3.0" and found no doubt of the kind. I am creating a upgrade plan for my system for Django 3.0, and I came across the following error

`
from django.utils import six
ImportError: cannot import name 'six' from 'django.utils' (/python3.8/site-packages/django/utils/__init__.py)
`

According to @adamchainz in https://github.com/adamchainz/django-cors-headers/iss

[2019-12-05 17:33] nasirhjafri commented on #371
Closing as duplicate of #294

[2019-12-05 17:33] #371 closed

[2019-12-06 06:31] pirate opened #378 "Does Django-Silk support profiling multithreaded code?"
We have some IO-bound view handlers that we sped up by using multithreading (plain old `threading.Thread`, we know `multiprocessing` is better, but in this case the code was IO-bound, not CPU-bound, so we did't need separate processes to avoid the GIL).

When profiling with `django-silk`, we can't tell if it's including calls from all of the threads in the output, or just the main thread.

I was a

[2019-12-10 16:45] Kern3l opened #381 "/requests/ should have HTTP responses colored"
It'd be much easier to spot 4xx and 5xx error codes this way. What I mean exactly:
[code]
That's a userscript in CoffeeScript + jQuery that achieves this. Of course your solution would be non-javascript, but this illustrates what I mean. `$(@)` is a reference to itself (a `.method-div` node).

[2019-12-10 16:52] pyprism opened #382 "Django 3 support"
Does this package support django 3.0  ?  Recently I upgraded my project from django 2.x to 3.0.
When I tried to run manage.py command it throws this error :

[code]

[2019-12-10 17:52] knyghty commented on #382
This is being addressed in https://github.com/jazzband/django-silk/pull/380

[2019-12-11 07:02] sazib47 commented on #338
Facing same issue with `Django 2.2.8` and `django-silk 3.0.4`.The previous `django-silk` version was `1.0.0` with `Django 1.11.23` and it was working fine.

[2019-12-11 09:06] sazib47 commented on #338
Issue resolved by running `python manage.py silk_clear_request_log`, @lesiki @Vitiell0

[2019-12-15 04:01] dangelsaurus commented on #377
oh no this isn't good

[2019-12-15 08:57] adamchainz commented on #377
See the bottom of the django release notes: https://docs.djangoproject.com/en/3.0/releases/3.0/

[2019-12-17 11:00] webmagicc opened #383 "Use with django channels"
Is there are way to use slick with django chennals if django channels not exec django middleware?

[2019-12-18 15:02] Toreno96 commented on #269
It helped in my case 👍

[2020-01-02 09:38] nasirhjafri opened #384 "Prepare Release 4.0"
Since this is a major release as we are dropping python 2 support, we will move to 4.x instead of 3.x.

- [x] Check the support with Django 3.0
- [x] Test django silk if its working fine.
- [x] Prepare a change log

[2020-01-02 10:09] auvipy commented on #384
should be django 2.2+ only

[2020-01-02 10:13] nasirhjafri commented on #384
Yep, There were issues with Django 3.0 reported https://github.com/jazzband/django-silk/issues/382. I'll need to verify it. Also, I'll do a PR to drop django<2.2 support.

[2020-01-03 08:15] nasirhjafri commented on #382
Added in https://github.com/jazzband/django-silk/pull/385 and https://github.com/jazzband/django-silk/pull/380

[2020-01-04 00:37] iMerica commented on #384
This as blocked me. Is anyone aware of a fork that supports 3?

[2020-01-04 01:06] nasirhjafri commented on #384
@iMerica master branch is now supporting 3.0
We'll be releasing today to PyPI

[2020-01-04 01:07] iMerica commented on #384
Great news. I'm doing some tests now then.

Ping me if I can help!

[2020-01-09 16:11] withthelemons commented on #384
Any news on when will version 4.0 be released?

[2020-01-09 17:29] nasirhjafri commented on #382
Added in release 4.0.0 (https://github.com/jazzband/django-silk/issues/384)

[2020-01-09 17:29] #382 closed

[2020-01-09 17:29] nasirhjafri commented on #375
Added in release 4.0.0 (https://github.com/jazzband/django-silk/issues/384)

[2020-01-09 17:29] #375 closed

[2020-01-09 17:30] nasirhjafri commented on #365
Added in release 4.0.0 (https://github.com/jazzband/django-silk/issues/384)

[2020-01-09 17:30] nasirhjafri commented on #369
Added in release 4.0.0 (https://github.com/jazzband/django-silk/issues/384)

[2020-01-09 17:41] nasirhjafri commented on #377
Added in release 4.0.0 (https://github.com/jazzband/django-silk/issues/384)

[2020-01-09 17:41] #377 closed

[2020-01-09 19:05] nasirhjafri commented on #384
Upload to PyPI failed. Can you please check @mbeacom ?

[2020-01-13 10:34] MuslimBeibytuly opened #389 "Django 3.0 support"

[2020-01-14 06:09] chidg commented on #375
Great that you've done this @StefanMich and that @nasirhjafri has merged it, however is it possible to have it also merged into a maintained 3.x version? Silk 4.0 does not support Django <2.2, which means Django 1.11 which is currently still a supported LTS release doesn't have access to this important security fix.

[2020-01-14 08:34] #389 closed

[2020-01-14 09:19] nasirhjafri commented on #389
Django silk 4.0.0 is on the way with Django 3.0 support.

[2020-01-16 16:28] tredzko opened #390 "Support functional cProfile enable"
Hey!

Been enjoying getting this running in our project and really enjoy the functionality we have.

One thing we were looking to have was the ability to turn the cProfiler on/off per request, similar to how we can turn the intercept on/off functionally using the request object. There's a number of times where we still care about getting response times and tracking them, but don't want to slow dow

[2020-01-17 05:15] #390 closed

[2020-01-19 09:47] valentijnscholten opened #392 "Data missing for requests with larger response times"
Hi,

Github might not be the best place, but I couldn't find any (curreny) slack/chat/mailing list.

I have enabled silk on my django app and basically it seems to be working. Except for some requests no data is shown. These are typically the longer running requests. Anything under 10s for now seems to be reported OK.

![image](https://user-images.githubusercontent.com/4426050/72678754-0ec69200-3a

[2020-01-20 17:21] nasirhjafri commented on #384
@jezdez @avelis @albertyw @mbeacom @mtford90 Can we please do something regarding PyPI issue?
Also opened a ticket in jazzband-roadies help ->  https://github.com/jazzband-roadies/help/issues/179

Thanks,

[2020-01-20 20:08] jezdez commented on #384
I'll take a closer look tomorrow.

[2020-01-20 20:55] jezdez commented on #384
So, it seems as if the 4.0 release was released to the Jazzband site as intended, and the project lead as listed on https://jazzband.co/projects/django-silk @avelis should have received an email asking to confirm the release.

@avelis Could please take a look at the 4.0 release and confirm it on https://jazzband.co/projects/django-silk so it's pushed to PyPI?

@nasirhjafri Please contact the proje

[2020-01-20 21:02] jezdez commented on #384
For the record, it did fail for unrelated reasons, basically the travis test matrix setup isn't ideal and doesn't use any conditions to deploy to the Jazzband site. Travis deploy failures were ignored in the past but now fail the build so it's more visible. I'll work on a patch to use tox-travis and simplofy the setup like other Jazzband projects.

Or actually, @aleksihakli do you want to apply yo

[2020-01-20 21:07] nasirhjafri commented on #384
@jezdez I tagged @avelis 11 days ago but got no response. Thanks for looking into it.

[2020-01-20 21:13] jezdez commented on #384
Yeah, I saw that and you did the sensible next step by reaching out to me. We'll figure out a way forward from here. If we're not seeing a response in the coming days, I'll step in as surrogate for @avelis and review the release.

[2020-01-20 21:47] jezdez commented on #384
Please welcome @nasirhjafri as additional project lead to the project!

@nasirhjafri One thing I noticed is that the setup.py of 4.0 doesn't include a [python_requires](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) parameter which would make sure that pip will only install 4.0 on Python 3. I would like to remove the already uploaded 4.0 files on the J

[2020-01-20 21:49] jezdez commented on #384
To be clear, it would require adding the python_require parameter and then deleting and re-doing the Git tag as well with the latest commit. Whether we want to improve the Travis config before that is not super important I think since we know the Travis config deploy errors are really false positives.

[2020-01-20 21:49] nasirhjafri commented on #384
@jezdez yes that would be okay, thanks!

[2020-01-20 21:54] nasirhjafri commented on #390
Released in 4.0.0 https://github.com/jazzband/django-silk/issues/384

[2020-01-20 21:55] nasirhjafri commented on #384
@jezdez If we want to redo git release tag, https://github.com/jazzband/django-silk/pull/391 would also be in this release, lemme add it in release notes too.

[2020-01-20 22:01] nasirhjafri commented on #384
@jezdez I've updated the release notes, please feel free to redo it. Thanks

[2020-01-20 23:10] jezdez commented on #384
@nasirhjafri I've deleted the previously uploaded 4.0 files on the Jazzband package index, but would like you to do the release again on Github. Just go to the releases page on https://github.com/jazzband/django-silk/releases and delete and recreate the 4.0 release. Make sure to copy the release notes before you do, so it's easier to recreate. Once you've created the release, the package files wil

[2020-01-21 08:48] nasirhjafri commented on #384
Version 4.0.0 is released to PyPI.

[2020-01-21 08:48] #384 closed

[2020-01-21 08:54] nasirhjafri commented on #378
I'll have to dig deeper to check if `django-silk` supports multithreading or not, will update the documentation after that.
I'm not sure if jazzband or `django-silk` is currently accepting any donations.

[2020-01-21 09:50] aleksihakli commented on #384
Sure @jezdez I'll clean up the CI setup.

[2020-01-21 09:52] jezdez commented on #384
Thank you @aleksihakli!

[2020-01-23 16:00] ErnestBidouille opened #394 "Exception has occurred: VariableDoesNotExist when trying to access to the main page when using VSCode Debugger"
Django-silk : 4.0.0
Python : 3.7.5
Django : 3.0.2
DRF : 3.11.0

[code]

[2020-01-25 15:43] nasirhjafri commented on #394
From the stack traceback, it doesn't look like an error in django-silk. Can you please share some more info/steps on how to reproduce it? Thanks.

[2020-01-28 20:23] Ikalou opened #395 "The "Clear DB" page doesn't work with PostgreSQL"
The new "Clear DB" page makes use of `SET FOREIGN_KEY_CHECKS` to disable foreign key checks. This does not work with PostgreSQL and other databases. It fails with `ProgrammingError at /silk/cleardb/: unrecognized configuration parameter "foreign_key_checks"`.

I think we should either _a) duplicate all the logic_ inside of...

https://github.com/jazzband/django-silk/blob/d4b44030d82a669c4f497c6f4d

[2020-01-28 20:26] nasirhjafri commented on #395
I would prefer moving the logic to a common function and then call it in both view and command.

[2020-01-29 16:55] #395 closed

[2020-02-08 08:28] loganknecht commented on #211
Hello I am experiencing this issue as well.

OSX

[code]

[code]

[2020-02-08 09:33] castordev opened #398 "Report repeated queries"
Your tool seems fantastic to me, but in order to optimize data access through the django ORM, I miss a report on the number of queries that are repeated, since this may be indicative of not having used a select related, prefetch related , or some mistake such as a queryset within a for loop.

I have been using django-queryinspect https://github.com/dobarkod/django-queryinspect, which has been very

[2020-02-08 09:39] nasirhjafri commented on #211
@loganknecht do you see any error in browser console? Would be helpful if you also mention which browser/version you are using

[2020-02-08 23:02] loganknecht commented on #211
@nasirhjafri I do not see any errors in the browser console.

### Firefox - 72.0.2
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/1308524/74093206-d270cb00-4a83-11ea-839c-026b97c6f44b.png">

### Chrome - Version 80.0.3987.87（Official Build）
![image](https://user-images.githubusercontent.com/1308524/74093210-ea484f00-4a83-11ea-9e33-45057823fbc0.png)

[2020-02-10 11:07] nasirhjafri commented on #211
@loganknecht Can you please share the screenshots for the same URL you are not able to see the graph. It would be better if I can get one with console and one with network panel tab.

[2020-02-19 10:31] gabn88 opened #401 "Exception when performing meta profiling, dumping trace below error"
If adding emoji's when the table collation is 'utf8' instead of 'utf8mb4' on MySQL.

[code]

[2020-02-23 15:20] tirkarthi opened #402 "Passing encoding parameter to json.loads was ignored and removed in Python 3.9"
https://github.com/jazzband/django-silk/blob/639da91e61973268efe885ecc5524185748da762/project/tests/test_encoding.py#L81

Ref : https://bugs.python.org/issue39377

[2020-02-23 15:21] tirkarthi opened #403 "Deprecation warnings over invalid escape sequences in Python 3.7"
Deprecation warning are generated over invalid escape sequences. This can be fixed by using raw strings or escaping the literals again.

[code]

[2020-02-24 08:29] nasirhjafri commented on #402
We've not added support for python 3.9 yet.

[2020-02-24 08:39] tirkarthi commented on #402
I can add a PR for this.

[2020-02-24 08:42] nasirhjafri commented on #402
sure, please create a PR.

[2020-02-26 17:04] orokusaki opened #405 "Add a setting to enable masking of all query values"
Pull #322 addresses common cases ("password", "key", "username", etc.). However, for a HIPAA app (or just to reduce attack / leak vectors in general), we would like all values to be masked. It's nice to see what queries are being run, quantities, timing, requests, etc., while masking values in queries with `****` to avoid the risk leaking data of any kind.

Thoughts on this?

[2020-02-27 11:44] nasirhjafri commented on #405
@orokusaki Would you like to do a PR too?

[2020-02-27 14:13] orokusaki commented on #405
@nasirhjafri sure - do you have any pointers you can give me to help speed things up, etc.?

[2020-02-28 00:49] dgrant commented on #318
Should be a dev dependency instead... it means any project that depends on django-silk right now also depends on autopep8... and I have a particular syntax checker I use that depends on a different version of autopep8 than django-silk.

[2020-02-28 01:07] auvipy commented on #318
I believe so

[2020-02-28 02:40] dgrant commented on #318
Oh my bad... autopep8 is used for production code.

[2020-03-09 08:46] nasirhjafri opened #407 "Release 4.0.1"

[2020-03-12 09:39] nasirhjafri commented on #395
Added in 4.0.1
https://github.com/jazzband/django-silk/issues/407

[2020-03-12 10:20] #407 closed

[2020-03-14 18:26] valentijnscholten opened #409 "silk doesn't profile rest framework requests"
_deleted_ to not cause confusion or get indexed by google.
Turns out my hosts file was pointing my API test script to another instance of my app...

[2020-03-14 18:37] valentijnscholten commented on #409
disabling / removing django-debug-toolbar doesn't help either.

[2020-03-14 21:11] #409 closed

[2020-03-31 18:55] barm opened #410 "_mask_credentials uses UGC in a regex substitution"
I recently ran into an issue when testing passwords with whitespace characters on an app with silk installed. I found that if I have multiple consecutive spaces in a password (which silk treats as a sensitive field and tries to mask), the regex substitution in `_mask_credentials` fails. This is because the user input is used as a pattern in a `re.sub` and so if the user uses certain characters, th

[2020-04-07 15:06] #410 closed

[2020-04-09 18:13] dragonpaw opened #415 "Looking for a good example of mixing silk, with pytest-django."
I've been looking into using Silk, and I really like the interface and logging it provides. The problem I'm having is that I also really love unit tests and am a bit of performance nut. So when I mix in loading of SilkyMiddleware with using `django_assert_max_num_queries` from `pytest-django` I get a bunch of extra queries that I can't filter out. Views that normall run in 14 queries, now generate

[2020-04-15 01:50] eshxcmhk opened #416 "django.db.utils.ProgrammingError: relation "silk_profile" does not exist"
silk配置数据库连接路由到非```default```，在页面中```Clear DB```（只能勾选```All```）时，报错：
```django.db.utils.ProgrammingError: relation "silk_profile" does not exist```，根据Exception信息发现：
[code]
此处直接使用的```default```，难道不支持使用和业务、```django```不同的数据库吗？或者应该怎么配置呢？

[2020-04-15 05:59] eshxcmhk commented on #416
```settings.DATABASES['default']```修改为```settings.DATABASES[model.objects.db]```可解决

[2020-04-15 08:11] nasirhjafri commented on #416
@eshxcmhk Could you please update your comments in English? Thanks,

[2020-04-15 08:12] nasirhjafri commented on #416
connects https://github.com/jazzband/django-silk/pull/417

[2020-04-15 23:29] morenoh149 opened #418 "silk storing too much data?"
I'm on the heroku hobby tier and when I list the largest tables silk is at the top
[code]
Will this be a problem on production?

[2020-04-17 07:03] eshxcmhk opened #419 "How to display content of ```unicode``` as Chinese"

[2020-04-17 08:20] eshxcmhk commented on #419
#420

[2020-04-17 08:21] #419 closed

[2020-04-21 18:44] sfitzgerald16 commented on #289
Same issue here - any update on this?
python==3.6.1
Django==2.2.10
django-silk==4.0.1
djangorestframework==3.11.0
Postgres 10

[2020-04-27 12:15] eshxcmhk opened #421 "Clear DB when use sqlite caused OperationalError: too many SQL variables"
[code]

[2020-04-28 02:26] Frank5000 commented on #361
Getting the same issue:
[code]
for many vars

[2020-05-05 18:45] AdamMartinCote commented on #265
I am experiencing the same issue with Postgres
Python 3.8
Postgres 12.2
django 3.0.6
django-silk 4.0.1

[2020-05-22 13:14] Kern3l commented on #415
I'd suggest to:
- disable silk for production
- disable silk for the test runner

For example by having separate settings per prod/dev/tests (that may import some common settings at the top).

[2020-05-23 00:31] dragonpaw commented on #415
I considered that, but there's a couple of issues:

If Silk isn't recommended for use in production, I don't know that I'd want to use it ever really. Most of the use case for it is to be able to understand a user's complaint of slow performance for it in production and then be able to trace back to why this is the case. I don't do a lot of interactive use of my app locally, and so I'm unlikely to

[2020-06-01 03:13] lfx opened #423 "_mask_credentials breaks on some html"
Hello guys, awesome tool! Thank you for developing!

I just got some interesting issue with regex in https://github.com/jazzband/django-silk/blob/4.0.1/silk/model_factory.py#L131

[code]
Stack trace:

[code]

I'm getting this erorr while saving email template using https://github.com/ui/django-post_office in admin area.

I'm using silk=4.0.1

[2020-06-01 09:28] vladox commented on #208
How did you solve this issue?

[2020-06-02 04:26] lfx commented on #423
Never mind, it seems that https://github.com/jazzband/django-silk/commit/0cec6a22d12b1f77385ee35c2a335b547e6350e7 fixes regex. Just so far is unreleased.

[2020-06-03 04:21] #423 closed

[2020-06-04 20:59] nasirhjafri opened #424 "Release 4.0.2"

[2020-06-21 14:33] realnot opened #425 "Django silk force installation of django 2.2 while using django 1.11"
Why django-silk force the installation of django 2.2 if the documentation says it can work also with django 1.11?

[2020-06-21 14:43] nasirhjafri commented on #425
Django 1.11 support was removed recently, looks like documentation still needs to be updated.

[2020-06-24 12:03] C0DK opened #426 "[Feature request] See arguments to a given function"
When using the  `silk_profile` decorator I'd love to be able to see the arguments to the function it decorates, as i might (in the following example) have a lot of different requests to `View Blog Post`, where only specific ones might be slow (in theory).

[code]

[2020-07-06 05:43] gavinhodge opened #427 "SILKY_PYTHON_PROFILER_FUNC gets a models.Request instance instead of django Request"
The docs suggest this is possible:

[code]

But on the django-silk==4.0.1 my function is getting an instance of silk.models.Request which means there's no access to the session, authenticated user, etc.

Is this an unintended regression of the data cleansing in RequestModelFactory?

Gavin.

[2020-07-21 13:22] Kern3l opened #428 "Ability to persist or download singular requests"
Hey!

This is a great tool! We're often using it to debug our FE-BE contract. So when we see that a request is misbehaving, we send others a direct link to the request in Silky. The problem is that after time that link won't work. We'd like a method to make such a request persist somewhere - on the server or as a file. Some of the options what to do to add this to Silky:

- add a "persist" button

[2020-07-21 13:28] Kern3l opened #429 "Requests list should be one dimensional"
Hey!

"Requests" view really begs to be a list, maybe even rows of a table (that can be sorted by just clicking on a header, or even it could be filtered by just clicking on a value of later rows). It would be easier to find what you want visually - moving your eyes in one dimension is quicker than in 2 as it is now.

Thanks in advance!

[2020-07-21 19:03] tyc85 commented on #26
Hi all,
   Despite this being closed for a while, I am seeing the problem on macOS, python 3.7 (same problem for 3.6 and 3.8 as well). It doesn't even take a loaded requests to emerge, and of course the code somehow catch the exception and move on without throwing, but it flooded the logs and likely means the intended feature/behavior is not going to work. I was wondering what I can help to fix th

[2020-07-22 20:34] tyc85 opened #430 "IntegrityError: duplicate key value violates unique constraint "silk_response_request_id_key""
Hi all,
   Despite this issues https://github.com/jazzband/django-silk/issues/26 being closed for a while, I am seeing the problem on macOS, python 3.7 (same problem for 3.6 and 3.8 as well). It doesn't take a lot of requests to emerge, and the code somehow catch the exception and move on without throwing. But it flooded the logs and likely means the intended feature/behavior is not going to work.

[2020-08-04 16:20] Tirzono opened #431 "Django Silk is not compatible with Django 3.1: EmptyResultSet is removed in Django 3.1"
https://docs.djangoproject.com/en/3.1/releases/3.1/#id1

[2020-08-04 18:26] #431 closed

[2020-08-07 08:16] quimey commented on #431
Are you planning a release with this fix?

[2020-08-07 08:46] Tirzono commented on #431
I am working on a release PR now, at that point it will be up to @aleksihakli to merge it or not.

[2020-08-07 10:04] FrauElster opened #434 "ImportError EmptyResultSet"
Hi guys,

I could not find this anywhere, so I always doubt myself, but i think there is actually an ImportError.
I am running django 3.1, freshly installed my venv today, so silk should be on the current version.

In `silk/sql.py` on line 4 I get a `ImportError: cannot import name 'EmptyResultSet' from 'django.db.models.sql'`. Thanks to PyCharms auto-complete greatness, I just removed the line, a

[2020-08-07 10:39] Tirzono commented on #434
Duplicate of #431 and fixed in #432

[2020-08-07 10:42] #434 closed

[2020-08-07 12:33] rsommerard opened #436 "Clear requests and clear profiling always disabled"
Why these two checkbox are always disabled even if there are entries in the database?

[2020-08-07 15:26] aleksihakli commented on #431
@Tirzono I am not the project maintainer. You can find the maintainers at

https://jazzband.co/projects/django-silk

Only @avelis and @nasirhjafri can release the sites through the Jazzband site to PyPI.

[2020-08-07 15:30] nasirhjafri commented on #431
I've created a release, It will be published in a while. Thanks @Tirzono and @aleksihakli

[2020-08-07 15:30] aleksihakli commented on #431
Great, thanks @nasirhjafri!

[2020-08-07 15:30] #424 closed

[2020-08-07 15:32] nasirhjafri commented on #436
Because those are not implemented yet, consider them `Coming Soon` feature.

[2020-08-07 15:48] nasirhjafri commented on #431
Published to PyPI.

[2020-08-12 14:09] llostris opened #437 "sql"

[2020-08-12 14:09] #437 closed

[2020-09-08 18:49] mierz00 commented on #429
I agree completely with @Kern3l. I'd love to have a list.

Would you guys be willing to accept a pull request with this feature?

I'm imagining a simple selector in the nav bar that allows you to choose a list or classic view.

@nasirhjafri @albertyw

[2020-09-08 18:50] nasirhjafri commented on #429
@mierz00 sure, please create a PR and tag me for review, thanks!

[2020-09-21 13:08] idealatom commented on #374
Bump. I have same issue with **/admin/jsi18n/** path, my log full of this messages:
_Response to request with pk 11d4bbfe-bccf-4677-acaa-eb4561ead18d has content type text/javascript but was unable to parse it_

[2020-09-22 08:10] idealatom commented on #294
Same issue with Django 2.2, MySQL 5.7 and silk 4.1.0

[2020-09-29 02:46] ZhangYupengCHY opened #442 "Silk shows 0 time for all queries?"
Using django 2.2.14 and django-silk 3.0. Just return overall time but the queries are all 0.Is some wrong about the version of django-silk or django?How can I solve the  bizarre issus. @avelis

Package              Version
-------------------- ----------
asgiref              3.2.10
autopep8             1.5.4
certifi              2020.6.20
chardet              3.0.4
decorator            4.4.2
Djang

[2020-09-29 03:19] ZhangYupengCHY commented on #442
BTW.I check the database `silk_sqlquery`,empty,no record.And I am pretty sure I was queried anthoer table.
![q2](https://user-images.githubusercontent.com/49268744/94508907-9e7e2c00-0245-11eb-8a24-5597da082c62.jpg)

[2020-10-01 22:06] infosrabah opened #444 "django silk profile persmission clash with my profile permission."
Hi,

Can't make a  migrations, because I got 2 profile permissions, one of the profile silk and the other profile of my application,

since a lots of people have a profile model and use permissions, I really would like if django silk could change the name of their permission to not clash with other people profile permissions, like the name of django silk profile permission will be "profile_perm"..

[2020-10-02 18:45] jshields opened #446 "RemovedInDjango40Warning: `django.conf.urls.url` deprecated in favor of `django.urls.re_path`"
Usage of deprecated function `url` results in a deprecation warning (`RemovedInDjango40Warning`):
https://github.com/jazzband/django-silk/blob/b3185b2670a32d866136a9ee96e8e16a7702bbfd/silk/urls.py#L1
[code]

[2020-10-02 23:21] vincentvdp opened #447 "x"

[2020-10-02 23:21] #447 closed

[2020-10-07 14:53] morenoh149 opened #448 "How to uninstall?"
How do you uninstall silk? We can remove the refs from requirements.txt and Pipfile and the settings.py.

But how about the sql tables? do you do `python manage.py migrate silk zero` ?

tracking: @PetrMitsel

[2020-10-08 10:33] okke-formsma commented on #265
As a workaround, make sure to set the `SILKY_MAX_RECORDED_REQUESTS_CHECK_PERCENT` very low (0.01 for example) and the `SILKY_MAX_RECORDED_REQUESTS` high (100_000 or more).

This way, the chances of running into this issue are much smaller.

An even better workaround is to set `SILKY_MAX_RECORDED_REQUESTS_CHECK_PERCENT` to 0 and run the `silky.Request.garbage_collect` method in a scheduled task thr

[2020-10-14 11:57] anuj9196 opened #449 "disable silk when DEBUG=False"
Silk is an awesome tool for profiling in development, but in production, it seems to be of no use and filling up the database rapidly to heavy requests.

I want to disable silk when the application is in the production mode `DEBUG=False`

[2020-10-14 12:09] nasirhjafri commented on #449
Add a new setting `SILKY_INTERCEPT_FUNC = lambda r: settings.DEBUG`
This should do the trick.

[2020-10-19 16:40] dbiegunski opened #450 "ORA-01400: cannot insert NULL into ("OT_TOOL_DEV"."SILK_REQUEST"."PROF_FILE")"
django-silk with Oracle not working properly.

IntegrityError at /
ORA-01400: cannot insert NULL into ("OT_TOOL_DEV"."SILK_REQUEST"."PROF_FILE")

pip install https://github.com/jazzband/django-silk.git@09338c1e3ecea1f521eeaee79e6e4a78960fc0d3#egg=django_silk

django-silk (4.1.1.dev3+g09338c1)
Python 3.8.0
Django 2.2.16

[2020-10-22 05:25] makimat commented on #305
Since this issue seems to be resolved, I think you could remove the security note from the main README.md? That's at least misleading people to think they might better not to use django-silk at all.

[2020-11-02 08:19] eshxcmhk commented on #421
@mtford90
[https://sqlite.org/limits.html](url) ```Part 9```
*Maximum** Number Of Host Parameters In A Single SQL Statement*

[code]

[2020-11-05 16:28] castordev commented on #398
I've been testing it and it looks very nice. Thank you!

[2020-11-05 16:28] #398 closed

[2020-11-23 22:31] liu1000 commented on #392
I had the same issue and am sharing a workaround.

Although silk can't show the results in GUI, it did generate cProfile .prof files in your `MEDIA_ROOT`. Then I was able to see the results by
[code]

In my `settings.py`:
[code]

[2020-12-02 07:20] xahin96 commented on #74
@tprestegard I am also facing the same issue! How do I run pytest in DEBUG MODE ?

[2020-12-03 02:06] tprestegard commented on #74
@xahin96 I'm not sure whether that's possible. I ended up just doing the check like `if 'silk' in settings.INSTALLED_APPS` rather than `if not settings.DEBUG` since `silk` was only in `settings.INSTALLED_APPS` in my test settings.

I see that #86 was merged since my previous post, so I would think this is fixed in a more recent version of this package, but I can't say for certain from personal exp

[2020-12-05 11:40] #162 closed

[2020-12-05 11:43] #402 closed

[2020-12-05 11:43] #403 closed

[2020-12-05 11:45] nasirhjafri opened #454 "Release 4.1.1"

[2020-12-17 14:58] kb0304 commented on #364
+1

[2020-12-17 16:13] danielMicallef opened #455 "Remove misleading security alert from Readme"
Since[ issue 305](https://github.com/jazzband/django-silk/issues/305) has been resolved the related security note can be removed from the readme:

[2020-12-19 07:11] ChakshuGautam opened #456 "Silk not profiling after uninstall install."
![Screenshot 2020-12-19 at 12 46 16 PM](https://user-images.githubusercontent.com/7413816/102683483-76281d00-41f7-11eb-993a-82b85d56a0f7.png)

I am using silk 4.1 and Django 2.2.0

[2020-12-21 02:37] R-Future commented on #294
Funny thing, the issue #294 and #371 are in deadlock???

[2020-12-24 16:06] savvagen opened #457 "Implement regexp to Dynamic Profiling feature"
**Precondition**: I have a huge django project with hundreds of views
Is there any way how to implement SILKY_DYNAMIC_PROFILING for module, just with passing of module name?
 Like this:
[code]

[2021-02-04 00:04] vincentvdp opened #461 "Request-inspection without SQL-ispection?"
I might be missing something when reading through the ReadMe, but is it possible to have the (default) [request-inspection](https://github.com/jazzband/django-silk#request-inspection) without the (what seems to also be default) [sql-inspection](https://github.com/jazzband/django-silk#sql-inspection)?

The [silk overhead](https://github.com/jazzband/django-silk#meta-profiling) is very large in our

[2021-02-07 01:34] Archmonger opened #462 "Support for the Yappi profiler"
A lot of Django applications have been using async views and websockets on Django Channels (ASGI). Unfortunately the the CPython profiler does not provide detailed profiling for async or threaded applications.

However, Yappi does support these kinds of applications.

[2021-02-07 17:32] danjac commented on #455
What's the status of this? Right now I'm only recommending silk for local usage because of this security alert.

[2021-02-09 14:17] F1ashhimself commented on #211
@loganknecht I have faced the same problem and seems we are looking not in right place.
@nasirhjafri correct me if I wrong, these steps worked for me.

The following steps ARE NEEDED to see graph:

1. **SILKY_PYTHON_PROFILER** and **SILKY_PYTHON_PROFILER_BINARY** both set to **True** in your settings.
2. Method wrapped with **silk_profile** decorator or method that have usage of **silk_profile** c

[2021-02-25 17:38] SergeyKons commented on #455
Currently this alert in readme look outdated.

[2021-03-01 13:49] szuliq commented on #175
@unformatt big thanks for this answer. It has helped me a lot.

[2021-04-07 13:36] gdalmau commented on #442
I experienced this issue with django 3.2; downgrading to `pip install "django<3.2"` worked for me until this issue is fixed.

[2021-04-07 13:36] gdalmau commented on #456
This is a possible duplicate of https://github.com/jazzband/django-silk/issues/442

See my comment if it might help https://github.com/jazzband/django-silk/issues/442#issuecomment-814920147

[2021-04-08 17:13] Jorl17 opened #465 "Support Django 3.2"
Currently, support for Django 3.2 is broken, as per ~~[this issue](https://github.com/jazzband/django-silk/issues/442).~~ (EDIT: the linked issue isn't related to Django 3.2, though support was broken before the PR I have submitted, and I now believe it is fixed)

Therefore, I created this issue to track progress on fixing django-silk in Django 3.2

[2021-04-09 03:05] auvipy commented on #465
would you mind coming up with the initial PR?

[2021-04-09 12:09] Jorl17 commented on #465
Hi,

I wouldn't mind at all -- it was actually my original idea -- however, I'm a bit at a loss as to how to debug the issue. Do you have any slight guidelines as to try to find out where the problem is? I suppose somewhere some exception is being thrown and ignored, or maybe there's a specific bit of code that should be intercepting queries but isn't. Perhaps all I need to do to get a clearer ide

[2021-04-09 22:32] niksite commented on #465
I see a lot of exceptions like that:
[code]

[2021-04-09 22:34] Jorl17 commented on #465
Interesting. I don't see any exceptions in my logs,but I'll look into it and try to setup a test project to debug this specific issue

[2021-04-11 05:11] auvipy commented on #465
start with adding django 3.2 in build matrix and add django autofield settings in app.py checking the django 3.2 relese notes.

[2021-04-13 07:20] dimi-tree commented on #465
🤔 I've installed from master:
[code]
and I'm still seeing 0s for all queries (Django 3.2).

It'd be great to have support for Django 3.2 added into a new release when it is ready. 👍

[2021-04-13 09:36] auvipy commented on #465
the issue was automatically closed.

[2021-04-13 09:57] Jorl17 commented on #465
I believe that Django 3.2 support is indeed fixed, but that issue #442 is something different, as shown by the tests and the test project. In my own project where we initially detected the problem with Django 3.2, installing from git with the applied fixes has solved our issues.

Notice that #442 involves showing 0 for all queries (in the case of Django 3.2 support, no value was shown at all).

Se

[2021-04-13 10:00] Jorl17 commented on #442
@gdalmau Are you sure that you had the same exact issue? Did you see a "0" in for the queries, or did you simply not see any values there?

When I tried Django 3.2, I stopped seeing values (not 0, just no value!), and indeed downgrading, at the time, worked. Notice how @ZhangYupengCHY is using Django 2.2.14!

[2021-04-13 17:42] gevezex commented on #442
U have Django v3.1.0 and still have this issue.

[2021-04-13 17:44] Jorl17 commented on #442
Note that your issue is slightly different, because although you have a "0" in the queries, you have no value in the overall request time. These seem to be two different issues.

[2021-04-13 17:48] gevezex commented on #456
I have the same issue. I am using Django 3.1.0 and silk 4.1. Also have a screenshot in this issue [comment](https://github.com/jazzband/django-silk/issues/442#issuecomment-818922390)

[2021-04-13 17:49] gevezex commented on #442
Ok posted this in issue #442

[2021-04-13 17:58] Jorl17 commented on #456
Could you try to capture the `DEBUG` logging output of Silk? It's probably blowing up internally and logging the error.

[2021-04-13 18:02] gevezex commented on #456
Could you tell me how to do that. Django is in debug mode and that part does not show anything helpfull:

[code]

[2021-04-13 18:03] Jorl17 commented on #456
Try adding this to your `settings.ini`:

[code]

[2021-04-13 18:05] Jorl17 commented on #456
See if anything weird comes up during your normal requests. I believe you should expect to see Silk "blow up" and log some kind of error to the console.

[2021-04-13 18:09] gevezex commented on #456
This is what i get:

[code]

[2021-04-13 18:19] Jorl17 commented on #456
I'm a bit at a loss. Can you perhaps try to dump Silky's `request` table and see what's there? It might be a big dump (and note it may contain sensitive info), but it might provide some more info as to what's going on

[2021-04-13 18:32] gevezex commented on #456
Yes here it is in csv format. I have deleted my db and started from scratch so you have new values:

[code]

[2021-04-13 18:36] Jorl17 commented on #456
I'm sorry, can you also check Silky's `Response` table?

[2021-04-14 06:34] dimi-tree commented on #465
@Jorl17 ah, yes, I think that's right - this is issue #442 where indeed there's an explicit "0" for all queries. Thank you for clarifying.

I've now downgraded to Django 3.1.8 and silk (v4.1.0) is working beautifully!

[2021-04-14 10:21] yovelcohen commented on #465
Is there any hints as to what could cause the lib to not play nicely with 3.2?
downgrading is not always a possibility if you use a feature from 3.2

[2021-04-14 11:03] gevezex commented on #456
I just checked and the silk_response table is totally empty.

[2021-04-14 14:31] gevezex commented on #456
Feels stupid but I have found my issue.
This setting:
SILKY_PYTHON_PROFILER_RESULT_PATH = 'profile/'
That `profile` dir was non existing. I created the dir and now I get values back.

@Jorl17 Many thnx for your efforts!

[2021-04-22 11:01] ZhangYupengCHY commented on #442
Its oky now.Thanks!

[2021-04-22 11:01] #442 closed

[2021-04-27 19:27] aj07mm commented on #269
One other thing. The problem can happen due to a large about of data and a long connection on the database. In that case the server gone away can happen.

Try this increasing these numbers if that happens:

max_allowed_packet: http://dev.mysql.com/doc/refman/5.7/en/packet-too-large.html
wait_timeout: http://dev.mysql.com/doc/refman/5.7/en/gone-away.html

[2021-04-28 12:39] davidhalter commented on #465
I have had the same "0 Queries" issue with Silk on Django 3.2. I haven't tested in a while, but I guess with Django 2.2 it still worked.

After taking a look at this, I can say that this happens only for me when I have multiple requests at the same time. So it looks like it has to do with Django/Silk's threading, but I'm not sure at all why it happens. I previously thought the queries don't get re

[2021-04-30 09:56] Singh-Sg opened #468 "django.db.utils.ProgrammingError: relation "silk_request" does not exist"
django-silk 4.1.0
Python 3.8.5
django-admin.py version 3.1.3

INSTALLED_APPS = [
...
'silk',
...
']

MIDDLEWARE = [
...
'silk.middleware.SilkyMiddleware',
...
]

urlpatterns = [
...
url(r'silk/', include('silk.urls')),

...
]

python manage.py makemigrations silk
python manage.py migrate
python manage.py runserver 2000

all OK

When I go to http://127.0.0.1:2000/admin/
it raises below error >

dja

[2021-05-01 08:25] #468 closed

[2021-05-01 08:25] Singh-Sg commented on #468
We are good now.

[2021-05-04 07:49] #364 closed

[2021-05-05 02:12] waqas-ali-pk commented on #211
Facing same issue, but it works for me after following steps you have mentioned. Thanks!!

It seems graph will only be available if we use decorator or context manager, not if we use silk through middleware (documentation is silent on this).

[2021-05-05 04:11] waqas-ali-pk commented on #265
Issue still exists. :(

Any plan to resolve this annoying issue?

[2021-05-05 09:31] gevezex commented on #465
Any progress for django 3.2 support?  I am getting also these kinds of issues:

<img width="930" alt="Screenshot 2021-05-05 at 11 30 48" src="https://user-images.githubusercontent.com/4493063/117121813-6b7cb780-ad95-11eb-94ce-77acd59d6fbc.png">

[2021-05-05 19:31] dmartin commented on #465
Are those with Django 3.2 issues using 4.1.0 or master? As https://github.com/jazzband/django-silk/commit/76a9b1e5dd173fce4216aad33a5dc7f9954c5f94 seems to have fixed the Django 3.2 issues for me, just waiting for a PyPI release.

[2021-05-05 22:34] davidhalter commented on #465
I'm pretty sure I was using master and still had the issues with the `0 queries`. However that only appears if you start using simultaneous requests. Single requests don't reproduce this feature as far as I can tell.

[2021-05-17 14:24] krzysieqq commented on #465
Any informations about when will be official release that supports Django 3.2?

[2021-05-22 05:21] panhaoyu opened #470 "Unable to develop on windows"

[2021-05-22 05:24] panhaoyu commented on #470
And I tried to run a single test in pycharm, got this exception:

[code]

[2021-05-22 05:30] panhaoyu opened #471 "Cleardb view context error"
Here's some code in `clear_db.html`:

[code]

Here's the code of view:

[code]

The important lines are:

[code]

[code]

We can see, only post have `msg` variable but both get and post need it.

I wanted to send a PR, but the project is unable to run on my windows device, so just record it here, hope to fix it.

[2021-05-22 05:40] panhaoyu opened #472 "Silk couldn'd not record requests."
The image in the browser and the database are listed below, and I'm willing to provide more info if you need it.

![image](https://user-images.githubusercontent.com/23495987/119215785-76a84500-bb02-11eb-8405-c24dc1401dcd.png)

## Silk Request Table

| id | path | query\_params | raw\_body | body | method | start\_time | view\_name | end\_time | time\_taken | encoded\_headers | meta\_time | meta\_n

[2021-05-22 05:40] panhaoyu opened #473 "Silk couldn'd not record requests."
The image in the browser and the database are listed below, and I'm willing to provide more info if you need it.

![image](https://user-images.githubusercontent.com/23495987/119215785-76a84500-bb02-11eb-8405-c24dc1401dcd.png)

## Silk Request Table

| id | path | query\_params | raw\_body | body | method | start\_time | view\_name | end\_time | time\_taken | encoded\_headers | meta\_time | meta\_n

[2021-05-22 05:41] #473 closed

[2021-05-22 05:41] panhaoyu commented on #473
Closed due to duplicated post of github.

[2021-05-27 12:26] Wolff-Lucas commented on #472
According to ticket #465 , django is not yet supported.

[2021-06-13 10:27] armanjtehrani opened #475 "Error when using profiler"
I'm using silk with django 3.1 and python 3.9

The problem is when I use profiler on any of my views, my request page becomes like this:
![silk0](https://user-images.githubusercontent.com/11308498/121803581-99d49900-cc57-11eb-8828-cd358eae72f8.png)
![silk1](https://user-images.githubusercontent.com/11308498/121803582-9b9e5c80-cc57-11eb-981e-b54d9ba8713e.png)

and I also get this error:

[code]

My

[2021-06-14 12:34] tiltec commented on #465
Can confirm that django-silk on `master` works with Django 3.2. PyPI release would be great!

[2021-06-14 14:12] MuslimBeibytuly commented on #454
@nasirhjafri any updates on it?:)

[2021-06-14 14:13] MuslimBeibytuly commented on #446
@jshields it is already resolved and will be at 4.1.1 release

[2021-06-14 15:58] #446 closed

[2021-06-15 13:23] sorasful opened #477 "How to profile request on Django Admin ?"
Hello there !

I'm working with Django 3.2 and version django-silk==4.1.1.dev20+g76a9b1e   (install from a commit because they were troubles with queries not showing up, that's not relevant).

So I use Silk to profile my admin views, I get the time, the SQL queries made, but for getting the actual profiling it says in "Profiling" tab  "No Silk profiling was performed for this request. Use the silk

[2021-06-16 13:49] sorasful opened #478 "[enhancement request] - Add an option to track what Python lines causes the most SQL queries"
Hello,

When using Django-Silk on a project, it is useful to know how many SQL queries are made, where they came from. For now we have a pretty clear understanding of this, we can sort by number of join, time consumed, the type of requests.

For now, we can take any query and see why it was called.

But I wonder, wouldn't it be a good feature to be able to see, for a specific line, how many SQL qu

[2021-06-22 07:15] Archmonger commented on #465
@albertyw Are you available to create a PyPi release for the latest master build?

[2021-06-24 06:05] albertyw commented on #465
I don't have the permissions to create a new PyPi release.  Since this is a jazzband project, you want one of the project leads (https://jazzband.co/projects/django-silk).  @avelis or @nasirhjafri .  It seems @nasirhjafri has been planning a release since #454 .

[2021-07-06 07:02] Archmonger commented on #465
@albertyw seems like @nasirhjafri hasn't been on GH since May, and @avelis hasn't been since March. Is there anything that can be done to move things along regarding pypi releases?
Sorry for the pings about this, seems like you're the only (former?) maintainer for django-silk that's still active on GH at the moment.

[2021-07-06 08:13] albertyw commented on #465
Since this is a jazzband project, the release process is documented in https://jazzband.co/about/releases.  I created https://github.com/jazzband/help/issues/233 and https://github.com/jazzband/help/issues/232 to get this done.

As mentioned in https://github.com/jazzband/django-silk/issues/465#issuecomment-818504874, you can install django-silk directly from github, bypassing waiting for PyPI rel

[2021-07-13 15:20] phoebebright commented on #465
Note: to install from repo need::

        pip install -e git+https://github.com/jazzband/django-silk.git#egg=django-silk

otherwise you get error::

      different name in metadata: 'django-silk'

[2021-07-13 16:21] Archmonger commented on #465
Correct, I have a PR open for this.

[2021-07-27 12:20] jgrewal1991 commented on #289
Same issue here. any update on this?

[2021-08-06 03:11] hoanhan101 commented on #465
If anyone is looking for a one-liner fix, here's what I put in my `requirements.txt` for `pip install`:
[code]

[2021-08-09 10:57] manojsitapara opened #488 "Profiler page is always empty"
Hi, I'm trying to use django-silk but unable to view any information on any page except summary page
I followed all your instructions from "installation" docs section.

in my setting page
`SILKY_PYTHON_PROFILER = True`
`SILKY_PYTHON_PROFILER_BINARY = True`
`SILKY_ANALYZE_QUERIES = True`

Added silk in app section
`'silk'`

Added middleware
`'silk.middleware.SilkyMiddleware',`

I am able to view da

[2021-08-09 17:07] dualmacops commented on #450
Same problem
ORA-01400: cannot insert NULL into ("SILK_REQUEST"."PROF_FILE")

[2021-08-09 17:12] dualmacops commented on #450
When made the fiel nulleable silk summary returns:

ORA-00932: inconsistent datatypes: expected - got NCLOB

[2021-08-14 06:23] tarikki commented on #465
Any updates on getting this to PyPi?

[2021-08-14 06:50] Archmonger commented on #465
The project leads that would have been able to create releases for `django-silk` (@avelis and @nasirhjafri) are MIA.

Additionally, I've pinged the only remaining Jazzband roadie @auvipy (basically leader of the organization), but he is in bad health so his support is not available at the moment.

Which means that until  is better, django-silk will be deprecated.

[2021-08-14 16:01] tiltec commented on #465
I wonder if we can get a note about missing Django 3.2 compatibility onto `README`? Possibly including the hint how to install from git. I just became Jazzband member, maybe I'll make that change...

[2021-08-17 06:32] Archmonger opened #489 "ValueError: Unknown options: analyze (Sqlite backend)"
Django Silk `ANALYZE_QUERIES` does not work with Sqlite3 when using Django 3.2.6.

Django silk fetched via `pip install -e git+https://github.com/jazzband/django-silk.git#egg=django-silk`.

Django-silk latest commit: [`7f03cfef0b554af541dc53fc6d5bee850469098a`](https://github.com/jazzband/django-silk/commit/7f03cfef0b554af541dc53fc6d5bee850469098a).

[code]

This issue is not present on Django 3.1

[2021-08-17 06:32] Archmonger commented on #489
@tiltec Can you confirm if you can replicate this issue?

[2021-08-17 16:57] tiltec commented on #489
Just tried it, seems to work here (Django 3.2.6, django-silk latest commit).

I can make a request and then see the query plan with execution time in Silk:
![image](https://user-images.githubusercontent.com/4410802/129768717-c851d0f5-4ac6-453f-b0ff-d0dfdceca0e1.png)

[2021-08-28 14:48] rohanahata commented on #465
@tiltec any updates on this?

[2021-08-28 22:36] albertyw commented on #465
Still blocked on https://github.com/jazzband/help/issues/233.  Until someone is made a project lead for django-silk, or one of the original leads (@avelis or @nasirhjafri) becomes active again, this project is stuck.

[2021-09-01 10:03] matt-hoskins commented on #450
I've just bumped into this and dug into the underlying cause. It's a side effect of silk originally defining the prof_file FileField as null=True and later changing it to be blank=True and there being a bug in django handling such migrations under Oracle (under Oracle empty strings are saved as NULL values so Django shouldn't have changed the column to become NOT NULL). I've logged a django ticket

[2021-09-01 13:38] matt-hoskins commented on #450
Regarding the NCLOB issue - that is a separate Oracle-related quirk which I've now also experienced - you get that trying to access silk's summary view of requests (i.e. it is a different issue) and it's triggered by these two lines individually in views/summary.py ...
r = models.Request.objects.filter(view_name=view, *filters).annotate(t=Sum('queries__time_taken')).order_by('-t')[0]
r = models.Re

[2021-09-03 22:04] rohanahata commented on #465
@Archmonger can you weigh in on this?

[2021-09-03 22:41] Archmonger commented on #465
@rohanahata Albert is correct. It's currently impossible to create a PyPi release due to Jazzband's organization structure.

Only two roles can make releases: Project leads and roadies.

Our project leads are MIA.

In this situation roadies are supposed to assign a new project lead and manually create a release. Unfortunately, there is only one roadie remaining, but he hasn't been receptive to com

[2021-09-03 22:47] Jorl17 commented on #465
I opened this issue and have submitted the main patch that adds Django 3.2 support (although some work is still remaining, it seems). If there's anything I can do (I wouldn't mind experimenting with helping maintain the repo), please ring me up.

I'm all for helping and I'd be pleased to do so.

[2021-09-03 22:51] Archmonger commented on #465
Feel free to request my review when the PR is complete

[2021-09-03 23:06] Archmonger commented on #465
@Jorl17 Just realized you might be asked "what is left to be 3.2 compatible".

To my knowledge, this is the only remaining 3.2 compatibility issue left on the main branch:
https://github.com/jazzband/django-silk/issues/489

[2021-09-03 23:37] albertyw commented on #489
It would be preferable to automate this by modifying https://github.com/jazzband/django-silk/blob/master/.github/workflows/test.yml to include setting up a sqlite database and running tests against it.  That would help to prove compatibility.

[2021-09-03 23:56] Archmonger commented on #475
Reverted this merge due to this issue with meta profiling

[code]

[2021-09-08 07:17] monkut commented on #456
seeing the same issue here with django 3.2.

I checked that `SILKY_PYTHON_PROFILER_RESULT_PATH`  is defined and exists.  Not sure what the issue is yet.

[2021-09-08 08:00] monkut commented on #456
Poking around the  code I stumbled on this error, which seems to be silently passing.
Looks like the latest code from github is updated ...

[code]

https://github.com/jazzband/django-silk/blob/master/silk/model_factory.py#L323

[2021-09-08 08:23] monkut commented on #456
Looks like this issue was fixed with this:

https://github.com/jazzband/django-silk/commit/76a9b1e5dd173fce4216aad33a5dc7f9954c5f94

uninstalling `django-silk 4.1.0` (installed from pipy )and installing from github resolved the issue

[code]

Looks like there are other issues with the dev version, but at least the values are populated now.

- Avg. Time is negative
- "Using requests that executed..

[2021-09-09 11:52] MT-Cash commented on #473
Duplicate of what?

[2021-09-09 11:52] MT-Cash commented on #473
https://github.com/jazzband/django-silk/issues/488

[2021-09-12 06:00] TheVinhLuong102 commented on #489
I am having this very same issue. It's not a big deal for production apps using PG/MySQL, but it is a pain for the prototyping phase, which typically involves SQLite.

[2021-09-18 05:39] marius-mather commented on #489
It looks like the project is already set up to test against multiple Python versions and databases, the problem is the existing tests all seem to mock queries so nothing hits the actual DB. I'll try to submit a PR with tests that actually call out to the DB.

[2021-09-20 09:08] pythonpro commented on #477
@Archmonger that ^ doesn't work.

Because admin pages can have custom code, that needs to be profiled. And, even standard admin features may significantly slow down the page, e.g. 'list_filter' in case of large table.

@sorasful Example for an admin list view page:
[code]

[2021-09-20 14:51] #477 closed

[2021-09-21 23:05] marius-mather commented on #489
I think this should be closed via #493

[2021-09-21 23:14] #489 closed

[2021-09-22 09:12] #465 closed

[2021-09-22 11:27] MarcoRizk commented on #465
Is this solved ?

[2021-09-22 16:31] Archmonger commented on #465
I don't have any reason to believe there any 3.2 compatibility issues left on the main branch.

But unfortunately that's not in pypi.

[2021-09-25 06:16] daadu opened #496 "middleware raising exception in Django 3.2"
I upgrade the following and getting following crash after that:
- Django from 3.0 -> 3.2
- django-silk 4.0.1 -> 4.1.0

[code]

[2021-09-25 06:21] daadu commented on #496
Ok looks like the issue is no more with "master" branch. Forgot that v4.1.0 does not support Django 3.2.

Closing this.

[2021-09-25 06:21] #496 closed

[2021-09-27 11:25] #416 closed

[2021-09-30 11:16] #448 closed

[2021-10-01 19:21] KristobalJunta opened #502 "Add Hacktoberfest label"
I think it would be cool for this project to take part in the global Hacktoberfest event. Hacktoberfest celebrates open source and encourages participation in the open source community.

More details can be found here: https://hacktoberfest.digitalocean.com/

[2021-10-07 20:12] #360 closed

[2021-10-11 15:34] MuslimBeibytuly commented on #454
@auvipy @daadu can someone help?

[2021-10-12 08:01] auvipy opened #508 "Upgrade jQuery to 3.6+"

[2021-10-13 04:28] auvipy commented on #211
i guess improving docs will be beneficial here

[2021-10-13 04:29] #154 closed

[2021-10-13 04:32] #103 closed

[2021-10-13 04:57] #78 closed

[2021-10-13 05:00] auvipy commented on #502
done

[2021-10-13 05:00] #502 closed

[2021-10-13 19:38] ericlighthofmann opened #514 "[request] ability to sort by execution time in a request"
It would be awesome to have the output in a request as a sortable table so that you could sort by execution time:

![image](https://user-images.githubusercontent.com/17030728/137201532-17459025-7051-4ccf-9a7a-359695914611.png)

[2021-10-13 19:41] #514 closed, assigned to nobody

[2021-10-15 06:52] infosrabah commented on #444
I did change my profile name, but it wasn't ethic. to do so.

but it did fix the issue.

[2021-10-17 05:02] tirkarthi opened #515 "assertDictContainsSubset was removed in Python 3.11"
Ref : https://github.com/python/cpython/pull/28268

[code]

[2021-10-17 05:43] auvipy commented on #515
what should be the replacement

[2021-10-17 05:56] tirkarthi commented on #515
There is no straightforward replacement. Some options : https://stackoverflow.com/questions/20050913/python-unittests-assertdictcontainssubset-recommended-alternative

[2021-10-18 17:14] #224 closed

[2021-10-18 17:15] auvipy commented on #288
you can come with a Proof of concept

[2021-10-20 17:41] MuslimBeibytuly opened #517 "Will this repo be closed?"

[2021-10-20 17:46] #517 closed, assigned to nobody

[2021-11-02 17:30] caesarleong opened #522 "upgrade 4.1.0 to 4.2.0 cause access to wrong table"
I am using silk on a system which does not managed the table, its migration model like this
[code]
it is work fine on 4.1.0, but I encounter below issue on 4.2.0
[code]
it seems something change from 4.1.0 to 4.2.0 at below function
[code]
I am not sure what change cause this issue, but I think it should work the same way like 4.1.0 without error.

[2021-11-03 06:21] auvipy commented on #522
can you please check commit history to track it down?

[2021-11-05 21:32] brianhwitte commented on #269
The code in `profiler.py`, line 125 looks like this:
[code]

The Readme, however, instructs users to set up the app like this:
[code]

When I change my project to look like this everything works ok:

[code]

Background:
python 3.8, Django 2.2
I was getting an error in the django console on starting the app, with a stacktrace pointing to `silk/profiling/profiler.py lineno: 105`.  Also, the requests

[2021-11-10 15:54] auvipy commented on #478
if you have implementation detail feel free to share

[2021-11-12 09:13] j-zaballa commented on #522
I am experiencing a similar error in a multidatabase environment. Some relations from non default database with custom routing don't seem to exist. Works on v4.1.0. Haven't had the time to dig in more thoroughly. As @auvipy suggests, I'll try and track the error through the commit history and report back.

Thank you!

[2021-11-18 17:03] CleitonDeLima opened #525 "Support for multiple databases"
django-silk works with multiple databases?

Example:
[code]

It would be interesting to keep the data collected in another database.

[2021-11-22 14:42] camjw commented on #374
Are there any issues with me opening a PR to fix this? Not sure who the maintainers are here!

[2021-12-15 11:45] vsmelov opened #529 ".prof files are not cleared"
I have 6gb of *.prof files in my static/media folder
how can i limit it?

SILKY_MAX_RECORDED_REQUESTS=10000

i clicked clear db in silky admin panel but i still see these files

[2021-12-15 13:37] iamkarlson opened #530 "How to configure EXPLAIN format with silk?"
Currently, silk uses just EXPLAIN without any flags for profiling posrgres sql queries. Certain tools like https://app.pgmustard.com require JSON to be supplied so they can work the best. How would it be possible to use additional flags like ANALYZE, VERBOSE, BUFFERS, FORMAT JSON with current implementation of the silk profiler?

[2021-12-16 20:54] omiguelperez commented on #525
You can do it adding a db router. Migrate silk app into your custom db and go ahead!

[2021-12-17 14:09] sgelis opened #531 "Hard to integrate with CSP rules in place"
`django-silk` makes extensive use of inline `<style>` and `<script>` tags in its templates. This makes it very hard to :

- Override default behavior of style and/or scripts (whole template needs to be overridden).
-Apply CSP rules properly on a project that wants to use Silk **and** proper CSP rules (almost all templates must be overridden to add `nonce` attributes all over the place).

Was there

[2021-12-19 05:42] auvipy commented on #529
can you share more detail please?

[2021-12-28 10:16] Archmonger commented on #531
Not sure about the historical reasoning, but many django repositories use static files for CSS/JS. I see no reason why we can't do that here.

Feel free to PR this behavior.

[2021-12-28 10:18] Archmonger commented on #530
Implementing a custom `SILKY_PYTHON_PROFILER_FUNC = ...` would be the way to go for your scenario.

You can also PR something like a `SILKY_EXPLAIN_FLAGS` variable as well.

[2021-12-28 10:19] #525 closed

[2021-12-28 11:13] rafou commented on #522
Hey there, we are experiencing the same issue when upgrading from 4.1.0 to 4.2.0 and using multiple database.

I think the problem comes from the new explaining of queries in this version which uses raw SQL to craft the explain SQL statement. The `_explain_query` function  uses the default connection cursor, which is not always the right one to use, in a multi database configuration. You can see t

[2021-12-28 12:59] auvipy commented on #522
MySQLdb._exceptions.ProgrammingError: (1146, "Table 'olympus.backend_user' doesn't exist") says otherwise

[2021-12-28 13:20] rafou commented on #522
Hum 🤔 ? It says otherwise about what ?

If the wrong database is used (which is the case for the default cursor) then yes in the first DB there is a good chance the table `olympus.backend_user` doesn't exists.

[2021-12-29 09:40] Archmonger commented on #529
@auvipy I've confirmed this occurs. Seems like the logic to delete DB rows does not delete files.

[2021-12-31 12:04] luk156 opened #534 "RawPostDataException"
i' m using DRF on POST requests i have an RawPostDataException

[2021-12-31 12:06] luk156 commented on #534
https://github.com/encode/django-rest-framework/issues/2774

[2022-01-04 03:05] auvipy commented on #534
I am closing the issue as ambiguous

[2022-01-04 03:05] #534 closed

[2022-01-04 10:31] luk156 commented on #534
i'm using a custom parser

[code]

in a viewset:

[code]

if a enable silk, post  requests don't work becouse raise RawPostDataException

[2022-01-05 02:32] auvipy commented on #534
ok

[2022-01-06 05:37] #515 closed

[2022-01-06 09:34] auvipy commented on #522
I will be looking forward to a proper PR.

[2022-01-10 11:31] glujan commented on #318
Indeed `autopep8` is used in `silk.code_generation.django_test_client.gen` which is used in `silk.views.request_detail.RequestView.get` so it looks like this issue can be closed.

[2022-01-10 12:41] #429 closed

[2022-01-10 12:41] auvipy commented on #429
thank you

[2022-01-10 12:50] #522 closed

[2022-01-12 12:12] j-zaballa commented on #522
@glujan thank you so much for the PR. It does indeed solve the issue :)

[2022-01-12 14:13] rafou commented on #522
Same here, thanks a lot for the fix ! Looking forward for a new release including this fix :)

[2022-01-12 20:40] pollaro opened #540 "No module named 'silkauthentication'"
I've used silk before on my code. I was re-installing it and updating my `settings.py`.

I followed the instructions in the documentation. Middleware was near the top, put silk in the Installed Apps section.
Tried to run:
`python manage.py syncdb`
`python manage.py makemigrations`
`python manage.py migrate`

All of them gave the same error:
```ModuleNotFoundError: No module named 'silkauthenticati

[2022-01-19 11:08] haplo commented on #534
My best guess is that silk is reading `request.body`, which makes other code that accesses the request body to fail with `RawPostDataException`.

https://github.com/jazzband/django-silk/blob/b6c3934ff606db0a208cd4c7f0461f6f7ea2787a/silk/model_factory.py#L245-L246

It would be useful to see the exception stacktrace.

[2022-01-21 09:51] nschlemm commented on #294
also experiencing this in postgresql, but commenting here as #371 is closed as duplicate and it looks like this has been an issue before as documented in #265 - the workaround mentioned in https://github.com/jazzband/django-silk/issues/265#issuecomment-705482767 might be the most robust approach right now

using django-silk 4.2.0

[2022-01-23 09:26] subodhk01 commented on #349
Yes that is indeed an issue, @shimizukawa did you find any possible solution?

[2022-01-24 07:59] uselessvevo opened #542 "Is there a way to specify what database or scheme silk can use?"

[2022-01-31 16:39] nicokant commented on #534
I'm having this issue too.
I managed to access body in another middleware without raising a RawPostDataException using this code:
[code]

[2022-02-01 20:51] eduzen opened #543 "Update to django 4"
Hey, I've been using the project for a while and I would like to contribute 😄 . I will try to open a new pull upgrading the django version to see if all tests are passing or not.

[2022-02-03 11:26] Archmonger commented on #543
We've already released a version that is Django 3.x compatible.

Did you mean to say Django 4?

[2022-02-03 13:49] eduzen commented on #543
yes, it was a mistake 😄

[2022-02-04 15:40] minifisk commented on #374
Also finding this problem

[2022-02-06 00:42] eduzen commented on #543
Django 4 and 3 are already supported. My bad.

[2022-02-06 00:42] #543 closed

[2022-02-06 09:55] LvPeng990324 opened #545 "It'll raise a django.db.utils.ProgrammingError when using different databases such as Mysql and SQLite"
The error is：
`django.db.utils.ProgrammingError: (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'"Region_province" WHERE "Region_province"."code" = \'320382\' LIMIT 1\' at line 1')`

my database conf：
[code]

from the error, we can see that sqlite syntax are using to mysql, so it errors

can this proble

[2022-02-06 16:50] eduzen commented on #529
@vsmelov I think you could use `python manage.py silk_clear_request_log` for clearing all logged data.

[2022-02-06 16:51] eduzen commented on #529
So, as @Archmonger pointed out, it's the expected behavior of Django. So we can close this ticket, right @vsmelov?

[2022-02-06 17:22] eduzen commented on #508
I updated jquery and jquery-ui, @auvipy do you have some opinion in the way we should test this change?

[2022-02-06 17:24] eduzen commented on #545
Hey @LvPeng990324 maybe you could share a little bit of more context to understand the issue. When is it triggering the issue? Does it happen for all you requests or for some in particular? Maybe you can share the full traceback.

[2022-02-07 02:17] LvPeng990324 commented on #545
Errors occur when it comes to requesting sqlite databases, not all requests will fail
The full traceback is:
`
Internal Server Error: /api/enterprise/enterprise-detail/
Traceback (most recent call last):
  File "C:\Users\pc\AppData\Local\Programs\Python\Python38\lib\site-packages\django\db\backends\utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
  File "C:\Users\pc\AppD

[2022-02-07 04:51] sureshbabupidugu opened #547 "When Silk will update to django 4.0"
Silk Compatibility for django 4.0

[2022-02-07 18:20] arghodayah opened #548 "Pin dependencies"
We are facing some dependencies issues while using django-silk because of [backtracking](https://pip.pypa.io/en/latest/topics/dependency-resolution/), it would be better to pin django-silk dependencies in requirements.txt?

[2022-02-09 15:48] eduzen commented on #545
Hey I'm not sure if silk can handle different databases following the config in your settings with multiple types of databases.

[2022-02-15 16:35] code-review-doctor opened #549 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is assertEqual. [more details](https://codereview.doctor/features/python/best-practice/avoid-misusing-unittes

[2022-02-16 23:11] rolandcrosby-check opened #551 "Release recent changes to PyPI"
Hi, wanted to ping the project leads listed [on Jazzband](https://jazzband.co/projects/django-silk) (@albertyw @avelis @nasirhjafri) to see if anyone would be willing to cut a release of what's been merged to the master branch since 4.2.0 was released last October. My specific pain point is that the Silk release on PyPI breaks Django entirely in multi-database setups; #538 (which has been merged)

[2022-02-17 17:34] Korben11 commented on #349
I think a simple solution would be to change the ignore condition. In my case, I want to ignore all paths that contain `admin` string.
```ignored = any(path in request.path for path in config.SILKY_IGNORE_PATHS)```

[2022-02-18 16:49] ZacharyThomas commented on #522
@auvipy Making a minor release for this would be awesome. I have to patch silk in my repo to get it to run tests which is quite annoying

[2022-02-18 17:19] gitaarik commented on #327
Hi @FlorentPeterschmitt, the gist you linked doesn't exist anymore. Do you still have it somewhere? I would be interested in it.

It's too bad that profiling isn't currently available for executions without a request.

[2022-02-19 08:43] sztamas commented on #551
Hi,
:+1:  on this.

Currently pip installing from GitHub, because multi-database setups aren't working with the latest release.

Thanks!

[2022-02-23 08:33] AyemunHossain commented on #488
I am also having the same problem. And it's still not solved with the django-slik update version. Can anyone help with this issue.
I am using sqlite3 database, middleware, settings everythings as like documentation says but still stuck with this.
@Archmonger

[2022-02-23 09:28] Archmonger commented on #488
Not sure what the cause of this is. I haven't been able to replicate it on my end.

[2022-02-25 05:15] cmkishores commented on #392
Hi,  I am having the same issue. Did you get to solve this? @valentijnscholten

[2022-03-02 03:30] albertyw commented on #548
`requirements.txt` should only be needed when developing django-silk itself.  If you're only using django-silk as a dependency of a larger django project, requirements.txt isn't used and `pip` should only be reading the `install_requires` list in setup.py (https://github.com/jazzband/django-silk/blob/master/setup.py#L38-L47).  `install_requires` packages should generally not be pinned: https://pac

[2022-03-02 03:31] #549 closed

[2022-03-02 17:43] sztamas commented on #551
Thanks @albertyw !

[2022-03-05 05:50] #551 closed

[2022-03-05 06:14] albertyw commented on #548
Fixed in #556.

[2022-03-05 06:14] #548 closed

[2022-03-05 06:14] albertyw commented on #551
Django-silk v4.3.0 now available at https://pypi.org/project/django-silk/4.3.0/

[2022-03-07 17:05] rolandcrosby-check commented on #551
Thanks so much!

[2022-03-08 12:18] AliGx97 opened #559 "No module named 'unisilk'"
I'm getting this error:
[code]
after running:
[code]
Or just running the following gives the same error:
[code]

I followed all instructions , installed it via pip, added the middleware, added to installed apps and added the url.
Django version: 4.0.3
Python version: 3.9.10

[2022-03-08 16:41] AliGx97 commented on #559
There was a missing comma in installed apps.

[2022-03-08 16:41] #559 closed

[2022-03-14 07:22] baruchoxman commented on #530
@iamkarlson @Archmonger I've implemented this functionality, any chance you could review and possibly approve my PR?

[2022-03-19 19:56] baruchoxman commented on #530
@iamkarlson @albertyw Should we mark this one as "resolved" following my fix being merged?

[2022-03-19 22:48] #530 closed

[2022-03-24 11:12] iamkarlson commented on #530
Sorry for leaving you out. We decided to stop using silk as it's heavily hurting our database usage. if we get back - I will certainly try it out! Thanks!

[2022-04-13 13:41] MurphyAdam commented on #374
Any fixes for this? I am running into the same thing while using raw_field_ids

[2022-05-12 02:00] ritiksoni00 commented on #311
it's late but

as Django docs say `distinct()` is only supported by PostgreSQL.

[2022-05-22 07:08] shawnngtq opened #565 "[Question] Best performance settings"
Hi, love what this library does.

When I run this locally, on my powerful machine, I can see that it slows down all the page loading. Anyway I can make this more performant?

I use these settings mentioned in README

[code]

[2022-05-29 11:58] ulgens commented on #540
@pollaro Can you please share your `INSTALLED_APPS` list? It looks like there is a missing comma missing "silk" and "authentication" values.

[2022-06-08 19:52] Joish opened #569 "Attempt to access queries without initialisation. Is the middleware installed correctly?"
I am getting this error when trying to silk_profile decorator  .i.e. `@silk_profile(name='...')`

backend_1             | Exception when performing meta profiling, dumping trace below
backend_1             | Traceback (most recent call last):
backend_1             |   File "/usr/local/lib/python3.9/site-packages/silk/profiling/profiler.py", line 159, in wrapped_target
backend_1             |     s

[2022-06-13 12:01] yuri1992 opened #570 "[BUG] Encoding SQL queries to UTF8"
Explain query function is trying to encode the query to utf8, which may raise an exception when there is no valid encode for certain chars in the query.

`
File "/usr/local/lib/python3.10/site-packages/django/db/models/query.py", line 317, in __getitem__
    qs._fetch_all()
  File "/usr/local/lib/python3.10/site-packages/django/db/models/query.py", line 1324, in _fetch_all
    self._result_cache =

[2022-06-20 11:20] fatalispm opened #573 "Column "silk_request.path" must appear in the GROUP BY clause"
I have tested this on silk 4.2.0, 4.3.0, and Django 3.0.4

`SELECT "silk_request"."id", "silk_request"."path",
 "silk_request"."query_params", "silk_request"."raw_body",
 "silk_request"."body", "silk_request"."method", "silk_request"."start_time",
 "silk_request"."view_name", "silk_request"."end_time",
 "silk_request"."time_taken", "silk_request"."encoded_headers",
 "silk_request"."meta_time", "si

[2022-06-21 12:43] tom3rr opened #574 "Error on collectstatic in version 4.4.0"
Since the update I get the following error when trying to run `python manage.py collectstatic`

[code]

It seems the css file is pointing to a missing asset.

[2022-06-22 19:55] t-a-y-l-o-r commented on #574
downgrading to ==4.3 worked for me

[2022-06-27 17:22] tom3rr commented on #574
The issue persist in version 5.0.0

[2022-07-05 18:37] joshuadavidthomas commented on #574
This should be fixed in v4.4.1 and v5.0.1.

[2022-07-05 18:37] #574 closed

[2022-07-15 02:27] sumanshusamarora commented on #534
I have the same issue. Its not working well with DRF. My middlewares list is as below -
[code]

[2022-07-16 11:35] aDramaQueen opened #581 "Proposal: Drop dependency on pytz in favor of zoneinfo"
Hi,
pytz is/was a good llibrary. But it's obsolete since [PEP 615](https://peps.python.org/pep-0615/). In the long run, you should not use this 3rd party package, but the language integrated functionality.
Even big frameworks like Django [(Django 4.0 Release Info)](https://docs.djangoproject.com/en/4.0/releases/4.0/#what-s-new-in-django-4-0) already dropped pytz.

[2022-07-18 11:52] sanxchep commented on #534
You are a god.

This works,
Django - 4.x
Python - 3.8.x
Ubuntu - 20.04

[2022-07-22 01:54] wangxinglong007 commented on #236
![image](https://user-images.githubusercontent.com/15373068/180345259-f392ff5e-a99c-4236-a835-ba008c1f1f38.png)

[2022-07-22 15:12] quertenmont opened #582 "EXPLAIN query are executed despite SILKY_ANALYZE_QUERIES=False"
My settings are:
[code]

But when I inspect the queries that were executed using 'connection.queries',
I see that all the queries are doubled by silk to get the "explain" of the query.
For instance:
[code]

How can I suppress this ?

Thanks in advance
Loic

[2022-08-08 17:45] fariddarabi opened #587 "unnecessary database hits in model_factory.py and collector.py"
There is some unnecessary database hits in some modules.

first, we set `request.prof_file` and immediatelly call method `save()` on it, but it's not necessary. because method `_process_response` in the middleware will call `save()` at the end.

path: `collector.finalise`
![image](https://user-images.githubusercontent.com/61058406/183478715-55f7b1b1-a00b-4cac-b3e3-d243449db0b0.png)

again, method

[2022-08-10 22:42] AmirMahmood commented on #40
How about using [jazzband/django-constance](https://github.com/jazzband/django-constance) as an optional solution?
User can change `SILKY_INTERCEPT_PERCENT` or enable/disable silk from admin page.

[2022-08-22 09:07] bruno911 opened #593 "Profile Commands?"
I have been trying to Profile some commands that are run via manage.py.

By Commands I mean, a file like this:

https://github.com/jazzband/django-silk/blob/master/silk/management/commands/silk_clear_request_log.py

My initial error was:

"Cannot execute silk_profile as silk is not installed correctly."

So, I noticed DataCollector().request was None, inside _should_profile and so it doesn't allow

[2022-08-24 01:41] ash-plunkett-alliance opened #594 "Django 4.1 unique constraint failing"
Recently we've upgraded our project to Django 4.1, and a unique constraint on a model has begun to fail whilst Silk is enabled.

[code]

The error is being raised here: [silk/sql.py:94](https://github.com/jazzband/django-silk/blob/8664e8c11a0ca85bb118ca2e2012175e444d3fdb/silk/sql.py#L94)

Full stack trace:

[code]

And finally, the query attempted to be run:

[code]

Prior to the Django 4.1 upgrad

[2022-08-30 14:27] MurphyAdam commented on #374
@Ziip-dev I wish I could help, but I left software development to become a fulltime farmer.

[2022-08-30 15:34] camjw commented on #374
@MurphyAdam great decision!

[2022-08-30 15:56] pythonyalfa commented on #374
What kind of farming ? and where ?
Would like to develop some IoT ?

From: Majdi ***@***.***>
Sent: Tuesday, August 30, 2022 7:28 AM
To: jazzband/django-silk ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [jazzband/django-silk] uwsgi log throws an exception (#374)

@Ziip-dev<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FZiip-dev&data=05%7C01%7C%7C579632f37d3

[2022-09-05 12:50] Waszker commented on #594
I also experience the same issue - constraints are causing the exceptions. It looks like the query issued by them is not linked to any model.

[2022-09-16 07:02] mounirmesselmeni opened #597 "Running queryset.explain will result in an error"
Using djangoql as example which does run queryset.explain will result in a ProgrammingError.
Reproducing would be easy by adding a queryset.explain in a view or installing [djangoql](https://github.com/ivelum/djangoql) and try to preform a search in the Django admin.

The generated SQL will contains two explains

[code]

This is caused by `_explain_query` and exactly this part
[code]

A possible w

[2022-09-19 06:10] #208 closed

[2022-09-19 08:14] abadger1 opened #598 "Fails with django-tenants-schemas"
No profiling information. Get an error when trying to import the profile module

[2022-10-10 12:19] gitaarik opened #600 "Feature for Django System check messages"
I sometimes forget that I left Django Silk on. I would not want to have it on all the time. So it's nice for me if the Django tells me when it's enabled.

Using the [Django System check framework][0], I created this simple check function that checks whether Django Silk is enabled and possibly the python profiler.

[0]: https://docs.djangoproject.com/en/4.0/topics/checks/

[code]

[2022-10-10 12:20] kaushikk25 opened #601 "django += 1 increments by 2 instead of 1"
I am trying to increment the same parameter in all objects in the query set.
I  have wondered if it could be achieved in a simpler way, e.g. using the update() function. To put it simply I would like to do something like this:

[code]

If setting middleware in remove 'silk.middleware.SilkyMiddleware' then working fine. other wise increate 2 insted of 1 in ASGI server.

[2022-10-11 07:10] #601 closed

[2022-10-12 08:11] albertyw commented on #587
Fixed in #588

[2022-10-12 08:22] albertyw commented on #581
Yep, we should probably switch from pytz to zoneinfo, but zoneinfo is only part of the standard library as of python 3.9.  Python 3.8 will continue to receive security updates until 2024-10 so that means [backports.zoneinfo](https://pypi.org/project/backports.zoneinfo/) will be needed for a while.  This is also what Django is doing to maintain compatibility with older python versions.

[2022-10-12 08:28] albertyw commented on #581
Actually, on second review, it seems the pytz package is only used for `pytz.UTC` which should be trivially replaceable with `datetime.timezone.UTC` (https://docs.python.org/3.7/library/datetime.html#datetime.timezone.utc).  We might not need either pytz nor zoneinfo.

[2022-10-13 03:39] #581 closed

[2022-10-18 11:39] tony opened #606 "requests: Make more graphql friendly"
django silk: 5.0.1

## Limitation

Consider a graphene view at `/api/graphql-endpoint`: Requests to individual queries will show up the same, even though the `request` object would be able to have a query name parsed out.

![image](https://user-images.githubusercontent.com/26336/196418394-0e449d53-3f9f-40bd-a1bb-6022818a0302.png)

## Solution

Two things are needed:

1. An optional custom label fi

[2022-10-18 11:53] tony opened #607 "Request: Custom label / names for requests"
Assume #606, GraphQL requests aren't possible to distinguish at this point.

Sometimes a path has nuance to it, e.g. business logic inside the [`HttpRequest`](https://docs.djangoproject.com/en/4.1/ref/request-response/#httprequest-objects) can be used to label the request so its not random

<details>

![image](https://user-images.githubusercontent.com/26336/196420009-5138cdee-b0e7-4a12-8c7c-e9353c

[2022-10-19 15:04] bruno911 opened #608 "Feature to profile Crons commands?"
Hi,

I was wondering if there is a feature to profile crons, or if there is a way to do it.

I noticed silk will only work when there is a request generated by a view, so is there a way to override this file so that it will also work on crons?

We love silk but we have some long running crons that we would like to debug in production.

If is not possible, could I get some minor directions on how i

[2022-10-27 08:10] SebCorbin commented on #79
This seems to have been fixed in Django since.

[2022-10-27 08:10] #79 closed

[2022-10-27 08:21] #68 closed

[2022-10-27 08:23] #88 closed

[2022-10-27 08:34] SebCorbin commented on #236
This is mostly due to your own code files not being encoded in UTF-8. Anyway this exception should be caught and a proper error message shown.

[2022-10-27 08:37] SebCorbin commented on #262
Seems to have been fixed

[2022-10-27 08:37] #262 closed

[2022-10-27 08:50] SebCorbin commented on #300
Bytes, this is a documentation issue

[2022-10-27 08:58] SebCorbin commented on #309
Garbage collection (clearing the old requests given `SILKY_MAX_RECORDED_REQUESTS` is done either:
 - during request save, but with a chance given `SILKY_MAX_RECORDED_REQUESTS_CHECK_PERCENT`
 - on launching the `./manage.py silk_request_garbage_collect` command

[2022-10-27 09:01] SebCorbin commented on #311
This is not an error with silk but rather with your code (i.e. `/home/user/project/my-web-application/mwa/my_app/views.py`)

[2022-10-27 09:01] #311 closed

[2022-10-27 09:10] #348 closed

[2022-10-27 09:21] SebCorbin commented on #367
Fixed by #490

[2022-10-27 09:21] #367 closed

[2022-10-27 09:23] SebCorbin commented on #238
Surely fixed by #490

[2022-10-27 09:23] #238 closed

[2022-10-27 09:27] SebCorbin commented on #415
Well we can't fix the problem on silk's end, either you update your tests to consider silk database queries, either you disable silk for you unit tests.

[2022-10-27 09:32] #394 closed

[2022-10-27 09:37] SebCorbin commented on #392
The request is created at the beginning of analysis, and saved again with timings upon response being sent to the browser. Hence these kinds of request can happen for requests that are stopped/timeouted before finishing response, e.g.
 - requests debugged with pdb, and pdb is quit
 - request with extra long timeout (and Django is stopped in the meantime)

I'm not sure we can do anything about them

[2022-10-27 09:37] #392 closed

[2022-10-27 09:41] #427 closed

[2022-10-27 09:48] SebCorbin commented on #430
It could be that you included the middleware twice, but this should be check in the ready of `SilkAppConfig`.

[2022-10-27 09:50] SebCorbin commented on #444
Permission are not meant to clash, if they do, you should also check the `app_name` when querying permissions.

[2022-10-27 09:50] #444 closed

[2022-10-27 09:52] #456 closed

[2022-10-27 10:03] SebCorbin commented on #598
Please provide the error and your tenant-schema (DB) config

[2022-10-27 10:19] SebCorbin opened #610 "Cleanup repository"
Remove (and add to gitignore) if needed:
 - web.psd
 - silk.sublime-project
 - package.json and anything related to build a JS app (if possible) #561
 - gulpfile.js ans scss files (if not used)
 - Vagrantfile

[2022-10-27 10:21] SebCorbin commented on #608
Duplicate of #593

[2022-10-27 10:21] #608 closed

[2022-10-27 10:26] SebCorbin commented on #569
Can you paste the function you are decorating?

[2022-10-27 11:56] SebCorbin commented on #582
`SILKY_ANALYZE_QUERIES` is only removing `EXPLAIN ANALYZE` not all `EXPLAIN` queries. This would a be a feature request

[2022-10-27 11:57] #540 closed

[2022-10-27 12:00] SebCorbin commented on #529
Agreed, this would be tackled by [django-unused-media](https://pypi.org/project/django-unused-media/) or [django-cleanup](https://pypi.org/project/django-cleanup/)

[2022-10-27 12:00] #529 closed

[2022-10-27 12:02] SebCorbin commented on #508
Although I would prefer we rely on no jQuery at all, which is the way to go, I'll have a look at the PR

[2022-10-27 12:05] SebCorbin commented on #478
I would say that displaying similar queries count (see #439) would be enough to identify which line are causing large number of queries in most cases.

[2022-10-27 12:05] #478 closed

[2022-10-27 12:12] SebCorbin commented on #471
Can you paste the full traceback of your error? It should not be an error if the variable is inexistent

[2022-10-27 12:20] SebCorbin commented on #450
Should be solved by #258

[2022-10-27 12:21] SebCorbin commented on #323
Should be solved by #258

[2022-10-27 12:26] #40 closed, assigned to nobody

[2022-10-27 12:29] SebCorbin commented on #137
I'll leave this open, having a `clear_profiling_data` would be a nice addition but you can also have a look at [django-unused-media](https://pypi.org/project/django-unused-media/) or [django-cleanup](https://pypi.org/project/django-cleanup/)

[2022-10-27 12:35] SebCorbin commented on #289
Please ensure you have `SILKY_PYTHON_PROFILER` set to `True` as per documentation

[2022-10-27 12:36] quertenmont commented on #582
ok, it would be nice to enable this, because the "EXPLAIN" is still an expensive DB query.
that is not always necessary

[2022-10-27 12:44] SebCorbin commented on #461
Can you try adding this to your settings  `SILKY_IGNORE_QUERIES = ['']`

[2022-10-27 13:01] SebCorbin commented on #13
Could be taken from https://github.com/andialbrecht/sqlparse/blob/master/examples/extract_table_names.py or https://stackoverflow.com/a/69684339/848811

[2022-10-27 14:20] SebCorbin commented on #582
In the meantime, I suggest you to try [subclassing your database backend](https://docs.djangoproject.com/en/3.2/ref/databases/#subclassing-the-built-in-database-backends) and set `supports_explaining_query_execution = False` in it

[2022-10-27 15:52] SebCorbin opened #615 "Cleanup filters form javascript"
There is lot of JavaScript on buttons that should not be present (I think it was to replaced them with easier-to-style div), hence `submitFilters()` and `submitEmptyFilters()` are not needed.

[2022-10-27 20:05] SebCorbin opened #616 "Use black as code style"
- pre-commit
 - CI

[2022-10-27 20:56] SebCorbin commented on #181
This seems to be fixed, closing

[2022-10-27 20:56] #181 closed

[2022-10-27 21:19] SebCorbin commented on #294
One possible solution is to use [select_for_update](https://docs.djangoproject.com/en/3.2/ref/models/querysets/#select-for-update) to lock the rows before deletion, using `skip_locked=True`

[2022-10-27 21:21] SebCorbin commented on #236
This should have been fixed by @0650fab8

[2022-10-27 21:21] #236 closed

[2022-10-29 23:58] #508 closed

[2022-10-30 00:00] albertyw commented on #132
Should be fixed in #611

[2022-10-30 00:00] #132 closed

[2022-10-31 10:29] SebCorbin commented on #46
Fixed by #614

[2022-10-31 10:29] #46 closed

[2022-10-31 13:31] vincentvdp commented on #461
Thanks for the suggestion. Unfortunately this system we built is now out of our hands, so I cannot test this. But potentially useful  advice for the future and for others, thanks!

[2022-11-08 20:10] albertyw opened #622 "Create a new release"
@SebCorbin - Since you've created/landed a bunch of PRs, do you want to create another one as a release for django-silk?

[2022-11-09 08:56] SebCorbin commented on #622
@albertyw sure, is there something blocking this one https://github.com/jazzband/django-silk/pull/439 ?

[2022-11-09 09:08] timurchikk opened #624 "Silk Profiler No Silk profiling was performed for this request. Use the silk_profile decorator/context manager to do so."
MIDDLEWARE = BASE_MIDDLEWARE + [
	"silk.middleware.SilkyMiddleware"
]

SILKY_PYTHON_PROFILER = True

I have a decorator silk_profile() on views, but i getting that issue

[2022-11-09 09:11] SebCorbin opened #625 "Drop dependency to jinja2"
Reviewing https://github.com/jazzband/django-silk/pull/623 I noticed we are using jinja2 only twice for classic templating:
 - https://github.com/jazzband/django-silk/blob/8a8ac08282bcc985ad86c7a4bf28a25b1c3dcde5/silk/code_generation/curl.py
 - https://github.com/jazzband/django-silk/blob/b6c3934ff606db0a208cd4c7f0461f6f7ea2787a/silk/code_generation/django_test_client.py

We could keep the `jinja2

[2022-11-09 09:12] SebCorbin commented on #624
Please provide the code where you use `@silk_profile()` or `with silk_profile():`

[2022-11-09 10:13] timurchikk commented on #624
@silk_profile(name="View Get Basket")
    def get(self, request, format=None):
        basket = operations.get_basket(request)
        ser = self.serializer_class(basket, context={"request": request})
        return Response(ser.data)

[2022-11-09 10:17] timurchikk commented on #624
version of django-silk==4.2.0
django==2..2.12

[2022-11-09 10:54] SebCorbin commented on #624
Then I don't see why it would not work, could you check:
 - `MIDDLEWARE` _effectively_ contains `silk.middleware.SilkyMiddleware` at runtime
 - `SILKY_PYTHON_PROFILER` is _effectively_ set to true at runtime
 - `silk` is in INSTALLED_APPS
 - You're viewing the more recent request from the view being profiled

[2022-11-09 11:08] timurchikk commented on #624
Thanks, problem was on installed apps, i changed "silk.apps.SilkConfig" to "silk"

[2022-11-09 11:14] SebCorbin commented on #624
Closely related to https://github.com/jazzband/django-silk/issues/269

[2022-11-09 11:14] #624 closed

[2022-11-10 03:07] albertyw commented on #622
I reviewed and approved that PR already but I also think it could be improved by adding additional test cases.

[2022-11-10 08:37] #625 closed

[2022-11-10 08:37] #269 closed

[2022-11-11 12:29] victoraugusto6 opened #628 "Error in tests when using silk - transaction is aborted"
Hello guys. I have a test that when I add Silk's MIDDLEWARE this error appears:
`django.db.utils.InternalError: current transaction is aborted, commands ignored until end of transaction block`

Strange that when I remove the MIDDLEWARE the error stops. Does anyone know what can it be?

[2022-11-12 20:21] SebCorbin commented on #628
Activating the middleware means you add the mechanic of intercepting SQL queries, you can paste the whole exception to get more info.

[2022-11-15 20:27] hstanev opened #629 "SILKY_ANALYZE_QUERIES=True causes unexpected data updates"
Hi! First of all thanks for creating this library!

I have a case where I increment an integer like this:
MyModel.objects.filter(pk=101).update(counter=F('counter')+1)

When using silk with SILKY_ANALYZE_QUERIES=True - my counter is incremented twice for every sql statement I make.
This is probably not a bug, but I suggest to put a big warning in the docs, so that people use this setting with caut

[2022-11-16 08:37] SebCorbin commented on #629
Could you give us more information about where your query is placed in your code? In middleware, in a view? Also if you can give us a stacktrace of both calls so we can track down why the query would be executed twice.

[2022-11-18 04:55] jezeniel commented on #3
Do not want to necro something, is this possible now? I think this is a useful feature.

[2022-11-18 06:03] utapyngo commented on #594
I see some commits here. When will a new version be released?

[2022-11-18 06:08] albertyw commented on #594
Pending #622

[2022-11-18 07:22] utapyngo commented on #594
#439  is older than 2 years. Do you really want to postpone a release because of it?

[2022-11-18 07:39] albertyw commented on #594
No, I don't.  I think we should do a release asap.

[2022-11-18 21:33] Aperyon opened #630 "Insert queries are not being recorded"
SELECTs, UPDATEs, DELETEs are recorded as expected, but INSERTs are not. I would expect INSERT queries to be recorded as well.

Minimal setup
[code]

Then add
- `"silk"` to `INSTALLED_APPS`
- `"silk.middleware.SilkyMiddleware"` to `MIDDLEWARE`
- `urlpatterns += [path('silk/', include('silk.urls', namespace='silk'))]` in `urls.py`

Then log into django admin to
- create a user
- update the user
- d

[2022-11-19 18:34] #472 closed

[2022-11-20 18:08] SebCorbin commented on #630
Closing in favor of https://github.com/jazzband/django-silk/issues/630

[2022-11-20 18:08] #630 closed

[2022-11-20 18:09] SebCorbin commented on #214
Coming from https://github.com/jazzband/django-silk/issues/630

## Issue

I've tracked down the issue to `SQLInsertCompiler` not being patched to log queries. IMHO patching compilers is dangerous, because all have a different behaviors, and some call `super().execute_sql()`, some don't (like `SQLInsertCompiler`). Hence I looked into our possibilities:

## Method 1: Keep patching

Keep patching the

[2022-11-21 08:24] SebCorbin commented on #622
I suggest to release a `5.0.3` with #594 and then a major one `5.1.0` (maybe with beta) with #631, #619 and more later

[2022-11-22 15:19] Dufran commented on #629
Hi, I encountered same behavior.
I just have a custom method that increment counter that get called via endpoint
And having SILKY_ANALYZE_QUERIES=True messed up some behavior inside tests, like incrementing 2 times.
I think it's related to
https://docs.djangoproject.com/en/4.1/ref/models/expressions/#avoiding-race-conditions-using-f
race conditions, that gets triggered with silk middleware

[2022-11-22 16:15] SebCorbin commented on #629
OK so it seems the EXPLAIN re-execute the query, I'll need to check that, can you give me the database django engine you are using?

[2022-11-22 16:22] SebCorbin commented on #629
I think this is out of our hand then, from https://www.postgresql.org/docs/current/sql-explain.html

[2022-11-22 16:27] Dufran commented on #629
Oh, many thanks for clarification, maybe as OP mentioned it can be added to docs of that parameter?