[2014-06-06 08:08] mtford90 opened #1 "Support binary response bodies"
Currently binary response bodies such as images are ignored and cannot be displayed in the silk UI. Can probably take advantage of `BinaryField` to support this

[2014-06-06 18:18] mtford90 opened #2 "Dynamic profiling using a decorator causes wrapped_target to be profiled?"
See http://i.imgur.com/hdpPKiq.png

[2014-06-06 18:19] mtford90 opened #3 "Allowing profiling outside of the request/response cycle"
e.g. a profile should not have to be associated with a request, perhaps by detecting that no request is in process and then committing profile data on the fly if that's the case.

[2014-06-06 18:22] pydanny opened #4 "Switch to PyPI for managing releases"
As your dependencies are being pulled from the Python Package Index, is there any reason why silk relies on Github tags for managing releases rather than PyPI?

[2014-06-06 18:40] #4 closed, assigned to nobody

[2014-06-06 22:57] svisser opened #6 "requirements.txt must specify exact versions or version upper bounds"
The current `requirements.txt` does not specify exact versions ( `==0.0.X` and so on) but only requires a minimum version number. This means a new release of one of those dependencies could break an installation of this project (due to breaking changes).

[2014-06-06 23:03] svisser opened #7 "urls.py uses incorrect regex expressions"
The regex expressions in `urls.py` use `*` which means zero or more.

However, what is likely meant is `+` as the id numbers must have one or more digits.

[2014-06-07 09:57] #6 closed, assigned to nobody

[2014-06-07 09:57] #7 closed, assigned to nobody

[2014-06-07 10:44] andybak opened #9 "Pip install direct from repo fails"
[code]

[2014-06-07 10:56] #9 closed, assigned to nobody

[2014-06-07 14:40] ionelmc opened #10 "Stacktrace inspector allows users to see any file on the filesystem"
Including everything in settings.py ...

[2014-06-07 17:31] mattandrews opened #11 "Silk's static assets are served from the wrong path"
This could just be my setup, but Silk's template uses file paths like:

[code]

On my machine, this translates to a request for `http://127.0.0.1:8000/static/silk/css/fonts.css` which doesn't load. I would've expected Silk to use my existing `STATIC_URL` as a prefix for these files.

(I realise Silk is probably meant for production not local usage, but I'm curious about what it does before I deplo

[2014-06-10 17:35] #10 closed, assigned to nobody

[2014-06-11 16:31] stevejalim opened #12 "AttributeError: 'thread._local' object has no attribute 'temp_identifier'"
Hi there

With both 0.1.1 and git HEAD, i'm getting the error pasted below.

Django 1.6.5 on OSX Python 2.7.5

Doesn't make a difference whether I'm using runserver or django-devserver for my local server.

Cheers
Steve

[code]

[2014-06-12 11:08] mtford90 opened #13 "Enhance gathering of metadata on SQL queries"
Atm the way in which metadata such as num. joins, tables involved for sql queries is gathered is rudimentary. Should be possible to use something like https://code.google.com/p/python-sqlparse/ to parse the SQL and pull out tables etc via the tokens generated

[2014-06-12 14:34] peterbe opened #14 "Ability to clear old runs"
It's now starting to get quite messy when I visit `/silk/`. I wish there was a button to clear it all out. Or a management command at least.

[2014-06-12 14:36] jbranc opened #15 "request: timestamp on list of requests"
on the main /silk page that shows a block for each request, it would be helpful to have the request timestamp so you can more easily identify groups of requests (i.e. load/ajax) and ensure  you are looking at the right profile

[2014-06-12 16:44] #15 closed, assigned to nobody

[2014-06-12 16:48] #12 closed, assigned to nobody

[2014-06-12 16:48] peterbe opened #16 "Silk fails on binary staticfiles content"
When I'm in production mode I'll let Nginx go straight to the filesystem on these things but when in debug mode I add this to my root `urls.py`:

[code]

Any request on something going through `/cache/foo/bar.jpg` will cause this traceback.

[code]

[2014-06-12 22:18] mtford90 opened #17 "Enhance filtering"
At the moment filtering is rather basic. If Silk is used for long enough it eventually becomes impossible to narrow down the requests that you want to look at, especially if is running in a busy QA/Production environment. I'm thinking of adding some way in which to "build up" filters as opposed to just having static filters like the current version. The most important will be a way in which to nar

[2014-06-12 22:20] mtford90 opened #18 "Aggregation"
It would be really useful to be able to aggregate requests/profiles based on the selected filtering. Perhaps displayed in a graph as a time series. Perhaps these aggregations could be built up and compared or something like that, as it's quite hard to get the overall picture atm.

[2014-06-16 08:40] jinuljt opened #19 "HttpRequest body has UTF-8 Character causes UnicodeDecodeError ?"
I modify model_factory.py and it worked.
diff model_factory.py /tmp/old.py
76,80c76
<         try:
<             raw_body = self.request.body.decode("UTF-8")
<         except Exception:
<             pass
## <

[2014-06-16 18:52] mtford90 opened #20 "Conform to charset flag in Content-Type header of request/response"
At the moment we attempt UTF-8 decoding on responses and no decoding at all on request bodies. We should be checking for the charset flag within the Content-Type header e.g. `Content-Type: text/html; charset=utf-8` and then apply that decoding. Not sure what to default to if that isn't present though, probably just attempt both ascii and UTF-8?

This is what is causing issue #19

[2014-06-17 18:39] #20 closed, assigned to nobody

[2014-06-17 18:41] #19 closed, assigned to nobody

[2014-06-17 18:42] #17 closed, assigned to nobody

[2014-06-19 18:21] makmanalp opened #21 "Incorrect string value: '\xCE\xBB, \xCF\x86...' for column 'raw_body' at row 1"
Happens when I visit any page after installing silk.

[code]

raw_body seems to contain the page content, the generated sql looks like this:

[code]

[2014-06-24 21:59] peterbe opened #22 "Problems with `six.moves.urllib`"
On a fresh new python 2.7 virtualenv I installed silk and I got this:

[code]

I tried `pip install -U six` which then installed six==1.7.2 but that didn't help :(

[2014-06-24 22:01] #22 closed, assigned to nobody

[2014-07-01 05:58] schinckel opened #23 "Don't pin versions in setup.py"
Especially, don't pin versions like pytz==2014.2

[2014-07-01 12:17] #11 closed, assigned to nobody

[2014-07-05 17:45] #16 closed, assigned to nobody

[2014-07-05 17:46] #21 closed, assigned to nobody

[2014-07-05 18:14] #23 closed, assigned to nobody

[2014-07-17 09:09] saintger opened #24 "Incorrect interface for execute_sql"
Hello,

I had some problem related to the function interface of execute_sql in silk/sql.py.

Your interface is:

[code]

With some code to retrieve the result_type keyword:

[code]

However the interface in Django is different (https://github.com/django/django/blob/master/django/db/models/sql/compiler.py):

[code]

In the case where we call without specifying the keyword:
execute_sql('single')

Yo

[2014-07-17 09:12] saintger opened #25 "No data profiled"
I am not sure but for me the URL of 'summary' is /silk, so I had to change this code in middleware.py:

[code]

To this code:

[code]

[2014-07-17 17:47] synotna opened #26 "IntegrityError: duplicate key value violates unique constraint "silk_response_request_id_key""
After activating silk certain urls began erring with:

IntegrityError: duplicate key value violates unique constraint "silk_response_request_id_key"
DETAIL:  Key (request_id)=(1166) already exists.

Sentry stack trace: http://toolbox1.tedc.de:9000/bidev/esldj/group/131/

[2014-07-22 15:46] #24 closed, assigned to nobody

[2014-07-22 15:47] #25 closed, assigned to nobody

[2014-07-22 15:48] #14 closed, assigned to nobody

[2014-07-22 17:04] mtford90 opened #29 "Django 1.7 support"

[2014-08-01 16:20] jakul opened #30 "Live demo link is broken"
The live demo link in the README (http://mtford.co.uk/silk/) gives a 404

[2014-08-02 07:57] #30 closed, assigned to nobody

[2014-08-17 21:04] mtford90 opened #32 "Build fails occasionally due to "missing manage.py""
The test for permissions when viewing files in the SQL traceback occasionally fails.

[2014-08-17 21:06] mtford90 opened #33 "Organise cProfile output as a sortable, more organised table."
It's currently just text dumped into a code block. Would be nice if this could be organised as a HTML table and possibly change the sorting etc (i.e. only sorted by cumulative atm)

[2014-09-02 10:32] GitFree opened #35 "No handlers could be found for logger "silk""
Every time I  request , I get this error tip:  No handlers could be found for logger "silk"
Except this error tip, everything is ok.
Django version 1.5.1
silk version 0.4

[2014-09-15 03:28] GitFree opened #38 "Failed to install index for silk.Request model: (1071, 'Specified key was too long; max key length is 767 bytes')"
I get this warning when run    "python manage.py syncdb".

[2014-09-17 16:27] #35 closed, assigned to nobody

[2014-11-03 15:03] utkuyaman opened #40 "Enable/disable profiler on-the-fly (without stopping Django)"
It would be useful to have a mechanism to start / stop profiler when it is at production (IMO).
I am not sure if it is possible or not, but a page for authenticated users that disables profiling or may be updating SILKY_INTERCEPT_PERCENT to 100 may be suitable for the task.

[2014-11-05 12:22] utkuyaman opened #41 "static files not found problem"
I use uwsgi to run my django server.
In order to open silk admin panel properly the static files of silk must be copied to static folder, or i fixed this issue like that.
Is there simething I miss? or do we always need to copy the files

[2014-11-11 21:34] grumpi opened #42 "Check to see if process_request of SilkyMiddleware has been called, and issue warnings on middleware placement if not"
When I use django.middleware.locale.LocaleMiddleware together with silk, I'm able to trigger the following error by going to /admin/ and /example_app/ (you need to go to both of them to trigger the error):

AttributeError: 'thread._local' object has no attribute 'temp_identifier'

Trace and settings:
https://gist.github.com/grumpi/f0867ac818b6c193fa62

Modified example app to trigger this behavior

[2014-11-13 14:59] #41 closed, assigned to nobody

[2014-11-25 20:00] melbic opened #43 "Silky doesn't work when django.middleware.gzip.GZipMiddleware is enabled"
When the  'django.middleware.gzip.GZipMiddleware' is enabled the following error happens:
  File "...r/lib/python2.7/site-packages/silk/sql.py", line 39, in execute_sql
    sql_query = q % params
UnicodeDecodeError: 'ascii' codec can't decode byte 0x8b in position 1: ordinal not in range(128)

[2014-12-03 21:00] mtford90 opened #45 "Collapse profiles with the same name, in the same request"
e.g. if the same function/block is getting profiled again and again it's not very useful just to get a huge list of each individual hit. it would be nice to have a collapse feature that allows grouping of identical profiles. This is similar to the output of cProfile's percall column. The number of individual calls to a function are profiled and percall gives us the average per call.

[2014-12-03 21:00] mtford90 opened #46 "Remember selected filtering and ordering"
e.g. in profiling, if you leave the page and come back, the filters + ordering + num. shows reset, which is really irritating!

[2014-12-30 19:31] #29 closed, assigned to nobody

[2015-01-20 07:29] pix666 opened #49 "UTC time in templates"
Maybe should add "expects_localtime=True" to filter silk_date_time?

[code]

[2015-01-20 10:21] pix666 opened #50 "AttributeError: This StreamingHttpResponse instance has no `content` attribute"
Middleware breaks loading some images with exception AttributeError.

getattr() helps:
[code]

[2015-01-25 15:26] mtford90 commented on #49
Not familiar with this - what does it do? Just translates into local time?

[2015-01-25 15:27] mtford90 commented on #50
Huh... cheers. I'll add this in the next update

[2015-01-25 15:33] pix666 commented on #49
Yes, it is:
https://docs.djangoproject.com/en/1.7/howto/custom-template-tags/#filters-and-time-zones

[2015-01-25 15:45] mtford90 commented on #49
Great, will add this in the next update also.

[2015-02-20 10:46] miguelfg commented on #26
Hi,

Same problem here :-(
Here the trace in case it helps:

Traceback (most recent call last):

  File "/home/project_name/.virtualenvs/project_name/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 199, in get_response
    response = middleware_method(request, response)

  File "/home/project_name/.virtualenvs/project_name/local/lib/python2.7/site-packages/silk/middleware.py"

[2015-02-20 10:48] mtford90 commented on #26
@miguelfg Yeah for now catch that exception and ignore it.

I'm gonna nail this bug for good this weekend! Have been meaning to for ages.

[2015-02-20 11:27] miguelfg commented on #26
@mtford90 I've wrap it in a try/except clause and it's working to me on the server.

Here is my custom_silk_middleware.py:

===========
import json
from django.utils import timezone

from silk.collector import DataCollector
from silk.profiling.profiler import silk_meta_profiler
from silk import models
from silk.middleware import SilkyMiddleware
from silk.model_factory import ResponseModelFactory,

[2015-02-20 11:33] miguelfg commented on #26
I added as a gist, it looks better -> https://gist.github.com/miguelfg/ec23abf454babc5e6e81

[2015-02-20 11:35] mtford90 commented on #26
@miguelfg Great. I'll everyone know this is fixed via this issue once complete

[2015-02-23 19:14] jguthmiller opened #51 "Post-processing static assets fails due to missing font files"
The file silk/static/silk/lib/bootstrap.min.css references font files that have a relative path that exists outside of the repo. For example:

[code]

This causes post-processing to fail since django can't find the file for cache busting (if you're using CachedStaticFilesStorage):

[code]

[2015-03-17 10:52] darxsys opened #52 "'thread._local' object has no attribute 'temp_identifier' (should log a warning stating that this is likely a middleware issue)"
I've just installed silk and configured it as it says on your tutorial. However, as soon as I enable the middleware, my site breaks with this error inside the get_identifier method of DataCollector class. Why would this happen? As soon as I disable silk middleware, the site works again. Also, I had to add a logger handler for silk before that since it was throwing an error because of that too. Thi

[2015-03-19 08:22] mtford90 commented on #52
Hey @darxsys sorry you're having issues.

This sounds like a middleware ordering issue. If Silk is placed after a piece of middleware that does not return from `process_request`/`process_response` it will break.

[2015-03-19 09:22] darxsys commented on #52
Thank you for your response. Yes, it definitely is some kind of an issue with the middleware ordering in both directions. What I've noticed is that, depending on where I position silk middleware, it throws two different errors. The first one is the one I've originally posted and the second one says something like:

`No request model found while processing response. `

I guess the system returns fr

[2015-03-19 09:27] mtford90 commented on #52
@darxsys yeah it's a real pain getting the ordering correct, I wish there was a way of intercepting requests/responses without being part of the middleware stack (perhaps there is?), in which case this would no longer be an issue.

In the meantime i think it will be a good idea to at least catch this error and log a warning stating that middleware placement is likely the issue. I'll leave this iss

[2015-03-19 09:28] mtford90 opened #53 "Should not have to manually add a logger for silk"
As reported by @darxsys in #52

[2015-03-19 11:58] darxsys commented on #52
I've delved a little deeper into the middleware of our system and it seems that some of them return from process request/response. I'll try reordering them a bit if that is even possible. I wish there was such a way too, don't know about it though. Thanks for help!

[2015-03-19 17:17] ianwalter opened #54 "Migration error"
I'm running Django 1.6.10 and silk 0.4. Here is the trace:

[code]

[2015-03-26 10:14] vesterbaek opened #55 "Django 1.8 support"

[2015-03-26 13:15] mtford90 commented on #26
I am hoping that is fixed now. Requests & Responses now have guids as the primary key, generated python side which should hopefully fix the conflicts

[2015-03-26 13:16] mtford90 commented on #54
@ianwalter i just disabled south migrations since the way silk handles identifiers just changed dramatically to fix a different bug. I suspect that silk shouldn't include migrations anyhow.

[2015-03-26 13:16] #54 closed

[2015-03-26 13:21] mtford90 commented on #53
@darxsys, i haven't been able to replicate this... even if I delete the silk logger from `LOGGING` in my `settings.py`, i do not get an error. Can you remember what error was being thrown? Also what django/python version?

[2015-03-26 13:46] mtford90 commented on #52
An error is now raised in incorrect middleware order is corrected rather than the `temp_identifier` error

[2015-03-26 13:46] #52 closed

[2015-03-26 14:40] mtford90 commented on #43
Closing this as can be solved by middleware placement. Let me know if you're still havin issues tho @melbic

[2015-03-26 14:40] #43 closed

[2015-03-26 14:41] mtford90 commented on #51
@jguthmiller I'm working on fixing this up now - am totally changing the way styles/assets are handled so this should be fixed soon

[2015-03-26 14:41] mtford90 commented on #42
Done.

[2015-03-26 14:41] #42 closed

[2015-03-29 13:01] amjd opened #56 "Deploying silk site-wide"
I have two questions:

1. Is it possible to use silk site-wide, ie without having to add a decorator before each view? If yes, how do we do it?
2. Is it recommended to use silk in production? If any if you is already using it in production, would you care to tell me what's the performance overhead?

Thanks.

[2015-03-30 12:50] darxsys commented on #53
Sorry for being slow. I am using django 1.5.5 with python 2.7.3. Not sure about the errors anymore though.

[2015-04-08 05:54] mtford90 commented on #56
@amjd sorry for the late reply, never noticed this issue for some reason!

It's possible yeah - by default it will capture all views, and then you just use the decorator/context manager for profiling specific areas of code.

On production use - you can see the overhead by enabling meta profiling (see https://github.com/mtford90/silk#meta-profiling). You can also reduce the impact of this overhead

[2015-04-08 05:54] #56 closed

[2015-04-08 06:01] mtford90 opened #60 "Django 1.5 support broken"
Use of `atomic` instead of `commit_on_success` appears to break django 1.5. Need to add some sort of shim

[2015-04-08 06:02] mtford90 opened #61 "Tests broken"
Since the way in which request ids are constructed changed, tests are now broken

[2015-04-08 06:55] #61 closed

[2015-04-08 06:56] #60 closed

[2015-04-08 17:49] mtford90 commented on #55
Should be good now

[2015-04-08 17:49] #55 closed

[2015-04-08 17:50] mtford90 commented on #49
Done

[2015-04-08 17:50] #49 closed

[2015-04-08 17:52] mtford90 commented on #50
done

[2015-04-08 17:52] #50 closed

[2015-04-08 17:53] mtford90 commented on #53
Ok yeah this seems to be a django 1.5 error. Django 1.5 has been deprecated now so I'm not going to make any attempts to support it fully

[2015-04-08 17:53] #53 closed

[2015-04-13 19:14] karabijavad commented on #26
still getting this error:
[code]

[2015-04-13 19:15] mtford90 commented on #26
Damn it!

[2015-04-13 19:17] mtford90 commented on #26
Ok, I will need to rethink the way that this is done - @karabijavad what django version are you using? Also what server? Is it threaded or async?

[2015-04-13 19:24] karabijavad commented on #26
1.7, and whatever manage.py test uses

[2015-04-13 19:27] mtford90 commented on #26
Oh it's happening during test runs... I hadn't thought about that, I wonder if there is something special about the way in which mock requests are setup that cause duplicates. Still doesn't make sense though I don't understand how a duplicate GUID can be created... :D

[2015-04-13 19:27] karabijavad commented on #26
actually, i might have been using an older version... though i was pretty confident i had checked the silk version number before commenting just now.

seems to be fine at this moment... if it pops up again i will let you know

thanks for silk!

[2015-04-13 19:29] mtford90 commented on #26
@karabijavad I think you're on a version where this was supposed to be fixed though - as it looks like the requests are identifed by guids rather than the auto integers... So looks like this is prob still an issue.

But yeah let me know if it keeps popping up, I will also try and replicate it myself at some stage - I hadn't thought about Silk being used in django test cases

[2015-04-13 19:41] karabijavad commented on #26
good point, ok, ill see what i can do about replicating the problem.
fwiw:

[code]

[2015-04-13 20:11] mtford90 commented on #26
cheers!

[2015-04-15 08:34] cosmokai opened #64 "Migrations do not work with Django 1.5.9"
Hi, I'm using Django 1.5.9 and wanted to integrate silk since it should support Django 1.5 (see README).
Now, after I ran migrate I get this:

[code]

The migrations module was integrated in Django 1.7 I think, so how do I use silk with Django 1.5?
Thanks!

[2015-04-15 08:38] mtford90 commented on #64
@cosmokai It looks like south is trying to load the new style django migrations, I didn't foresee that... perhaps there is a way in which to exclude certain apps when you run south's `migrate`?

[2015-04-15 08:41] mtford90 commented on #64
Ahh check this out: https://docs.djangoproject.com/en/1.8/topics/migrations/#libraries-third-party-apps

Apparently if I create a `south_migrations` directory for silk, this issue can be avoided. I'll get on that now, shouldn't take long

[2015-04-15 08:42] mtford90 commented on #64
Actually, for backwards compatibility, it should be `migrations` (for south) and `django_migrations` for the new style, which should automatically be picked up

[2015-04-15 08:51] cosmokai commented on #64
Wow, that was fast... Yes, I think it should work if django_migrations will be picked up, but I'm not sure if django does it. Where did you find that? Another solution would be to use south_migrations and migrations, and require a south installation >1.0.

[2015-04-15 09:06] mtford90 commented on #64
@cosmokai yep you're right - that ended up being the best solution. `django_migrations` ended up requiring an extra settings.py setting so I think it's better just to require the south upgrade. I just released version 0.5.2 with the changes - all seems to work for me. Can you try it and close the issue if all working?

[2015-04-15 09:32] cosmokai commented on #64
I can confirm that it works, thanks!

[2015-04-15 09:33] mtford90 commented on #64
Excellent!

[2015-04-15 09:33] #64 closed

[2015-04-16 14:08] riklaunim commented on #26
On 0.5.2 that errors do show up for me. If the     'silk.middleware.SilkyMiddleware' is at the top it's quite easy to get it. If last - can't get it, but some tests fail with that exception.

Some even throw "TypeError: 'model' is an invalid keyword argument for this function"

	self.client.post(url, data=data)
      File "/env/lib/python3.4/site-packages/django/test/client.py", line 482, in post

[2015-04-27 12:07] kqr commented on #52
@mtford90 The error raised says

What confuses me about this message is that process_response context handlers *are supposed* to return a HttpResponse, so unless Silk is at the bottom of the stack (which might not be wanted) an earlier response middleware will return.

What you probably mean though is that

which means both ends of Silk needs process_request to be triggered, so anything higher in

[2015-04-27 16:23] kqr opened #65 "Weird "Silk middleware has not been installed correctly" error"
Hello, I'm encountering a weird problem with Silk.

First off: the silk middleware is at the top of my middleware stack (I've tried other positions as well) so nothing should be able to stop it from running. What happens though is that *the first request issued when the server has started passes through fine*. The second request gets stuck in the Silk middleware.

In line 94 of `middleware.py:proc

[2015-05-13 17:04] bartg opened #66 "null value in column "view_name" violates not-null constraint"
I installed silk as instructions say, but then I got exception

    null value in column "view_name" violates not-null constraint

Any ideas? By adding to models "null=True" it works fine

[2015-05-18 15:34] fedosov commented on #51
:+1:

[2015-05-25 02:54] KoKoKyaw opened #68 "Middleware problem?? No request model was available when processing response. Did something go wrong in process_request/process_view?"
I would like to get your suggestions on the Silk.

I'm deploying the django-silk 0.5 into existing django (version 1.6.9) framework environment for checking web application performance.
So I added a null logger for silk in the settings.py of django framework. Before it I used to get No handlers could be found for logger "silk" error. After adding it, no more such error. But still not sure it is co

[2015-05-25 16:05] mtford90 commented on #68
Hey there - sorry you're having issues. Have you played around with the order of the middleware? If there is a piece of middleware that returns from `process_request` before Silk, it will not work as Silk will no longer have access to the `request` object which it needs to inspect

[2015-05-25 16:06] mtford90 commented on #66
Closed this due to your pull request

[2015-05-25 16:06] #66 closed

[2015-05-26 03:44] KoKoKyaw commented on #68
yes I did play with the middleware order. Still getting error "No request model was available when processing response. Did something go wrong in process_request/process_view?".

Your suggestions are appreciated.

thanks.

[2015-05-28 07:43] prismic commented on #38
Is there any update on this?  I can take a stab at making a pull request to truncate the path if that's the way to go.

[2015-05-28 07:49] utkuyaman commented on #38
I changed the table definition as i described in my reply. and it worked for me.
Unfortunately I couldn't find time to test it completely and commit the change.
You can try to change the codes and reply here if it works, then i can commit a patch.

[2015-05-29 01:53] prismic commented on #38
I just tried  changing the length of the two fields and it did indeed work for me.

[2015-05-29 09:48] softshape opened #70 "Pin six.py within silk to avoid version incompatibility."
Just installed silk, but after this Django won't start.

  File "C:\Python27\lib\site-packages\silk\urls.py", line 6, in <module> from silk.views.request_detail import RequestView
  File "C:\Python27\lib\site-packages\silk\views\request_detail.py", line 8, in <module> from silk.code_generation.curl import curl_cmd
  File "C:\Python27\lib\site-packages\silk\code_generation\curl.py", line 5, in <mod

[2015-05-29 09:50] mtford90 commented on #70
Hmm, what version of six do you have installed? Six is used for py2/py3 compatibility.

[2015-05-29 09:52] mtford90 commented on #68
The error "/..../.../accounts/login/ was not found on this server" - I can only assume that this is an issue with your nginx routing setup?

Does "No request model was available when processing response." occur within the same request as the nginx error?

[2015-05-29 09:53] mtford90 commented on #65
Hey buddy, huge apologies for late reply. I haven't actually used Silk with 1.5 for ages (I think it's deprecated now?) but I wouldn't expect it to break like this. Is this happening with `manage.py runserver`? If not, what's your setup?

[2015-05-29 09:57] mtford90 commented on #38
@prismic @utkuyaman I def think truncating is the way to go. It would be nice if there was a way to make the `max_length` configurable however - if the database supports >255 e.g. postgres, it does seem a shame to not support that. I suspect it would be a bad idea linking the settings with model fields though...

[2015-05-29 10:05] softshape commented on #70
Django 1.8 has \site-packages\django\utils\six.py version 1.9.0

[2015-05-29 10:09] KoKoKyaw commented on #68
Thanks for your reply.
Based on the wsgi err log, I took a look into the silk middleware.py. From there, I chased the function def and trace back. Knowing it is belonging to model_factory.py. I found out the path/routing issue (what I understand is nginx dont know the base path /base/path/ which is created by django framework).
so try to exclude it by adding if condition as follows:
def construct_

[2015-05-29 10:09] mtford90 commented on #70
Silk won't use Django's version of six but rather whatever is available within your environment. You can see in `requirements.txt` that I used six 1.6 when developing.

Can you run `pip freeze` in your dev environment and see which version you have?

I suspect I will probably need to copy what Django does and include six.py within the project e.g. silk.utils.six.

[2015-05-29 10:13] softshape commented on #70
Found another (old) copy of six.py in "requests" module and updated it to Django's copy. Now it starts OK, but crashes after server request. Log says-

IntegrityError at /
null value in column "view_name" violates not-null constraint
Exception Location:	C:\Python27\lib\site-packages\django\db\backends\utils.py in execute, line 64

[2015-05-29 10:17] mtford90 commented on #70
Ok, you're now experiencing #66 which is fixed in master but not released yet. I'll pin six.py before making a release but for now you can run:

[code]

To use silk master which should fix that `IntegrityError`

[2015-05-29 10:34] softshape commented on #70
It's still there, the same error. I also tried to delete silk tables and recreate them with syncdb but it this won't work. Do you know how to create them without syncdb?

[2015-05-29 11:41] mtford90 commented on #70
Ahhh figured it out, here is the field declaration:

[code]

However the initial migrations were never updated with `null=True`. I have updated this and pushed to master. Please try re-installing from master, drop the tables and execute `syncdb`/`migrate` again. Let me know if it works :)

[2015-05-29 14:45] kqr commented on #65
1.5 is indeed deprecated, I use it for a non-public thing where there just hasn't been time to upgrade. Yes, through manage.py runserver.

[2015-06-03 07:50] biwin opened #71 "IntegrityError: NOT NULL constraint failed: silk_request.view_name"
I'm trying to use with Django 1.8,

The console log,
[code]

Traceback.

[code]

[2015-06-04 12:29] mtford90 commented on #71
Howdy, this should be fixed in master, d'ya wanna give that a try? I'll likely be pushing a new release today anyway.

You can execute:

[code]

[2015-06-04 14:03] mtford90 commented on #71
@biwin the new version is now on pypi, once you've updated you should stop seeing this issue

[2015-06-04 14:04] #71 closed

[2015-06-04 14:18] mtford90 commented on #70
Okay six is now pinned within master so should be no more six compat issues like this.

[2015-06-04 14:18] #70 closed

[2015-06-04 14:26] mtford90 commented on #51
This should now be fixed in master, no idea how that happened, probably pycharm messed around with the URLs.

[2015-06-04 14:26] #51 closed

[2015-06-08 22:00] prismic commented on #38
If changing maxlength is not desirable, what about the ability to turn off indexing on those fields via settings?  I imagine running on a dev box indexing would not be a huge performance issue, although in production it would be.  Would a warning message in the docs about turning off indexing suffice?

[2015-07-11 20:40] pbassut commented on #64
Is it needed to add something to settings.py to get this working? I'm using django 1.5.4 and it throws me an error because it's searching on the wrong directory.

[2015-07-11 20:42] pbassut commented on #64
I got it working, this needed to be added to settings.py:
[code]

[2015-08-04 17:32] ricardodanieltapia opened #73 "running python manage.py silk_clear_request_log it finishes with 'killed'"
Hello guys,

I ran a jmeter script to perform load, after that I tried to clean the log and I got the message:
deleting Profile 0 objects
deleting SQLQuery 201290 objects
killed

The thing is the logs were not deleted right?
could you provide advise please?

Best regards

[2015-08-24 08:53] a1Gupta opened #74 "NoReverseMatch: Reverse for 'summary' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []"
I am getting NoReverseMatch error. I tried placing middleware at top but its giving same error.

These are my middleware classes:

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'subdomains.middleware.SubdomainURLRoutingMiddleware',
    'corsheaders.middleware.CorsMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfV

[2015-09-06 07:15] mtford90 commented on #74
@a1Gupta apologies for the delay in getting to this - have you added silk to your url patterns?

[2015-09-06 07:18] mtford90 commented on #74
Also - which django version?

[2015-09-06 07:22] mtford90 commented on #73
Hey @ricardodanieltapia sorry for the delay in getting to this. Here is what happens when I execute this command:

[code]

This successfully clears the database for me. Where is `killed` coming from in your output? I'm not familiar with jmeter but it looks like the script is being killed prior to completion?

[2015-09-06 08:23] a1Gupta commented on #74
yes I did and I am using Django 1.7.7

[2015-09-24 18:24] kunalgrover05 opened #78 "Using profiler with a WSGI app"
I want to use it with a WSGI server(which runs besides a Django server). I tried writing a wrapper for converting this middleware to a WSGI middleware, but didn't succeed. Any hints on that? Also, will Silk work properly in that case?

[2015-10-07 19:32] miratcan opened #79 "FieldError at /silk/ Cannot resolve keyword 'queries' into field."
[code]

Are you sure that package is stable and ready to use?

[2015-10-08 09:20] risicle opened #80 "Detect manual sql queries"
At the moment silk does its magic by hijacking `execute_sql`, but this doesn't catch `RawQuerySet` queries and certainly doesn't catch queries that use the bare `cursor.execute`, so these appear as time spent in python and the final sql doesn't get logged for nice introspection.

It may be tricky, but it would be nice if silk were able to catch these queries too, possibly by doing the hijacking at

[2015-10-08 10:17] mtford90 commented on #79
:| - this is a new one. Can I ask what django version you're running? Could you also give the full exception?

[2015-10-08 10:18] mtford90 commented on #80
Very very good point. I'll have a think on how best to catch those.

[2015-10-08 10:24] mtford90 commented on #78
Silk is very much tied to Django right now - the quickest way to do what you want would be to tie into Silk's django models in the same fashion as `DataCollector` and the silk middleware, filling in the fields as necessary. You'd also need to tie in the silk meta profiler if you use that (which calculates any increased response time caused by silk)

[2015-10-08 10:53] risicle commented on #80
(especially seeing as when you're using django-silk to e.g. optimize your queries, you'll often end up moving them to more manual sql)

[2015-10-14 13:27] johtso commented on #79
I'm getting the same error.

[code]

[2015-10-19 17:37] avelis commented on #38
@mtford90 To simply create a pull request that simply truncates a Request.path that is larger than `255` can be done in one of two ways:

1. Override the `path` model fields setter using a properties technique.
2. Augment the save method to truncate before persistence to the DB.

Both have pro's can cons. Whichever you lean on I can probably develop, write a test and make a pull request. Both solu

[2015-10-21 02:56] Alkalit opened #82 "TemplateSyntaxError at /silk/ Invalid filter: 'silk_date_time'"
I have fresh installation of silk, but I am getting the error when try switch to /silk/. The most likely cause for this is because in our project we already using tags located in file named filters.py so it raises name conflict with silk tags. Of course we can rename it, or set into nested package, but I think it would be nice if silk will use more specific names for tag files to avoid such errors

[2015-10-29 14:11] AgDude opened #83 "SnakeViz integration"
Does silk actually perform profiling? Or only log sql queries?

This is a nice looking project, and didn't take long to set up, but I didn't see anything I would call a profile, and don't see any screenshots of one in the readme. There is a nice log of all database queries, but when I hear about a profile in python, I think of something like this:
https://docs.python.org/2/library/profile.html

[2015-10-29 15:16] AgDude commented on #83
I decided to use http://jiffyclub.github.io/snakeviz/. If silk could be combine with snakeviz, so silk put the profile in the database, then somehow had a link for snakeviz to view it, that would be awesome. Clearly this would not be a trivial undertaking, snakeviz wants to read a file, and doesn't know anything about django models.

[2015-10-29 15:59] pawojciechowski opened #84 "Add Ascending/Descending sort order GET parameter in RequestsView"
I think that it'll be great, when we can modify requests ordering by url parameter.
Hardcoding '-' is not always useful.

Example parameter name -> **order_type**.

https://github.com/mtford90/silk/blob/1c499c5261e8028131973bdbf76a82e06a941c7f/silk/views/requests.py#L39

[2015-10-30 10:55] ChristopherRabotin opened #85 "UnicodeDecodeError in sql.py: leads to 500 internal error"
It seems that silk does not support UTF-8 characters in SQL queries.

[code]

[2015-11-17 17:19] smaccona commented on #38
@utkuyaman @prismic @mtford90 hard-coding the `max_length` to 255 characters, even if you also safely truncate it to 255 characters via a model property, a pre-save signal or a similar technique won't cover all eventualities, because the character encoding of the underlying table/column is also a factor.

By default, MySQL uses a character encoding it calls `utf8`, however it's not actually `utf8`

[2015-11-17 17:57] avelis commented on #38
@smaccona I believe the attempt was to ensure the ability to capture long URL's that django-silk could be stored. Further up in the thread you will read that indexing a varchar column longer than 255 is not possible in MySQL but it is PostgreSQL. That difference is at the heart of this issue.

[2015-11-17 18:16] smaccona commented on #38
@avelis what I meant was that the current `Request` model's `name` and `view` fields had their `max_length` originally set to 300, regardless of database (before this indexing issue was raised). I was just wondering why the current value of 300 was picked as the `max_length` in the first place.

Also, indexing a `varchar` column longer than 255 characters is possible in MySQL by setting the server

[2015-11-17 19:36] mtford90 commented on #80
@risicle still haven't found the time to have a crack at this (in fact i haven't used Django for a couple months now!). If you want to have a go at this I can give you access to the repo (which is now part of the django-silk organization). Given the minimal time I can commit I could do with adding some contributors to the org! I'll of course be about for advice if needed

[2015-11-17 19:47] mtford90 commented on #83
@AgDude yep silk's profiling is limited to profiling time taken to execute blocks of code & num. database queries executed in that block of code and allows you to trace back those db queries to their origin. @JoshData contributed a cProfile integration a while back though, which sounds more like what you're wanting.

If you fancy contributing the snakeviz integration I'll happy add you to the djan

[2015-11-17 20:01] mtford90 commented on #38
@avelis sorry for not getting back to you sooner! Have been rather overworked recently ;) @smaccona there was no rationale behind 300 as far as I remember... It was probably arbitrary ¯\_(ツ)_/¯.

Interesting analysis though... I've never really used MySQL before but seems to have some pretty baffling design decisions.

I really doubt I'll have time to dig into this myself (and would be a poor use

[2015-11-17 20:26] smaccona commented on #38
@mtford90 agreed on the baffling MySQL design decisions ... I don't think the Django team are going to have an easy fix for this given it's a limitation in one of their dependencies and not really something they control. I have no doubt it's stuff like this that makes them highly recommend PostgreSQL over MySQL.

I propose that we simply reduce `max_length` for both of these fields to 190 and have

[2015-11-17 21:15] mtford90 commented on #38
@smaccona Reckon it's possible to attempt to write the view name, detect the error & fall back to 190 chars? Not sure how viable or accurate detection of this specific error could be though...

@avelis @smaccona, gave you both access to the repo, thanks again for the help & let me know if either of you have any questions on the source code etc

[2015-11-18 12:31] mtford90 commented on #38
@smaccona haha very good point... Ok I would say go for the 190 char limit!

[2015-11-19 21:29] risicle commented on #80
Afraid my todo list is million-item-long at the moment too. Don't think there's anything urgent about it, just thought it was something that belonged on the issues db.

[2015-11-24 16:14] Alkalit opened #87 "Unittesting"
How about to write some tests for this app?

[2015-11-24 16:30] avelis commented on #87
@Alkalit First, I appreciate you expressing interest in making a contribution. You can never have to many tests I always say.

We currently have about 110 tests passing thus far.

If you make a pull request with any tests you write I can be happy to take a look and pull them into the master branch.

[2015-11-24 17:09] Alkalit commented on #87
@avelis Deal.

[2015-12-08 06:11] avelis commented on #79
@mtford90 @johtso Digging into the error message a little bit, it would appear that the following fixed Django ticket might be the culprit: https://code.djangoproject.com/ticket/1796

However, some articles suggest it might not be fixed for every single scenario.

[2015-12-13 00:51] lucas03 commented on #26
Hi,
any news? I am getting same error when someone (bots) are trying to access url that does not exists.
[code]

[2015-12-18 12:05] pmontu opened #88 "wrapper_target recursively called number of times the requests hit before a url with dynamic profiling set"
[code]

multiple profiles of `wrapper_target` created instead of just the actual function.

[2015-12-29 14:13] florisdenhengst opened #89 "Support for missing URL names in Django 1.8 and 1.9"
URL names are optional in Django, but the [``silk.model_factory.construct_request_model``](https://github.com/django-silk/silk/blob/master/silk/model_factory.py#L157) method depends on the presence  ``url_name`` in the resolved url.
This attribute is only set when a ``url_name`` is specified in the pattern for the requested url in Django >= 1.8.
If it is not set, the following error appears:
[code

[2015-12-29 16:59] #89 closed

[2015-12-30 07:17] avelis commented on #82
This issue was resolved in commit: ce50e972971b06bdc2f0983d73059054388573c8

[2015-12-30 07:21] #82 closed

[2015-12-30 07:22] avelis commented on #88
This might be co-related to #2

[2016-01-07 12:16] florisdenhengst opened #91 "Running tests from the Travis config file fails because of difference in django-admin/manage.py"
Running the tests as configured in ``.travis.yml`` does not work correctly because of the removal of ``django-admin.py`` for Django >= 1.8 and the absence of ``manage.py`` for Django < 1.8.

AFAIK, Travis-CI does not support conditional build-steps, i.e. it is not possible to select  ``django-admin.py syncdb`` or ``manage.py migrate`` as a build step from within the Travis configuration file.

The

[2016-01-10 11:49] mcspud commented on #26
I too am having the same issue, but it only seems to appear when running Django (1.9.1) under Werkzeug or Gunicorn.  It seems to reinforce the idea that its a threading issue from above, as the Django dev server runs on a single thread.

[2016-01-12 07:03] Eijebong commented on #26
Got the same issue with django 1.9 and uwsgi

[2016-01-18 10:00] trik commented on #85
as a temporary fix you can change model_factory.py:261 from
`silky_response.raw_body = content`
to
`silky_response.raw_body = content.encode('UTF-8', 'replace')`

[2016-01-18 18:46] avelis commented on #85
@trik I appreciate the helpful temporary solution. I can apply it for now if that works for everyone.

@ChristopherRabotin I will honestly have to look into official UTF-8 support.

If anyone has time for a pull request I can be happy to take a look at it and merge it in.

[2016-01-18 18:47] #91 closed

[2016-01-18 21:16] trik commented on #85
I was already thinking to a pull request but i don't understand well enough those lines.. the UnicodeDecodeError is never raised, the code inside the try/except does nothing but an assignment. we could keep my patch, not ignoring errors and if UDE is raised cause the sql has some binary parameter, use a different encoding to log (maybe b64)

[2016-01-18 21:30] ChristopherRabotin commented on #85
After a few days of testing when I opened this issue, we ended up not being able to use silk in production as it would lead to a substantial increase in the number of database queries making the main functionalities of the platform unavailable.

[2016-01-19 16:34] #1 closed

[2016-01-19 16:34] #85 closed

[2016-01-19 17:33] #84 closed

[2016-01-19 17:42] avelis opened #96 "Refactor Unit Tests to test new sort ordering structure."
The following unit tests fail under the new feature #95
Will have to reteach the unit tests to assert the correct behavior. While this should have been done before it was merged into master. I am actively taking contributions in order to help resolve the growing list issues for this library.

[code]

[2016-01-19 17:44] avelis commented on #96
@trik This was my bad for not having better diligence in testing the unit test suite before merging the pull request. I am looking in the near term to re-enable TravisCI to help everyone know when tests are failing.

[2016-01-19 18:05] avelis commented on #87
Addressed in pull request: #93

[2016-01-19 18:05] #87 closed

[2016-01-19 18:16] #96 closed

[2016-01-20 00:19] avelis opened #98 "base64 encoded responses break unit tests for Python3"
Visible under the last build run on TravisCI(https://travis-ci.org/django-silk/silk/jobs/103436926), the enhancement merged #94 isn't quite Python3 compliant.

This has to due with base64 encoder expecting a byte string and not a string.

Potential solution for https://github.com/django-silk/silk/blob/master/silk/model_factory.py#L240:
[code]

[2016-01-20 00:24] avelis commented on #98
@trik I know you worked on #94 for issues #85 & #1. Would you mind weighing in on if my potential solution (above) will still keep your enhancement intact?

I want to be certain before I unintentionally break the core part of the feature.

[2016-01-20 08:16] trik commented on #98
@avelis sorry, i never use python3.. i made some tests and everything seems fine with your patch, requests are correctly decoded also in p3
anyway, in model_factory.py lines 240-244, i would have done:

[code]

[2016-01-20 10:48] jvlomax commented on #26
Can confirm, have the same issue with django 1.9, running on a heroku server

[2016-01-20 15:46] avelis commented on #98
@trik Thanks for your input and suggestions! This will help me move forward with some confidence.

[2016-01-20 20:00] #98 closed

[2016-01-26 09:08] vshulyak commented on #26
We ran into the same issue.

[2016-01-26 09:53] mtford90 commented on #26
Gonna have another crack at this at the weekend.

[2016-02-04 17:19] sgtsquiggs opened #101 "Migrations not working w/ Django 1.6.11"
[code]

The solution from https://github.com/django-silk/silk/issues/64 did not fix this.

[2016-02-04 19:51] avelis commented on #101
It would appear that the error is trying to load Django migrations and not south_migrations. Django migrations are not available in Django 1.6.+.

[2016-02-04 19:56] avelis commented on #101
@sgtsquiggs Just to be thorough do you have the settings set for south migrations:
[code]
As commented by @pbassut in #64 ?

[2016-02-04 20:05] sgtsquiggs commented on #101
@avelis:

[code]

yet `ProgrammingError: (1146, "Table 'devdb.nauman_silk_request' doesn't exist")` error when visiting localhost:8000/silk/

[2016-02-04 20:15] avelis commented on #101
@sgtsquiggs Check your migrations table to see if it's in there already. It might have written in the migration to it even though it was previously using the wrong file that was causing the error you see above. It's a sanity check ask for good measure.

If it's in there you might have to rollback or remove the record in order to run the migration file again.

[2016-02-05 20:00] markeroon commented on #101
I'm running into the same issue, and I didn't have a previous install.

I installed using `manage.py schemamigration silk --auto` and `manage.py migrate silk` without success. Any ideas?

[code]

[2016-02-05 20:06] markeroon commented on #101
Btw, setting SOUTH_MIGRATION_MODULES as above didn't help.

[2016-02-05 20:07] sgtsquiggs commented on #101
@avelis no row in the migrations table for silk

[2016-02-05 20:13] avelis commented on #101
@sgtsquiggs @markeroon What version of South are you using?

[2016-02-05 20:14] sgtsquiggs commented on #101
@avelis 0.8.4

[2016-02-05 20:24] avelis commented on #101
@sgtsquiggs The `SOUTH_MIGRATION_MODULES` will only work with South version 1.0 or newer.

It's a little hidden https://github.com/django-silk/silk/issues/64#issuecomment-93267323 I bolded it to make it more visible.

That was the solution that was ultimately decided upon in #64

[2016-02-05 21:45] sgtsquiggs commented on #101
Ok! Now we're getting somewhere.

I retried the migration and it looks like it does take place with 0.8.4, but it does not prefix the tables with my project name (nauman).

I have 5 tables (`silk_profile`, `silk_profile_queries`, `silk_request`, `silk_response`, `silk_sqlquery`) but the /silk/ endpoint is looking for `nauman_silk_request` for example.

[2016-02-05 22:11] markeroon commented on #101
@avelis Thanks! Upgrading South helped, but I'm still getting an Error:
[code]

[2016-02-05 22:51] avelis commented on #101
@sgtsquiggs Looking at your stacktrace I am not sure why the ORM is looking for a table that doesn't exist. I would honestly try a fresh migration. Ensure that all tables and all south_migration records are cleared out before trying again.

[2016-02-05 22:55] avelis commented on #101
@markeroon Given the nature of your stacktrace I am honestly perplexed as to what is causing it. Trying to connect the dots and I can see that someone tried to make a pull request to address something similar to it: https://github.com/django-silk/silk/pull/86

When pressing on the contributor as to the nature of the issue I didn't get much of a response.

I also a little at a loss as to the nature

[2016-02-05 23:54] markeroon commented on #101
@avelis Ok. I appreciate you looking into that for me. Thanks!

[2016-02-10 07:13] nabeelahmed opened #102 "All requests to silk's statics give 404 or 500"
A sample console output (getting the following error for every request to silk's static):

[code]
also,

[code]

I just installed **django-silk==0.5.6** (django 1.5) and verified the static's path:

**C:\Python27\Lib\site-packages\silk\static\silk\lib**

or, may be I am missing on some basic local configuration.

[2016-02-10 07:36] avelis commented on #102
@nabeelahmed Doing a quick web search shows that the client or host machine is closing the connection for some reason. This could likely be not related to this library.

For the reasons that _could_ related to this library:

- Ensure that that the file can load statically via the browser.
- Check the settings on the browser you are using and try a different browser.
- Try running your Django serve

[2016-02-10 07:47] nabeelahmed commented on #102
@avelis I appreciate your prompt response.
I have edited the issue title and comment, to make it more clear.
Yh, that 'connection aborted by the host' must be something wrong at my end, probably the very slow django dev server.

Thanks for pointing it out, I'll to try downgrade silk and see if the 404s 'll go.

[2016-02-10 16:56] Alex3917 commented on #26
I just got the same issue with apache and mod_wsgi.

[2016-02-15 06:53] avelis commented on #102
@nabeelahmed Using Django==1.5.12 and the example app in this repo I didn't run into any 404's.

It would appear that there is the word path name `/silk/`being prefixed to all of your static file references.

If you are testing out locally using the `runserver` command you shouldn't need to run collectstatic. That is mostly used in a production setting.

If you are still running into the prefix ur

[2016-02-15 07:13] avelis commented on #79
@johtso @miratcan Using the example app in this repo as well as Django 1.7 I couldn't immediately find your error when navigating the the silk default summary view.

However, further digging into this (and for my learning) uncovers that the `SQLQuery` Model has a foreign key relationship to the `Request` model. That relationship with related_name "queries" is annotated on while running the summary

[2016-02-16 05:17] avelis commented on #26
@Alex3917  @vshulyak @jvlomax @Eijebong @mcspud @lucas03

This thread has been long standing. I am going to do my best and try to find resolution. I have made a contribution that could get to the heart of the issue: 8073c0b231ca36bb820f6287cc44488417890f43

I am asking anyone on this thread to try the latest in master and see if it does resolve the issue you are experiencing.

Best.

[2016-02-24 07:13] nabeelahmed commented on #102
@avelis

`STATIC_ROOT = os.path.join(PROJECT_DIR,'static/')`
`STATICFILES_DIRS = ()`
[code]

The project is in production for last 4 years - 50+ apps - so hopefully the static conf, etc must be ok.

The statics didn't work locally, so I ran `collectstatic `it solved the issue somewhat i.e. get 200 for few and 404 and 500 for other statics:

[code]

[2016-02-25 19:42] zahlio commented on #74
We are also having this issue, using Django 1.8.

[2016-02-29 09:02] nikicat commented on #26
@avelis We've tried it: it doesn't prevent the error and contains a small bug with `e.message` https://app.getsentry.com/share/issue/36303837382e313134323035353639/

[2016-02-29 13:14] nikicat opened #103 "Profile references a query temp_id that does not exist"
Silk raised an error after sending concurrent requests to `runserver`. [Sentry error report](https://app.getsentry.com/share/issue/36303837382e313134333531343537/)

[2016-02-29 17:49] avelis commented on #103
[code]

[2016-02-29 17:52] avelis commented on #26
@nikicat Thanks. This is what I was looking for. I appreciate the help in trying this out. Going to do some investigation into the error you linked.

[2016-02-29 17:53] avelis commented on #103
@nikicat What setup are you running to locally test out concurrent requests. I have been looking for a way to simulate this via a unit test rig but haven't found much.

[2016-03-01 07:31] nikicat commented on #103
This issue occurred inside local `./manage.py runserver` while I was doing some actions that imply ajax requests in multiple tabs of my browser. I don't known any reliable way to reproduce this issue. If I found one I will surely post here.

[2016-03-04 07:07] avelis commented on #26
@nikicat I have decided to move the `transaction.atomic` as decorator to the method itself. If any integrity error occurs it should rollback. This also increases the readability of the `_process_response` method.

If you don't mind giving it a whirl, let me know what it does for you.

[2016-03-07 12:53] erback commented on #38
what is the status on this issue?

[2016-03-07 12:59] smaccona commented on #38
@erback this is not as straightforward to fix as I originally thought because migrations for both Django and South will need to be supported for existing installations.

For now, I suggest you go with the steps outlined in the second paragraph of my comment above at https://github.com/django-silk/silk/issues/38#issuecomment-157457779 to enable longer indexes in MySQL. This can be done without down

[2016-03-07 13:06] erback commented on #38
@smaccona thanks for the swift response. Somehow I got it to work anyway by just running syncdb again after it failed. Is there something that I'm missing, because everythin seems to be working fine now?

[2016-03-07 13:46] smaccona commented on #38
@erback I'm pretty sure your models have been created but the two indexes affected by this bug are missing. This will mean that Silk will still work, but will perform very slowly once you have more than a small amount of data.

You can confirm this by examining the `silk_request` table in your database and checking whether or not the `path` and `view_name` columns have indexes. If not, then querie

[2016-03-07 13:59] erback commented on #38
@smaccona aha now I get it hadn't read through the issue well enough. Thanks for the input!

[2016-03-17 00:58] avelis commented on #38
@smaccona One path forward I see is doing a backwards incompatible change to just reset the initial migration file to the desired new max length. I realize this sort cleaves users the project but could have the desired effect of laying this issue to rest.

[2016-03-19 20:13] shantanugoel opened #106 "PyPi release"
There hasn't been a pypi release for almost 6 months. Is it possible to do so, especially for the django 1.9 compatibility updates?

[2016-03-20 17:19] avelis commented on #106
I can definitely see the use case for a maintenance release.

@mford90 thoughts?

[2016-03-21 05:29] avelis commented on #106
@shantanugoel At the moment I do not have PyPi release capabilities. In an effort to help out, I have made at least a Github release that could be referenced: https://github.com/django-silk/silk/tree/0.5.7

[2016-03-21 05:32] shantanugoel commented on #106
Thanks a lot, @avelis. I'll move to this tag :) Will be good if @mtford90 can make a pypi release as well for wider usage.

[2016-03-23 15:46] digitaldavenyc commented on #26
Is this any closer to being resolved, still an issue for me on the latest with Django 1.9

[2016-03-23 15:49] avelis commented on #26
@digitaldavenyc Unfortunately, I have been having trouble reproducing locally. If you can help me understand your setup to help reproduce consistently I can try and create a test rig for this scenario and try to solve it.

[2016-03-23 15:55] digitaldavenyc commented on #26
Docker 1.9.1
Django 1.9
Python 3.5.1
Postgres (latest)
Gunicorn

Django settings:
SILKY_PYTHON_PROFILER = True

Using @silk_profile decorator on request functions

Is there any other information that would be helpful?

[2016-03-23 16:01] avelis commented on #26
@digitaldavenyc How many Gunicorn processes are running (assuming within the container)? During the request response lifecycle is there any ajax calls being made to the same request url. Is it their first time making that call? Have they made that call before?

[2016-03-23 16:02] reidransom commented on #26
For what it's worth, this issue only showed up for me after deploying to production a couple months ago...

Django 1.8
Python 2.6.7
Postgres (latest)
Gunicorn (3 processes)
Ubuntu 14.04 (no docker)
django-silk==0.5.6

[2016-03-23 16:03] digitaldavenyc commented on #26
It's almost certain the call has been made before, there is a chain of 15 or so requests that are made and we cache some but we are using the silk profiler to track our performance gains using cache and when not using cache.

[2016-03-23 16:05] jvlomax commented on #26
We have been having this issue too, but no Gunicorn or docker. We use:
Heroku
Django 1.9
Python 3.4
Silk(latest)
Postgres(latest)

Looks like Postgres is the one thing everyone shares?

[2016-03-23 16:08] avelis commented on #26
@jvlomax if it is indeed Postgres then is less about a race condition and more to do about the key generation to insert into the table. hmmm, I know @mtford90 made earlier fixes to address that issue though...

[2016-03-23 16:29] avelis commented on #26
@jvlomax @digitaldavenyc @reidransom Looking at the `Request` & `Response` model. I see the id charfield is using [uuid1](https://docs.python.org/2/library/uuid.html). If I created a fork and used uuid4 (with a migration). Would any of you try it out?

It is very possible that uuid1 is not the appropriate charfield generator in a production setting. However, I am not sure if this is indeed the iss

[2016-03-23 16:38] jvlomax commented on #26
I'd be happy to try it. I have tried something similar in my own fork, but was not successful.But i'm not very familiar with the code base so I may have misses something

[2016-03-23 16:38] digitaldavenyc commented on #26
Yes absolutely

[2016-03-23 16:42] reidransom commented on #26
I'll try it.  I'm on python 3.5.1 now.

[2016-03-23 20:44] avelis commented on #26
@reidransom @jvlomax @digitaldavenyc I have published a branch called [uuid4](https://github.com/django-silk/silk/tree/uuid4). It has a migration to use the uuid4 method as the default value generator For the Request and Response model.

I attempted creating a South migration but it did not recognize a change.I believe this is the expected behavior.

Version libraries for reference.
`Django==1.8.9

[2016-03-23 21:14] digitaldavenyc commented on #26
Yeah that did not fix the issue... I still get an IntegrityError on the request_id. It's highly unlikely there is a UUID conflict when creating database entries, UUID is designed to prevent that.

[2016-03-23 21:20] avelis commented on #26
@digitaldavenyc Could you provide a stacktrace on the IntegrityError?

[2016-03-23 21:22] digitaldavenyc commented on #26
[code]

[2016-03-23 22:55] avelis commented on #26
@digitaldavenyc I have added two more commits to the uuid4 branch for now.

Investigating further and it appears that the Request model is somehow trying to get saved a second time during the middleware lifecycle. I am not sure how though. In an effort to try and reduce that I have added some extra checks and referenced the id of the request object directly when creating the response object. This

[2016-03-24 13:25] reidransom commented on #26
Just tried the latest and it didn't work for me:

[code]

[2016-03-24 14:55] digitaldavenyc commented on #26
I think this may have fixed it, I had to delete my docker container for postgres and reinstalled it. Initially the error was still there but after working with fresh data I don't seem to be getting it anymore. Perhaps anyone else still receiving this error should drop the table for django-silk and remigrate it?

[2016-03-24 16:43] avelis commented on #26
@digitaldavenyc glad to see the branch resolved your issue. If I can get a second confirm by @reidransom or anyone else then I'd be happy to merge this branch into master.

@digitaldavenyc I think you are right about it not being a uuid1 v uuid4 issue but to really put this to rest I will probably leave it in.

From there I can look into asking @mtford90 for an official PyPi release.

*fingers cro

[2016-03-24 17:03] digitaldavenyc commented on #26
UUID4 is a bit safer since it's based on randomness, UUID1 is based on the internal system clock and if you are writing fast enough there could be a collision but it would still be highly unlikely. I think [a53604d]( https://github.com/django-silk/silk/commit/a53604dc754f735b9f12b7deac66e395f0d7535b) and [f7cc486](https://github.com/django-silk/silk/commit/f7cc48606afd0a406966be4ff5ae0c90544999eb)

[2016-03-24 19:31] reidransom commented on #26
@avelis @digitaldavenyc  I tried f7cc486 again and didn't see any errors for about an hour.  I didn't drop/migrate the db table.  Then moved to 9c6c8dd and that was fine until 10 minutes ago... I got 2 errors for `/CHANGELOG.txt` and `/readme.html` which (like `/favicon.ico` from earlier) should return 404.  This error hasn't occurred for me on any pages that actually exist.

I'll try refreshing t

[2016-03-24 19:48] digitaldavenyc commented on #26
How are errors on CHANGELOG.txt and readme.html related to this IntegrityError?

[2016-03-24 19:52] reidransom commented on #26
Those endpoints don't exist in my urlconf.  They should return 404, but with silk middleware installed they produce 500 IntegrityError.

[2016-03-24 20:13] avelis commented on #26
@digitaldavenyc @reidransom 9c6c8dd was recently made when I realized I was checking the presence of the `request` attribute on the `Request` model. In hindsight that made no sense. I could always go back one commit on the branch, however I am not sure when it could produce `True` to skip the if check.

[2016-03-25 18:52] avelis commented on #26
@digitaldavenyc & @reidransom In the effort of keeping momentum going on this, I have merged the `uuid4` branch into `master`.

I believe the changes made can start to reduce the amount of errors that users are witnessing.

[2016-03-25 19:09] reidransom commented on #26
Unapplying/reapplying migrations seems to have fixed things for me- "would be 404s" are no longer causing 500s.  @avelis @digitaldavenyc Thank you!

[2016-03-25 20:15] digitaldavenyc commented on #26
@reidransom happy to assist

[2016-03-25 20:15] digitaldavenyc commented on #26
I think this could get closed out.

[2016-03-25 22:59] mtford90 commented on #106
I'll do this tomorrow - @avelis I can also look into giving you access to that ;)

[2016-03-25 23:20] avelis commented on #106
@mford90 Sweet! I have made some commits to the branch. So you might need to check out a tag and push it to PyPi.

[2016-03-25 23:22] mtford90 commented on #106
Got it!

[2016-03-28 12:17] mtford90 commented on #106
Done. @avelis - if you give me your pypi username I can give you the permissions needed to upload new versions

[2016-03-28 12:17] #106 closed

[2016-03-28 15:44] avelis commented on #106
@mtford90 Thanks for publishing a release.

My PyPi username is the same as my Github username. :-)

[2016-03-28 22:40] digitaldavenyc commented on #26
@avelis I don't think this was resolved, the error is back. Working with a brand new docker container and database locally and the IntegrityError is showing up on all requests. I forced an update to the master on github just make sure I'm on the latest and rebuilt, the error is persisting.

[2016-03-28 22:46] avelis commented on #26
@digitaldavenyc Never fear. The bug that will not die is here. So, as I understand it. It's for every request? Instead of just intermittently?

[2016-03-29 03:51] digitaldavenyc commented on #26
@avelis It's on every request

[2016-03-29 04:13] avelis commented on #26
@digitaldavenyc The only resolution I can think of is completely overhauling the request/response middleware behavior and only save the request object when I want to save the response object.

[2016-03-29 04:20] avelis commented on #26
@digitaldavenyc I have removed the extra if check in: 3bc0545f7041c273b762093caeab9c444c3e1f5d

[2016-03-29 07:39] mtford90 commented on #26
Lots of stabbing in the dark with this issue. Just an idea but I think an integration test that replicates this would help i.e. spin up a Django app on an affected server and blast it with requests until this error shows its ugly face. Could be included in the travis build. It would at least speed up the back and forth on this?

[2016-03-29 07:41] mtford90 commented on #106
@avelis done - you should now have permissions.

Process for release is as follows:

* Bump version & requirements in `setup.py`
* Execute `python setup.py sdist register upload` to push to pypi

[2016-03-29 14:44] digitaldavenyc commented on #26
@mtford90 I agree, all the guessing is not helping resolve this, however, a heavy load isn't really the cause for this error to appear, at least from my experience. Happened on the first request.

[2016-03-29 15:22] reidransom commented on #26
@mtford90 @digitaldavenyc When I was testing last week, the errors went away for a bit after dropping and recreating the database table.  After a day or so, they came back consistently.  While the error is not directly caused by heavy load, a smoke test should still reliably reproduce it.

[2016-03-29 15:48] mtford90 commented on #26
Aye, when I suggested heavy load it was to ensure reproduction as opposed to implying only heavy load caused it.

I really really wish I could take this myself but not only am I swamped but I haven't written a line of python for around 10 months now... Any volunteers? :smile:

[2016-03-29 16:33] avelis commented on #106
@mtford90 Got it!

[2016-05-03 07:08] shahakshay94 opened #108 "[Error][Bug]adding silk middleware in MIDDLEWARE causes ImportError"
I followed the docs and tried to add the middleware line in different positions in MIDDLEWARE settings file, but I am getting "ImportError: No Module named context_processors"
Below is my full stack-trace of my error:

[code]

Below is my MIDDLEWARE settings:

[code]

[2016-05-03 22:50] alexkunger commented on #108
I'm getting the same issue

[2016-05-04 13:24] imaia commented on #65
I get this error too using django-extensions (ForeignKeyAutocompleteAdmin) with django-silk

[2016-05-04 16:23] avelis commented on #108
@shahakshay94
Do you know what version of Django you are running and what version of Silk you are trying to use?

[2016-05-04 16:26] avelis commented on #108
This is likely caused by this change that trying to determine where to import csrf based on what version of Django.
https://github.com/django-silk/silk/commit/c1ed0eb2e735d72d1c3e9ef3e1a620f89b8dd5dd

[2016-05-04 16:37] alexkunger commented on #108
I'm on Django 1.7.8 and Silk 0.5.7

[2016-05-04 16:57] alexkunger commented on #108
I have found the issue.

The 0.5.7 release available at https://pypi.python.org/pypi/django-silk does not contain the code here: https://github.com/django-silk/silk/compare/0.5.7...master which is what github says is in 0.5.7

[2016-05-05 04:28] shahakshay94 commented on #108
I have Django v1.7.1 and Silk v0.5.7

[2016-05-27 06:28] auvipy commented on #101
better to upgrade the project to django 1.8 :)

[2016-05-29 18:15] auvipy opened #112 "Using django six rather then maintaining one"
is there any reason still to maintain one? @mtford90 @avelis looking for inputs and I will work to update the code to django six if both of you agree

[2016-05-31 20:07] avelis commented on #112
@auvipy One reason I think this is this way is to ensure a version of six a the library is using vs being overridden to a different version in a virtualenv.

With that said, if you feel it is easier to move onto a newer version of six I am not against that either.

[2016-05-31 20:09] auvipy commented on #112
I will try my proposed changes and send a PR. then lets see

[2016-06-29 13:47] dvinegla opened #115 "Filters are in milliseconds but indicates seconds"

[2016-07-01 09:11] slavasav commented on #26
Hi, one more affected here. django19, mysql db.

[2016-07-07 18:02] hanleyhansen commented on #83
When I add `SILKY_PYTHON_PROFILER = True` to my settings files I get a nice cProfile output in the Profiling tab under Python Profiling.

I copied that text and saved it in a `.prof` but when I run it through snakeviz i get the following error:

[code]

Any ideas?

[2016-07-08 08:56] alexanderatallah commented on #26
I got rid of most of the errors by moving SilkyMiddleware to the end of my MIDDLEWARE_CLASSES. The errors appeared on URLs without trailing slashes. I set `APPEND_SLASH` to True, also

But I still get the same error for every static file requested, like `favicon.ico` (which exists) and `robots.txt` (which doesn't).

Please help!

[2016-07-08 13:24] hanleyhansen opened #121 "Local Dev of Silk. Template Error."
Trying to do some dev on silk but the local project isn't working? I installed migrations and made migrations for the `example_app` project but when i run it and visit the `example_app/` route i got the following error. Bad templates config? The settings file looks like it's for an older version of Django yet the requirements list a django dependency of >1.8 which is when the new `TEMPLATES` setti

[2016-07-08 13:34] hanleyhansen commented on #121
Start this PR to try to get things going. https://github.com/django-silk/silk/pull/122

Any feedback appreciated.

[2016-07-08 14:24] hanleyhansen commented on #121
This issue was resolved in my linked pr. Will close once my pr is merged.

[2016-07-08 15:47] avelis commented on #26
@alexanderatallah Could you share which version of Django you are using?

[2016-07-08 16:04] avelis commented on #121
@hanleyhansen I merged your PR. Thanks for addressing this issue. I greatly appreciate you fixing the failing unit tests.

[2016-07-08 19:26] #121 closed

[2016-07-08 19:28] hanleyhansen commented on #112
The old six should be completely removed now. The last remnants were taken care of in my pr: https://github.com/django-silk/silk/pull/122

[2016-07-08 19:49] #112 closed

[2016-07-12 20:36] avelis commented on #108
@shahakshay94 Release v0.6.0 should be available with the changes you are looking for. https://github.com/django-silk/silk/releases/tag/0.6.0

[2016-07-13 06:24] chid opened #125 "README.md missing in v0.6"
The current version in pypi has an issue with a missing file (README.md), it does not appear to be within the package.

[code]

[2016-07-13 06:32] avelis commented on #125
I made this change so I could convert markdown files to rst when pushing a release to pypi. This reduces the need to manage two readme files. My mistep was assuming the setup was including the markdown version. I will update the package includes to include that file.

[2016-07-13 15:02] hanleyhansen opened #127 "Latest version of django-silk not installing because of missing dependency"
A fresh install of the latest version from pypi results in the following.

[code]

Should `pypandoc` be added to `setup.py` as a dependency? Or should we remove it the dependency on it? `pandoc` seems like overkill for just converting this readme file.

cc: @avelis

[2016-07-13 15:16] avelis commented on #127
@hanleyhansen It's an honest question. I did it to convert the markdown file to rst when publishing releases to pypi. This was a mistake on my end to assume that the markdown readme was included in the package.

[2016-07-13 15:17] hanleyhansen commented on #127
So go with just the markdown should suffice? I can put together a PR. I think users in general would prefer that to adding a big package like pypandoc.

[2016-07-13 15:21] hanleyhansen commented on #127
We have a PR incoming that'll simplify this a tad and should get it working again.

[2016-07-13 15:27] avelis commented on #125
Addressed with PR #128

[2016-07-13 15:27] #125 closed

[2016-07-13 15:28] #127 closed

[2016-07-19 04:46] alexanderatallah commented on #26
@avelis yes, here are a couple dependencies:
`Django==1.8.2
djangorestframework==3.1.0
django-celery==3.1.17
djrill==2.0
psycopg2==2.5.4
gunicorn==19.1.1`

[2016-07-19 05:56] alexanderatallah commented on #26
@avelis actually the most recent update might have fixed it. I had to run `python manage.py silk_clear_request_log` first, though

[2016-07-19 15:03] avelis commented on #26
@alexanderatallah Clearing the request log might make sense. It would appear that the collector was storing stale data in the result of a 404. Commit: 4355083f21aec8de8ae99f290a864d749deb3b44 addresses that exact scenario. Let me know if it persist again. This issue has become the ultimate zombie bug for me.

[2016-07-19 15:05] avelis commented on #26
@digitaldavenyc @nikicat @slavasav @reidransom @jvlomax Anyone available to see if the latest Commit: 4355083f21aec8de8ae99f290a864d749deb3b44 has resolved this issue for you? It might require running the management command `silk_clear_request_log`.

[2016-07-19 15:07] avelis commented on #73
@ricardodanieltapia This would appear that some other parameters are missing in order to fulling understand what is happening with this issue? Could it be possible that another process killed the management command from completion?

[2016-07-19 15:22] chrono opened #130 "SQL queries not ordered correctly w/ MySQL as db backend"
In https://github.com/django-silk/silk/blob/master/silk/views/sql.py#L23 the queries are ordered by `start_time`, which on mysql is defined as `start_time datetime DEFAULT NULL`.

Datetime without further specification has no microsecond precision in MySQL. As a result, the queries do not order correctly.

In our fork, I implemented [a quick hack to address this](https://github.com/tophatmonocle/s

[2016-07-19 16:52] dvinegla commented on #26
@avelis, It works for me.
thank you very much!

[2016-07-20 22:28] avelis commented on #130
@chrono You PostgreSQL & MySQL both seem to be the generally supported. The community around django-silk tend to use Postgres more than MySQL.

You are more than welcome to make a PR to address the start_time issue. If this could create breaking behavior then I can release it as a minor or major version.

[2016-07-21 13:42] javaguirre opened #131 "Select a path to save profiling files"
It would be nice to have a constant to set the path of the `prof` files.

[2016-07-21 14:12] avelis commented on #131
@javaguirre I believe I understand the feature request. Could you describe your use case a little bit more for better context?

[2016-07-21 14:16] javaguirre commented on #131
I want to be able to have the `*.prof` in certain path I choose, not in the root of my project.
<img width="1093" alt="screen shot 2016-07-21 at 16 15 59" src="https://cloud.githubusercontent.com/assets/488556/17025927/7240b7b4-4f5e-11e6-90d0-71065245dd58.png">

[2016-07-21 18:52] javaguirre commented on #73
Could It be out of memory? You can check with `free` if your database is out of memory, the process will be killed if that's the case.

[2016-07-22 15:59] avelis commented on #83
@AgDude @hanleyhansen Was enhancement possibly pushed out in a recent release?

[2016-07-22 16:01] hanleyhansen commented on #83
Yes. The PR i submitted adds a download button to the Profiling page where you can download the binary .prof file and use it in snakeviz.

See: https://github.com/django-silk/silk/pull/123

That was merged and uploaded to pypi.

[2016-07-25 11:26] javaguirre opened #132 "Action done in the DB shown on the queries list in the view"
It would be nice to have the action made (`DELETE`, `UPDATE`,`SELECT` ...) in the queries list (on `/silk/profile/(\d+)/sql/` and `/silk/request/(uuid)/sql/`. For example:

Now:

<img width="929" alt="screen shot 2016-07-25 at 13 18 33" src="https://cloud.githubusercontent.com/assets/488556/17099818/f81b49d0-526a-11e6-977e-0fd24209c09d.png">

After:

<img width="929" alt="screen shot 2016-07-25 at

[2016-07-25 11:27] javaguirre commented on #131
I'd like to do it. :-)

[2016-07-25 15:27] avelis commented on #131
@javaguirre if you can make a pr for it. I can take a look and merge it in if it checks out

[2016-07-26 15:42] avelis commented on #132
@javaguirre This is another good enhancement suggestion.

[2016-07-26 15:43] javaguirre commented on #132
I'll try to spend some time working on this feature.

[2016-07-28 22:17] avelis commented on #83
@hanleyhansen Thanks for confirming with me. I will close this issue and say it was released in v0.6.0 as an exportable feature.

[2016-07-28 22:17] #83 closed

[2016-08-04 05:57] koterpillar commented on #79
I have just got this error when I forgot to add `silk` to `INSTALLED_APPS`. The original author might have a different problem, but this might be easy to diagnose in the views and warn the user.

[2016-08-17 16:18] avelis commented on #131
@javaguirre I merged your PR in. Thanks for making your contribution for this issue.

[2016-08-17 16:21] javaguirre commented on #131
Thank you @avelis more to come I hope! :-)

[2016-08-17 16:21] #131 closed

[2016-08-17 16:25] avelis commented on #131
@javaguirre It's in master now. I have added a snippet to the README on how it's used. I will make a release soon. Likely by EOB Friday.

[2016-08-26 20:41] aehlke opened #137 "Horizon for profiling data"
It would be great to have a way to sunset old profiling data (whether by simply clearing it or archiving it some way). It's not ideal to clear the entire data set regularly. Ideally this isn't something I need to micromanage manually.

Best could be a line I can throw into a cron that will call a manage.py command to clear records older than N days.

[2016-08-26 21:15] avelis commented on #137
@aehlke Sounds like a decent feature. The management command also seems like a non-intrusive way to build this out.

[2016-09-08 21:57] ElSaico commented on #74
I faced this as well; although the docs imply otherwise, seems like its endpoints are not optional. Just imported them into my `urls.py` and it worked again.

[2016-09-08 22:16] avelis commented on #74
@ElSaico Can you point to me where in the docs it says app's endpoints are optional. Maybe a result of this issue is to change the expectation for proper installation.

[2016-09-30 14:09] hanleyhansen opened #141 "Pypi version upload"
Hi @avelis,

Would you mind uploading a new version to pypi (0.7.1) so that my PR changes make it into the package? Please and thank you!

[2016-10-01 14:34] avelis commented on #141
@hanleyhansen Ok. Should be on pypi. And the release is under the releases tab a v0.7.1

[2016-10-01 14:59] hanleyhansen commented on #141
Confirmed! Awesome! Thanks! Closing this issue.

[2016-10-01 14:59] #141 closed

[2016-10-02 12:44] hassonofer opened #142 "Bad requirements for postgres based installations"
After merging #140, `pip install django-silk` fails for postgres based installations.

mysqlclient was added as a requirement, which produces the following error (if no mysql installation exist).

[code]

[2016-10-02 14:12] avelis commented on #142
@hassonofer I had a feeling this was going to happen. For now install version `1.7.0`. I will have to figure out an SQL agnostic solution for what @hanleyhanson was looking for in the last release.

[2016-10-02 17:39] hassonofer commented on #142
First of all, thank you very much for the prompt response.

I did not test it myself, but as far as I know ```django.db.DatabaseError``` or the more general ```django.db.Error``` should catch this error.
As documented here: https://github.com/django/django/blob/149ace94dfc10504a0e69462c7737f5ce05340a4/docs/releases/1.4.txt#L880

[2016-10-02 17:50] hanleyhansen commented on #142
Hi @hassonofer,

I'll be home on 30 mins and will try that. It if works I'll put another PR up. I'm sore @avelis will merge it right away so we don't hold you up.

Sorry for the inconvenience.

[2016-10-02 17:53] hassonofer commented on #142
There is not rush at all, I updated my puppet manifests today to stay on 0.7.0 :)

[2016-10-03 04:52] avelis commented on #142
@hassonofer Thanks for suggesting a `django.db.DatabaseError` error catch instead. Sounds like the right type of error to catch. @hanleyhansen If you get a PR working I will promptly merge as well.

I will also into taking down 1.7.1 from PyPi to avoid others from getting caught into this issue.

[2016-10-05 07:01] avelis commented on #142
@hanleyhansen I made a [branch](https://github.com/django-silk/silk/tree/database-error-try-catch) to try out a different class in the exception catching. Can you confirm/deny if that works for you?

[2016-10-16 18:57] rafpaf opened #146 "ProgrammingError on postgresql"
Silk works well in my development sqlite3 environment, but in my production environment, which uses postgresql, I get this error:

ProgrammingError at /silk/
column "silk_request.path" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT "silk_request"."id", "silk_request"."path", "silk_req...

Traceback: http://dpaste.com/0WQDKXV

[2016-10-16 19:08] rafpaf commented on #146
python version: 3.5.2
django version: 1.9.8
postgres version: 8.4.20
django-silk version: 0.7.1

[2016-10-17 15:43] avelis commented on #146
@rafpaf `0.7.1` has a known issue for not working with PostgresSQL. I haven't had a change to pull it from PyPI. Either take the latest from master or use version `0.7.0`

[2016-10-17 15:46] avelis commented on #146
[code]

[2016-10-17 15:54] rafpaf commented on #146
Thank you, I'll give that a whirl.

[2016-10-28 22:53] smaccona commented on #38
This has been hanging around for a long time now and I haven't had time to come up with a good fix which takes migrations into account properly (there's no strictly non-destructive way to truncate the data). We could do as @avelis suggested and just do a backwards incompatible change and reset the length. Another option is to just more fully document in the installation instructions the procedure

[2016-11-13 08:37] danmash opened #147 "No Silk profiling was performed for this request. Use the silk_profile decorator/context manager to do so."
Hi, I'm trying to profile django app and can't get any silk profiling.
I followed all your instructions from "installation" docs section.
I added @silk_profile decarators and silk_profile contexts, but page `silk/profiling/` is still empty

[2016-11-14 01:56] avelis commented on #147
@danmash Can you share a little more on your setup? Which request oriented views are you decorating?

[2016-11-14 05:00] avelis commented on #38
@smaccona For developer ease of use, I don't mind going forward with a fully backwards incompatible change. While making MySQL support longer indexes is possible that might not work for everyone as easily.

Not sure what is the best transition strategy for the backwards incompatible change. Open to ideas on that front.

[2016-11-16 10:18] lockie commented on #147
@danmash Most probably you've forgotten the `SILKY_PYTHON_PROFILER = True` setting.

[2016-11-21 18:10] kingllama opened #149 "Difficult to install on windows: Needs wheels."
I'd love to use silk but it's next to impossible to install it on windows. [Wheels](http://pythonwheels.com/) is the new standard for python packages (it replaces eggs) and would help with windows installation.

[2016-11-22 16:43] avelis commented on #149
@kingllama Thanks for the suggestion. I didn't know Window's installations were troublesome.

[2016-11-27 19:28] miratcan opened #150 "When installing silk asking for mysql library. But I'm using postgresql."
Am I trying to install wrong package or is there something wrong about that dependency?

[2016-11-29 17:31] avelis commented on #150
@miratcan This was an issue with the last release. It's fixed on master. Either downgrade to 0.7.0 to the release or pull form master. Sorry for any inconvenience.

[2016-11-30 00:43] fwip commented on #147
I was experiencing this issue earlier. For me, it was because I was using the new `MIDDLEWARE` instead of `MIDDLEWARE_CLASSES` and didn't notice the difference when looking over the README.
I fixed the issue by installing the latest from master, instead of the most recent release.

[2016-12-01 18:13] r3m0t opened #151 "Profiling files get copied into MEDIA_ROOT"
Silk saves prof files to `SILKY_PYTHON_PROFILER_RESULT_PATH` but then copies them all into `MEDIA_ROOT`.

The solution is to specify the `storage=` on the FileField as an instance of this:

[code]

Also, it isn't clear from the documentation what SILKY_PYTHON_PROFILER_RESULT_PATH is meant to be relative to.

I'm running 0.7.0 due to the PostgreSQL issues in 0.7.1.

[2016-12-02 20:13] kqdtran commented on #102
Hi, I seem to be running into the same issue too. Some static files were present, but some were missing. I've run `collectstatic` and followed every other steps described in this discussion. Is there something else that I should be doing to get all the static files to show up correctly.

![screenshot from 2016-12-02 15-11-38](https://cloud.githubusercontent.com/assets/2239263/20848796/ab576848-b8a

[2016-12-03 00:17] avelis commented on #150
Fixed in release https://github.com/django-silk/silk/releases/tag/0.7.2

[2016-12-03 00:17] #150 closed

[2016-12-03 00:18] avelis commented on #146
@rafpaf Should be fixed in release https://github.com/django-silk/silk/releases/tag/0.7.2

If the release does not fix this issue re-open.

[2016-12-03 00:18] #146 closed

[2016-12-03 00:18] avelis commented on #142
Fixed in release https://github.com/django-silk/silk/releases/tag/0.7.2

[2016-12-03 00:18] #142 closed

[2016-12-04 18:24] miratcan commented on #150
But pip install gave me this error. May be PyPi package must be renewed.

[2016-12-06 01:21] #151 closed

[2016-12-06 01:23] avelis commented on #151
@r3m0t I will get a release for this issue addressed soon.

[2016-12-12 10:49] Drache91 opened #153 "cProfile generates only one profile for parallel requests"
When generating binary profiles with
[code]
and revcieving multiple requests at once, the generated profiles for all the requests are the same.
It's allways the profile of the request that finished **first**.

So, as an example, I get 3 request in a very fast fashion (only about 10ms apart).
Request 2 finishes first, then request 3 and request 1 finishes last.
The profiles of these request will al

[2016-12-12 11:20] netcitylife opened #154 "Queries made with objects.raw() are not logged, query EXPLAIN"
Why are queries made with Model.objects.raw() not logged?
Also it would be very useful to execute explain for each logged query (when enabled via new config option) to see the more or less precize query execution plan.

[2016-12-12 23:19] avelis commented on #153
@Drache91 If you have a solution that fixes this issue. Make a pull request and I can merge it in.

In regards to your snakeviz queries question, check your `SILKY_META` setting. It might be set to true.

[2016-12-12 23:27] avelis commented on #147
@fwip Is this issue resolved? If so I am going to close it.

If you feel the docs could use an improvement help I encourage a PR.

[2016-12-12 23:29] #108 closed

[2016-12-12 23:31] avelis commented on #73
Closing this issue. If there is more information about why management command is killed I can possibly investigate.

[2016-12-12 23:31] #73 closed

[2016-12-12 23:35] avelis commented on #154
@soulhunter1987 Without investigating to much into it. It could be the case that RawQuerySet's are not being caught by the DataCollector utility class. I don't have much else to add until I further investigate into it.

[2016-12-12 23:37] avelis commented on #154
@soulhunter1987 Looking at the other Github issues, we can see discussion on this issue here #80 .

[2016-12-12 23:52] avelis commented on #80
Django does have a `CursorDebugWrapper` & `CursorWrapper` SQL util classes. Looking at the [Django DB Readonly library](https://github.com/streeter/django-db-readonly/#the-nitty-gritty), they override Django's CursorWrapper classes and list for write based commands. This could be a potential solution where Silk can listen into all executed queries (raw or otherwise).

However, the challenge then b

[2016-12-13 00:22] fwip commented on #147
Yes, my issue was resolved in a recent release. Thank you!

[2016-12-13 00:23] #147 closed

[2016-12-13 08:53] soulhunter1987 commented on #80
If it would be possible to log also direct cursor.execute() SQL queries - that would be awesome. See insert/update/delete/other queries would also be very useful.

[2016-12-13 09:02] Drache91 commented on #153
Ok, I made a pull request.

Also, the problem with snakeviz remains even with `SILKY_META` set to `False`.
But I guess that's a problem with snakeviz.
KCacheGrind (or QCacheGrind for my system) shows the correct data.

[2016-12-13 21:01] avelis commented on #153
@Drache91 Glad there are alternatives for visualizing the profiler besides snakeviz. Will keep an internal note about them.

[2017-01-06 08:19] mapher87 opened #157 "raise codec error in execute_sql"
The statement would raise codec error when "params" contained non ASCII strings at sql.py:
 `sql_query = q % params`
It's better to use django's force_text processing to handle it.

[2017-01-06 17:59] avelis commented on #157
@mapher87 Thanks for highlighting the issue. If you have the time, I more than welcome a PR that addresses this.

[2017-01-11 16:38] jacksonofalltrades opened #158 "Query time-outs"
After the amount of data collected is larger than a certain size (not exactly sure what that size is), the silk admin page stops responding and in fact eventually just gets an empty response. I've spent a lot of time trying to figure out how this is possible, and the best I can come up with is that some of the aggregate queries take way too long to return.

Our best strategy at this point is to ma

[2017-01-11 16:45] ukjin1192 opened #159 "Middleware setting in Django 1.10"
Django >= 1.10 : `MIDDLEWARE` is list type.
Django < 1.9 : `MIDDLEWARE_CLASSES` is tuple type.

Details here : https://docs.djangoproject.com/en/1.10/releases/1.10/#new-style-middleware

Therefore,

[code]

would be

[code]

[2017-01-11 16:49] avelis commented on #159
@ukjin1192 If you would like to update the README with a PR I can happily merge it. I believe there are still users that are on versions that would require listing both styles.

[2017-01-11 16:52] avelis commented on #158
@jacksonofalltrades Depending on your request volume, a little bit of tuning can go a long way. I suggest either lowering the `SILKY_INTERCEPT_PERCENT` value to some number below 50 (perhaps 25). You could also use the `SILKY_INTERCEPT_FUNC` that can determine which requests to log.

[2017-01-11 16:53] avelis commented on #158
@jacksonofalltrades In other avenues if you find enhancements to performance of certain aggregations I can always open to PR's.

[2017-01-11 17:51] jacksonofalltrades commented on #158
Great, thank you for your quick response, we can try those!

So just to clarify, is the reason for those two configs precisely because capturing everything is an issue for others as well? That would make me feel better :)

[2017-01-11 18:26] #159 closed

[2017-01-12 08:26] avelis commented on #158
@jacksonofalltrades It's hard to say for sure, I would have to search through the repo's history. However, having granular control to determine what to collect and at what percentage is helpful in this scenario.

Rest easy @jacksonofalltrades you are likely not alone. :-)

[2017-01-12 17:59] avelis commented on #159
@ukjin1192 Thanks again for the PR!!!

[2017-01-12 18:00] avelis commented on #158
@jacksonofalltrades If the above suggestions work for you, I am going to close this issue.

[2017-02-13 10:36] xyb commented on #151
@avelis is it time to release a new version? I'm looking forward to use this great patch. Thank you.

[2017-02-13 18:18] avelis commented on #151
@xyb release made

[2017-02-18 16:19] svvitale opened #161 "Silk shows 0 time for all requests?"
I'm just trying silk for the first time and it looks awesome!  After adding the app and the middleware, and running the migrations, I'm seeing requests being logged, but I'm not seeing any time recorded.

![2017-02-18 09_19_39-silky](https://cloud.githubusercontent.com/assets/137162/23094717/636e5d14-f5bb-11e6-8e7a-ccb0cf89a863.png)

I must be missing something.  Any idea?

[2017-02-20 16:57] italomaia opened #162 "DATA_UPLOAD_MAX_MEMORY_SIZE error"
I'm getting a RequestDataTooBig in my file uploads because of silk.

silk/model_factory.py in body line 106

[2017-02-21 10:35] rmad17 opened #163 "Use redis for backend"
Can't we store the data in redis. I dont want hits on my db from silk code. Is that possible?

[2017-02-21 18:34] avelis commented on #163
There is no direct support to use Redis as a backend. Solutions to use Redis could be using CacheOps to cache access to a redis instance but still uses the DB.

Another solution could be to listen to pre_save signals of the model to also store the data to a redis instance and block the actual save. However, I couldn't guarantee it would work.

You could also try the [multi-db configuration](https:

[2017-02-21 18:36] avelis commented on #161
@svvitale That looks bizarre, can you give some more info into your setup?

[2017-02-21 18:37] avelis commented on #162
@italomaia Can you give us some more information into your setup and steps to how you are seeing this issue? A possible scrubbed stacktrace perhaps?

[2017-02-22 13:55] chessbr commented on #161
+1 installed here the last version and as installation tutorial says..

[2017-02-22 13:59] chessbr commented on #161
Installed 0.7.2 and now it works!

[2017-02-23 16:55] svvitale commented on #161
My setup is Python 3.5.1, Postgres 9.5.2 with the following packages installed:

[code]

Same result as @chessbr, if I roll back to 0.7.2, all is well.

[2017-02-26 20:09] soulhunter1987 commented on #80
Hi. Any news on this?

[2017-02-27 17:47] avelis commented on #80
@soulhunter1987 Unfortunately, not. due to some time constraints on my end I haven't been able to look into a solution for this. I am always open to PR's.

[2017-03-02 15:52] utkbansal commented on #161
Facing the same issue. Silk looks something like this -
<img width="867" alt="screen shot 2017-03-02 at 9 19 47 pm" src="https://cloud.githubusercontent.com/assets/8345336/23514690/14598b36-ff8e-11e6-8a4a-c2ac9ae23f8a.png">

Middleware is as follows-
[code]

Django==1.10.4 with Postgres.

[2017-03-09 17:49] teeberg commented on #38
I think it's fairly customary to communicate backwards-incompatible changes by bumping the major version

[2017-03-09 17:57] #161 closed

[2017-03-09 17:59] avelis commented on #38
@teeberg I agree and given my recent experience no one seems to surprised when that happens. Open to a PR for this I can cut a release with a major version bump.

[2017-03-12 18:54] auvipy commented on #38
@avelis which fields need adjustments? I will be happy to send the suggested changes

[2017-03-13 05:27] auvipy commented on #149
I have updated several packages to use wheel so I hope I can make the change.

[2017-03-13 09:37] dreadatour commented on #38
No backwards incompatible change needed.

There is no need to truncate `path` and `view_name` if you just add new unique field with hash like `md5(path+view_name)` or two fields like `md5(path)` and `md5(view_name)` and put unique constraint on these two fields.

So `path` and `view_name` may be any type (`VARCHAR` or `TEXT`) with any length.

Yes, this is some kind of overhead and denormalisation

[2017-03-13 18:09] auvipy commented on #149
@avelis https://github.com/django-silk/silk/pull/168 this should fix the issues

[2017-03-14 01:19] svvitale commented on #161
Works great, thanks!

[2017-03-14 03:43] #38 closed

[2017-03-14 09:35] marino39 opened #169 "Problem with silk in child threads"
Hi,

I'm working on synchronous API that is processing some data. In order to speed things up I have decided to spawn multiple threads in Django request and do processing there. The problem occurs when one of the threads tries to execute sql queries. Is there any way to run silk and spawn child threads?

The self.register_objects(TYP_QUERIES, *args) could just give a warning in that case and carry

[2017-03-14 17:41] auvipy commented on #101
@avelis I believe we could close this issue.

[2017-03-14 17:43] auvipy commented on #3
How to that? what about profiling django-channels request with silk? @avelis @smaccona

[2017-03-14 18:10] #101 closed

[2017-03-14 18:13] auvipy commented on #3
OK. we can re think about django channels at a later stage.

[2017-03-14 18:16] auvipy commented on #32
sorry for poking but is this issue still exist? @avelis I am trying to have comprehensive idea about the present status of the project so that I can contribute better. busy with maintaining other projects though

[2017-03-14 18:24] auvipy commented on #26
hopefully this is resolved in master?

[2017-03-15 14:06] PeRDy opened #170 "There is no reference to download a profile"
README mentioned that exists the possibility of download a profile directly from the interface, but at the moment the button to download it as well as the profiling file content itself doesn't appear in profile pages.

[2017-03-16 16:52] avelis commented on #32
@auvipy I would imagine that can does under certain conditions but I am not sure how to test for them. Since I have not seen this appear on TravisCI I will close this.

[2017-03-16 16:52] #32 closed

[2017-03-16 16:55] #170 closed

[2017-03-16 17:17] auvipy commented on #32
I do also believe this doesn't exist now. if so then this could be re-opened later

[2017-03-16 17:19] auvipy commented on #26
@avelis lets close it for now

[2017-03-16 17:22] avelis commented on #26
For closure, any release 0.6.2 or newer should have this issue addressed.

[2017-03-16 17:22] #26 closed

[2017-03-19 20:21] coderbhupendra opened #172 "NameError: name 'silk_profile' is not defined"
do I need to add some extra  code for adding @silk_profile

[2017-03-23 04:21] avelis commented on #172
@coderbhupendra Can you provide a stacktrace outlining you error? At best, right now, I can suggest to make sure `silk` is added to the list of installed apps in your Django settings file.

[2017-03-23 07:51] coderbhupendra commented on #172
**my setting.py**
[code]
**Here  is how  am using  @silk_profile in views.py**
[code]
**On running my code it give following error:**
[code]

[2017-03-25 17:20] avelis commented on #172
@coderbhupendra In this scenario, is the decorator imported at the top of the view file as so:
[code]
I am sure you do but wanted to make sure I covered that assumption.

[2017-03-25 19:04] coderbhupendra commented on #172
@avelis I wasnt importing this . bsc i didnt knew how to import it , thanks it workd now

[2017-03-27 04:47] #172 closed

[2017-03-27 05:51] avelis commented on #149
@kingllama Release 1.0.0 was released with a published wheel. I hope this helps alleviate your windows installation woes.

[2017-03-27 05:51] #149 closed

[2017-03-27 05:51] #158 closed

[2017-03-31 17:16] FraBle commented on #169
I have the same issue! Is there any way to temporarily store the request context information that Silk needs?

[2017-04-06 09:09] hassonofer commented on #142
I forgot to update here, it works great, thanks for everyone who helped.

[2017-04-25 05:16] tufelkinder commented on #169
Having the identical problem. Looking forward to finding some kind of solution...

[2017-04-25 05:20] #163 closed

[2017-05-05 19:28] unformatt commented on #161
I started having this same problem, nothing changed in my setup AFAIK. Using django 1.9.5. I upgraded to silky 1.0.0 hoping it would fix the problem.

in my settings
[code]

![image](https://cloud.githubusercontent.com/assets/157132/25761003/3a1696c0-31a7-11e7-92aa-abc0d5e65db9.png)

[2017-05-05 19:38] unformatt opened #174 "Number of queries and time showing as 0"
Using django 1.9.5. I upgraded to silky 1.0.0 hoping it would fix the problem. It didn't help. I'm using SQL Server

![image](https://cloud.githubusercontent.com/assets/157132/25761003/3a1696c0-31a7-11e7-92aa-abc0d5e65db9.png)

in my settings
[code]

I'm getting an exception here: https://github.com/django-silk/silk/blob/master/silk/middleware.py#L136

[code]

Possibly related: https://github.com/

[2017-05-05 19:45] unformatt commented on #174
I deleted all silk tables and migration records and re-ran `migrate` and Silk is working happily again.

[2017-05-05 19:46] #174 closed

[2017-05-05 20:22] unformatt opened #175 "Request detail page never loads"
Having this problem with both silk 0.7.2 and 1.0.0.

I've run `silk_clear_request_log` and I have one request logged in silk.

Request detail pages (e.g. http://localhost:8000/silk/request/b141a25e-3944-471a-8787-06fb316913f4/) don't load, they just hang and peg my CPU while the console slowly logs messages related to RefactoringTool:

[code]

I thought my use of SQL Server could be the problem. I

[2017-05-05 20:43] unformatt commented on #175
Could this be due to a large request body?

[2017-05-05 21:07] unformatt commented on #175
Seems like the rendering of the **Curl** and **Django Test Client** with syntax highlighting on a large request body might be what's hanging it up (Request is only 93k). I'll ignore request bodies for now. Silk would probably benefit from not defaulting to `SILKY_MAX_REQUEST_BODY_SIZE = -1` since it effectively can't handle request bodies over a certain size. Or if request body is over a certain s

[2017-05-05 21:07] #175 closed

[2017-05-11 22:49] fernandolins commented on #3
+1

[2017-05-27 20:39] guidedways opened #178 "Not compatible with Google App Engine Standard environment"
Sadly this library relies on another third-party which installs some `markupsafe/_speedups.so` native code. Google App Engine Standard environment does not allow installation of native code. Is it possible to update Silk to be GAE compatible?

[2017-05-27 20:54] avelis commented on #178
@guidedways thanks for bringing this to my attention. Always open to expanding this libraries compatibility. Do you which library specifically installs the native code?

[2017-05-27 20:57] guidedways commented on #178
Thanks for the prompt reply - I'm not sure to be honest. I had a bunch of requirements in my own app and I disabled them all, enabled each one by one to find out which one's installing it. Turned out to be Silk - made me sad since I really enjoyed using it. Had to remove it for now as GAE's Standard environment is a pain to deal with, pure python only code allowed. You may need to do the same, dis

[2017-06-09 10:40] tripliks opened #179 "DataError: value too long for type character varying(190)"
Hello,

I'm getting this exception for long urls ie. /resource/<jwt_token>. Looks like the limit is 190 chars.
Is there a way to have long urls logged?

[2017-06-12 18:50] km-pg opened #180 "README missing info about how to import decorator"
The README doesn't say where to import the silk_profile decorator from. Not sure where to find it.

[2017-06-12 19:34] avelis commented on #180
@km-pg For quick resolution here is a comment from another closed ticket on how to import the decorator.
https://github.com/django-silk/silk/issues/172#issuecomment-289226063

Since this is the second ticket come in with this I will make sure the README gets a note on the decorators import location.

[2017-06-12 19:44] #180 closed

[2017-06-12 19:45] avelis commented on #180
@km-pg README.md has updated example code with imports highlighting the location of the profiler.

[2017-06-12 19:47] km-pg commented on #180
Cool, thanks!

[2017-06-13 14:37] fuwaneko opened #181 "No cPython profiler dump visible"
PR #171 introduced a [regression](https://github.com/django-silk/silk/pull/171/files#diff-96ac7cabc6e601b3d8eb08f0f7bcac80L256). Below Silk Profiler should be cPython profiler dump. It is stored in the DB but isn't there in the template anymore. I wonder why nobody noticed this.

Current state:
![image](https://user-images.githubusercontent.com/34433/27087319-430d3474-5087-11e7-9a82-8b07c6bb8c12.p

[2017-06-13 19:58] avelis commented on #179
@tripliks Sorry for the delay. The short answer is no and not for the foreseeable future.

URL fields are indexed values in the library. However, to be MySQL `ut8mb4` compliant the indexed column can't support values longer than 190 characters. You can see more details on the conversation about this issue here: https://github.com/django-silk/silk/issues/38

Ultimately, v1.0.0 went forward with 190

[2017-06-13 20:00] avelis commented on #179
@tripliks You could tail strip out values longer than 190 via a `pre_save` signal I believe. Not the best solution but a workaround of sorts.

[2017-06-13 20:04] avelis commented on #181
@fuwaneko Thanks for bringing this to my attention. If you have time to make a PR to fix the regression I happily encourage it. Otherwise I would have to get to this at a later time when I work on it.

[2017-06-21 09:28] matthewhegarty commented on #74
Also seeing this on 1.11.1 - is there a fix or workaround?

[2017-06-21 09:57] rubendura commented on #169
Just getting started with silk. Just run across this. The problem seems to be with a thread local on the DataCollector class, which is a Singleton. When a thread other than the first one tries to create a DataCollector it will retrieve the already initialised object, but as that object uses thread locals internally it is actually uninitialised (other than the first thread that created it).
I am ju

[2017-06-21 19:30] avelis commented on #169
@rubendura Thanks for the updated information on furthering the problem space for potential solution.

[2017-06-21 19:42] avelis commented on #74
@matthewhegarty What version of Django are you using? I wonder if the url patterns needs to be re-assessed with a configuration checker on config initialization.

[2017-06-21 22:14] FabioFleitas commented on #169
We are having the same issue

[2017-06-22 05:54] KhadijaZavery opened #182 "Silk's dynamic profiler not working for me."
I have added the necessary code i.e.,
SILKY_DYNAMIC_PROFILING = [{
    'module': 'user_app.rest_views_versions.rest_views_v2',
    'function': 'student_login'
}]
where my student_login function is in the path specified. I have tried adding and subtracting things to the path but it doesn't recognize those paths.
Any help would be really appreciated.

Thank you!

[2017-06-22 05:56] avelis commented on #179
@tripliks Unless there is more of an issue to address I am looking at closing this issue.

[2017-06-22 06:03] avelis commented on #182
@KhadijaZavery If you have write access to the function I would recommend using the method decorator as follows:

[code]

[2017-06-22 06:04] avelis commented on #182
@KhadijaZavery Dynamic profiling should work but would require way more effort to debug. Module paths are not always quite intuitive as we think they might be.

[2017-06-22 06:08] KhadijaZavery commented on #182
@avelis I do have write access but I wanted to use the dynamic profiler in order to overcome the space and time overhead that I've heard silk comes with.
I want to enable silk only for the staging build and not for production, any other way I could do this?

Thank you.

[2017-06-22 08:22] matthewhegarty commented on #74
Django version 1.11.1

[2017-06-26 15:42] martinburchell opened #183 "RemovedInDjango20Warning: on_delete will be a required arg for OneToOneField in Django 2.0."
Getting this warning with Django 1.11.1
I'm guessing if nothing else we should set on_delete to CASCADE as they suggest

/site-packages/silk/migrations/0001_initial.py:63:
RemovedInDjango20Warning:
on_delete will be a required arg for OneToOneField in Django 2.0.
Set it to models.CASCADE on models and in existing migrations if you want to maintain the current default behavior.
See [https://docs.dj

[2017-07-01 07:29] albertyw opened #184 "Consider moving project to jazzband"
I noticed that you're looking for contributors, according to your README.  Would you be interested in moving the project to [jazzband](https://jazzband.co/about/guidelines)?

[2017-07-01 15:55] avelis commented on #184
I am open to it!

[2017-07-01 15:56] avelis commented on #184
@albertyw what benefits does moving it to jazzband do?

[2017-07-01 19:13] mtford90 commented on #184
Also open to it. Have no objections to breathing more life into the repo.

@albertyw what's the process? Will current contributors have their access to the repo maintained?

[2017-07-02 02:39] albertyw commented on #184
The main person to contact about jazzband is probably @jezdez.

You still maintain access to the repo by joining the jazzband project through their website, which also contains the [guidelines for adding a new repository](https://jazzband.co/about/guidelines).

[2017-07-02 15:40] #184 closed

[2017-07-03 15:01] marcoaurelioneto commented on #179
We had been the same problem with it:

![image](https://user-images.githubusercontent.com/557439/27798369-5fe99db6-5fe7-11e7-9825-26281df43ba4.png)

[2017-07-03 15:27] gdelnegro commented on #179
To expand on @marcoaurelioneto report, we are using Django v1.11.2, django-silk v1.0.0, PostgreSQL 9.4.12 and psycopg2 v2.7.1

[2017-07-04 17:01] albertyw opened #187 "Create new release of silk"
I think once the jazzband migration is complete, it would be a good time to make a new release of silk, either manually or by setting up [automatic releases](https://jazzband.co/about/releases).

[2017-07-04 20:57] avelis commented on #187
@albertyw Agreed on the new release once the migration is complete. Will look into possibly getting the Travis-CI config file to build on tagged releases.

[2017-07-06 04:14] #183 closed

[2017-07-07 00:54] amykyta commented on #162
I am seeing this too. It's an issue from Django's `Request.body` https://github.com/django/django/blob/master/django/http/request.py#L252. There is a check of `Content-Length` header against `settings.DATA_UPLOAD_MAX_MEMORY_SIZE`. In Django 1.10+ `DATA_UPLOAD_MAX_MEMORY_SIZE` defaults to 2.5 MB. The easiest solution is to just increase that limit provided resources are available. It may be a bug t

[2017-07-17 03:58] avelis commented on #182
@KhadijaZavery To give this one last go. I would suggest to print out the path of the method as you executing and make sure it matches the module string placed in the `SILKY_DYNAMIC_PROFILING` configuration.

[2017-07-24 05:32] danielbradburn commented on #33
I think the changes in https://github.com/jazzband/silk/pull/200 should fix this, can it be closed now?

[2017-07-25 16:39] avelis commented on #33
@danielbradburn Yes It can.

[2017-07-25 16:39] #33 closed

[2017-07-28 10:44] sadan commented on #65
Any solution of this issue? I am also facing this issue while working with django-channels (sockets).

[2017-07-31 23:06] smcoll opened #201 "Saving to Request.prof_file raises DataError for paths longer than 59 characters"
The decorator is raising a DataError when it tires to save a `.prof` for any path greater than 59 characters, since the `Request.prof_file` is 100 characters by default, and the filename itself is 41 characters.

[code]

In my case, the project path for local development is more than 60 characters, which means the file is saving to disk, but no profile data is being saved to the database.

[2017-07-31 23:08] smcoll opened #202 "Storage class as a setting"
It would make sense to me that the file storage class could be selected as a configuration, especially since many deployments these day are on ephemeral file systems.

We could set `storage`, something like this (untested):

[code]

[2017-07-31 23:10] avelis commented on #202
@smcoll If you have time to make a PR with this change I can take a look and merge it in.

[2017-07-31 23:11] avelis commented on #201
@smcoll If my memory serves me correct I think you can specify a path to store the `.prof` files.

One suggestion is to create an symbolic link in your environment to get around the 100 character limit.

[2017-07-31 23:17] smcoll commented on #201
@avelis that will do for now, but it'd be reasonable to increase the column length, right?  i'm making a PR now.

[2017-08-03 13:56] physicalattraction opened #205 "Visualization not visible"
When creating a profile, the visualization is not shown in the browser. I have installed graphviz using HomeBrew.

<img width="973" alt="screen shot 2017-08-03 at 15 54 25" src="https://user-images.githubusercontent.com/7287514/28925117-35575292-7864-11e7-80ea-b6d9ac3dff1d.png">

[2017-08-03 13:57] physicalattraction opened #206 "Bad alignment in profile table"
The profile lines are not neatly tabulated, all lines are centered on the screen. This makes it very hard to read the numbers properly.

<img width="973" alt="screen shot 2017-08-03 at 15 54 25" src="https://user-images.githubusercontent.com/7287514/28925179-653d043e-7864-11e7-9053-242c68c3fc9c.png">

[2017-08-03 14:26] danielbradburn commented on #205
A couple of things you can check:

* Are you using the latest version from github? The pypi version doesn't contain the graph visualization.
* Do you set `SILKY_PYTHON_PROFILER_BINARY = True`?
* Is your `MEDIA_ROOT` set to a valid path? This is where the cprofile dumps will be stored.

[2017-08-03 14:37] #205 closed

[2017-08-03 14:44] physicalattraction commented on #205
Thanks for your quick feedback. In fact, I did not use the latest version from github, but used pip to install version 1.0.0. I did set `SILKY_PYTHON_PROFILER_BINARY = True` and I also manually changed the profile path: `SILKY_PYTHON_PROFILER_RESULT_PATH = BASE_DIR.child('tmp', 'profiles')`.

When can the latest version be expected in pip?

[2017-08-03 15:09] danielbradburn commented on #205
There is another issue about making a new release https://github.com/jazzband/silk/issues/187. Perhaps you could ask there what the status is.

[2017-08-03 15:13] avelis commented on #187
@albertyw I have added the config to make releases on tags in the following commit: 53b5ea7e1b4940ada013985cbce009651f716b71

However, since this repo as moved to Jazzband there are some more administrative steps that need to occur.

[2017-08-03 19:56] avelis commented on #206
@physicalattraction I know we need a release but have you tried the latest from master? I think this was addressed via a CSS tweak.

[2017-08-04 07:55] physicalattraction commented on #206
@avelis: Thanks for your reply. I didn't try it from the latest master, I didn't know there were differences between them. Good to hear that is has been solved already, this issue can be closed then.

[2017-08-04 07:55] #206 closed

[2017-08-07 09:20] srinivasreddy commented on #201
this issue can be closed since #203 is merged

[2017-08-07 13:59] smcoll commented on #201
@srinivasreddy no, #203 increased the limit by 200 characters, but the underlying issue is still the same.  It needs to be determined how silk will handle a case where a binary cannot be saved.

[2017-08-08 18:00] #202 closed

[2017-08-08 22:38] smcoll opened #208 "storage backends without path access not supported"
If an S3 storage backend, for example, is used as `SILKY_STORAGE_CLASS`, a `NotImplementedError` is raised when trying to save the file.

[code]

[2017-08-22 21:42] FilmCoder opened #211 "Profile Graph Not Showing"
All I can see is the cProfile dump, and a link to download the .prof file.  There's no visualization graph, only the cProfile dump.  Otherwise, Silk is silky.

I have these lines in my settings.py:
SILKY_PYTHON_PROFILER = True
SILKY_PYTHON_PROFILER_BINARY = True
SILKY_PYTHON_PROFILER_RESULT_PATH = 'C:\valid_path_to_profs'

[2017-08-23 05:39] danielbradburn commented on #211
Hi @FilmCoder are you using the version from pypi or from github. A version with visualization graph has not been released yet.

Furthermore, I don't have access to a windows machine at the moment to test this, I have only tried it out under linux. It may be that your need to follow the instructions [here](https://github.com/jrfonseca/gprof2dot#windows-users). If you need to do anything special th

[2017-08-23 14:45] FilmCoder commented on #211
Ah OK.  I used "pip install django-silk", then "pip install gprof2dot", all on my windows machine.  Are you saying it should work if I pull from github instead of using pip to install?  And for sure, I'll let you know if I get it working what my steps were.

[2017-08-23 14:54] danielbradburn commented on #211
If you pull from github then the graphviz code will be there. However I haven't tested on windows, so it would be great if you could report whether it works!

[2017-08-25 15:04] isosphere commented on #211
@danielbradburn I'm in the same position as @FilmCoder on Windows; I upgraded from the git repo and the graph shows up and interacts with user input fine. Pruning works, zooming and panning works.

Anyone else going down this path, be sure to run migrate again, the profile file length was increased.

[2017-08-28 07:13] danielbradburn commented on #211
@isosphere Thanks for the info, glad to hear it's working! I will close this issue then.

[2017-09-12 13:06] mark-adams commented on #74
@avelis Looks like #86 resolves this issue.

[2017-09-18 18:51] scythargon opened #212 "Sorting does not work in SQL queries view"

[2017-09-19 04:17] avelis commented on #212
@scythargon Have you tried installing the latest from Github?

[2017-09-20 12:55] scythargon commented on #212
@avelis Unfortunately, yes, still no sorting.
Screencast demo: https://youtu.be/eUrIPksSRC4

[2017-09-20 21:08] hashemian opened #213 "No end_time for any captured request"
I had setup silk on my dev server and it was working as expected. But recently none of the requests shown there has any time information. They all look like [this link](https://ibb.co/fDcMpQ).

I checked the `silk_request` table, and none of the queries have `end_time` column filled. Any idea how I can figure out what's going on?

Thanks a lot

[2017-09-23 08:38] shaib opened #214 "Consider using Django 2.0 `execute_wrapper()`"
Silk currently uses monkeypatching to install its wrapper around `SQLCompiler.execute_sql`. Django 2.0 provides a new API for installing wrappers around SQL executions, and it may be preferable to use this API when available.

Points arising:
* The new API works at a lower level, that of the connection rather than `SQLCompiler`. I'm not sure what the implications are.
* The new API installs the wr

[2017-09-26 06:06] moagstar commented on #212
@scythargon I am unable to replicate this, do you get any 404 errors when loading the page? Perhaps you need to run collectstatic?

[2017-09-26 19:41] vipul1994 commented on #169
We are also having the same issue. Any update on this?

[2017-09-29 02:21] albertyw commented on #187
Is there an update on this?

[2017-09-29 02:24] avelis commented on #187
@albertyw I [have commented on the need to add jazzband to access the silk pypi project in order to make releases through that account](https://github.com/jazzband/roadies/issues/67#issuecomment-320000561). I am not sure what else I can do but it's part of the requirements. Maybe we should make a release before the migration is completed?

[2017-10-04 11:33] bogdanpetrea opened #215 "Profiles don't seem to be created"
Using the [latest](https://github.com/jazzband/silk/commit/6c53b4e4de5fd95395a903ac075306bfb0393795) master version, there seems to me that the only way to get profiling is to decorate a method/function with the `silk_profile` decorator.

The only place where Profile objects are created is [here](https://github.com/jazzband/silk/blob/cdb5f556402b2339c67422d256c5ce5733238e6f/silk/collector.py#L185)

[2017-10-05 15:18] avelis commented on #215
@bogdanpetrea I don't see anything you are doing wrong other than ensuring you have the library installed correctly. Can you provide some information as to what version of Django you are using this library with?

[2017-10-05 15:19] avelis commented on #214
@shaib If you have the time I encourage you to make a PR with this enhancement. I can take a look and merge it in.

[2017-10-05 22:49] scottkidder opened #216 "Incompatible with django-channels"

[2017-10-06 12:02] hvdklauw opened #217 "The dashboard shows views with no queries as most time taken in database"
Database: Postgresql.

It seems the views without queries take the most time because it's sorting on a nullable field/aggregation which in postgresql come first when sorting decending.

I don't think django orm supports the "NULLS FIRST" / "NULLS LAST" options, so the nulls should probably be filtered as they are irrelevant for the specific part of the dashboard.

[2017-10-06 13:22] dobrovolsky opened #218 "Limiting request/response data don't available in pypi version"
`garbage_collect` method doesn't exist in version from [pypi](https://pypi.python.org/pypi/django-silk).

[2017-10-06 13:56] bogdanpetrea commented on #215
Hey @avelis , I am using Django 1.8, but I can try this on 1.11 soon.
Just to make sure I didn't get this wrong: every request (except for the ones that go to the silk views) should be automatically profiled if I use the `SILKY_PYTHON_PROFILER` and `SILKY_PYTHON_PROFILER_BINARY` settings right? I don't have to actually decorate my views right?

[2017-10-10 05:21] linked commented on #213
I have the same issue when I enable SILK_PYTHON_PROFILER_BINARY; disabling the binary profiler fixes the timing issue (but obviously also disables binary profiling, which I need working)

[2017-10-10 17:08] hashemian commented on #213
You are right. When I set the `SILK_PYTHON_PROFILER_BINARY` to `False` it works again, but not otherwise.

[2017-10-11 06:40] danielbradburn commented on #213
I think this is related to silk being unable to store the binary profile files. I normally put this in my ``settings.py`` to ensure that the .prof files can be correctly saved:

[code]

It would be nice if silk warned you when unable to save the files, however perhaps you can try this to work around the issue?

[2017-10-11 12:05] hashemian commented on #213
You are right. The problem was that Silk could not access the path I had specified. Permission problem. It would be very helpful if somehow we could get a more helpful error message, like HTTP 500.

Thanks a lot.

[2017-10-11 12:05] #213 closed

[2017-10-12 11:59] nias-r opened #219 "Silk is incompatible with django-fullclean"
When using [`django-fullclean`](https://github.com/fish-ball/django-fullclean), Silk causes a `ValidationError`: `{'prof_file': ['This field cannot be blank.']}`.

I believe the cause of the issue is that the model field `prof_file` in the `Request` model has `null=True` but not `blank=True`. From the [Django documentation](https://docs.djangoproject.com/en/1.11/ref/models/fields/#null):

As `prof

[2017-10-19 11:22] dunkelstern commented on #65
It seems running `runserver --nothreading` fixes the problem, but that can't be the solution

[2017-10-19 20:47] feakuru opened #223 "Filtering requests by view and url..."
...seems to work buggy.
1. Can't seem to be able to *disable all filters*. Have to use Incognito mode to view all requests.
2. Am able to choose a view and a URL that doesn't lead to it (and vice versa), obviously leading to a meaningless empty page.
3. On choosing a view, sometimes (can't quite understand when) wrong URL is automatically chosen for me (!!!), obviously leading to a meaningless emp

[2017-10-22 16:43] nias-r commented on #219
Closing this as it was fixed by #220

[2017-10-22 16:43] #219 closed

[2017-11-03 14:26] bogdanpetrea commented on #215
I tested on the same project, but now with Django 1.11 and Python3.6 and it's still the same... Any ideas?

[2017-11-04 20:20] avelis commented on #218
@dobrovolsky Looks like we need to get a release out soon. Ugh.

[2017-11-04 20:21] avelis commented on #217
@hvdklauw If you can make a PR contributing to optimize this that would be great!

[2017-11-04 20:25] avelis commented on #179
@marcoaurelioneto You could tail strip out values longer than 190 via a pre_save signal I believe. Not the best solution but a workaround of sorts.

[2017-11-04 20:26] avelis commented on #179
@gdelnegro The 190 character limit is an intended limit due to MySQL support. The best I can suggest is to tail strip out url values over the 190 character limit via a pre_save signal.

[2017-11-10 15:31] nias-r commented on #187
If there's some difficulty in getting everything in order with pypi and jazzband, my vote would be to make a final release under the existing setup.

[2017-11-15 21:26] Blue-Dog-Archolite opened #224 "Cannot execute silk_profile as silk is not installed correctly."
Using

- Django 1.11.6
- django-silk 1.0.0

I have installed `django-silk` and added to both middleware at the top as well as the installed apps.
I am not having an issue getting to the standard request pages as they all work wonderfully. However when attempting to instrument any function, I start getting the error below. One line of that error per `with silk_profile(name='blah'):` in the code.

I

[2017-11-19 05:27] tony commented on #215
This works for me on Ubuntu, but for some reason, macOS doesn't create profiles.

[2017-11-19 05:29] tony commented on #211
On Ubuntu, I get no graph. Profile is generated (available to download) and I see plain text output.

No error is provided to help me, so it's hard to debug.

python 3.6.3,  django 1.11.6, dango-silk 1.0.0

Note: on macOS, no profile is generated at all, and also no error.

[2017-11-19 05:31] tony commented on #215
The other problem is, I'm not getting any debug output or errors.

I'd expect if I have profiling toggled on and graphs aren't showing, there would be an error where I'd have a traceback. Instead, it falls back to just generated anything.

I'd rather it give me an error :P  This makes it really hard for people coming to the issues to provide meaningful debug information.

[2017-11-26 07:27] albertyw commented on #218
Depends on #187

[2017-11-26 08:00] albertyw commented on #218
(I added in that logic).  I've gotten around it by pip installing directly from github.  My line in requirements.txt:
[code]

[2017-12-03 20:48] volodchenkov opened #229 "Django 2.0 support"
I have this error after update:
[code]

[2017-12-03 22:16] jkeyes commented on #229
Two issues I've found:

* adding `on_delete` to `ForeignKey` and `OneToOneField` declarations (models.py)
* `MIDDLEWARE_CLASSES` is no longer available from `settings` (profiler.py)

[2017-12-03 22:18] jkeyes commented on #229
Gah!  I see these are covered in PR #227

[2017-12-03 22:29] volodchenkov commented on #229
I receive this error with version django-silk==1.0.0 installed from pip

[2017-12-05 01:37] albertyw commented on #229
#227 has been landed and I'm running a small django 2 site with that PR now.

If you want to get django 2 support now, you can pip install directly from github (maybe pin to the current master commit).  Otherwise, I'm going to work on #187 and make a new release (maybe v1.1.0 but I need to check the commit history for semantic versioning).

[2017-12-05 01:38] albertyw commented on #187
I'm going to try making a new release now that the pypi permissions issues should be fixed.

[2017-12-05 16:24] #217 closed

[2017-12-05 18:19] avelis commented on #187
@albertyw The version value is in setup.py. If you want to break that out into a different mechanic that's fine. FYI It is still currently at `1.0.0`. If you decide to make a release make sure it gets updated. That has burned me a couple times.

[2017-12-08 10:36] physicalattraction commented on #229
I also see this error when executing `runserver` from the `projects` directory:

[code]

[2017-12-12 17:07] garfonzo commented on #216
I get the exact same results as described in #65. Although for me, I don't have django-channels, but I do have a multi-tenant DB with django-tenants http://django-tenants.readthedocs.io/en/latest/index.html

First request works, all the rest fail.

[2017-12-13 15:26] robinhli opened #236 "'gbk' codec can't decode byte 0xa7 in position 2608: illegal multibyte sequence"
When I install silk and enable it in my Django project, I saw this when I see a profiling.
the request page and sql page is ok.

[2017-12-15 03:52] yousifa commented on #229
any update on when this will be pulled/next release tagged?

[2017-12-16 03:12] albertyw commented on #229
@yousifa I'm working through getting django 2 tests working in #233.  It's quite slow going because I can't replicate the test environment locally.  I'm hoping to fix the issues and make a new release within a week.

@physicalattraction there's a patch for your error in #233.  Technically, that doesn't block the next release of silk because the projects directory is only used in tests.

[2017-12-17 10:51] iamsoorena opened #237 "How to get accumulated results"
Hey silk team. thank you for your great project.
We have encountered a problem in our server, we have a very high load on CPU.
I'm sure that the best tool to find solution for our porblem is to somehow config silk to show accumulated time spent on each request. there is no problem with every one of our request but the problem relies on the amount that each one is called.
I want to somehow get time

[2017-12-17 10:55] wayhome25 opened #238 "UnicodeDecodeError - 'ascii' codec can't decode byte 0xec"
When I try to check a views.py in SQL Query menu and
silk profiler (that contains response body with Korean language ) UnicodeDecodeError raised.
But it still works well with  English response body.

I've checked [middleware placement](http://silk.readthedocs.io/en/latest/troubleshooting.html#middleware) and [Issues](https://github.com/jazzband/silk/issues/85) but could't find a solution yet.

Cou

[2017-12-17 18:59] avelis commented on #238
@wayhome25 This might be a character encoding/decoding issue. Is it possible to know what RDBMS system you have and what character encoding it has? My hunch is that the ascii_decoding isn't accounting for either `utf-8` characters or `utf8-mb4` characters.

[2017-12-17 19:07] avelis commented on #237
@iamsoorena That level of performance monitoring I don't think is available on this library. It would be a nice addition though. I believe what you are describing is an accumulation/aggregation metrics that other APM tools do give out of the box.

[2017-12-21 22:53] blairg23 opened #239 "silk_clear_request_log taking longer than 30 minutes"
Just installed Silk and ran through all the settings. Everything "works" perfectly (I can see the profiles and queries of the method I set the silk profile on just fine), but the queries seems extremely high for the 2 Django queries I'm making inside the method. I'll be creating an issue after this one to address that issue.

The main issue, however, is that when I tried to clear the logs to see i

[2017-12-21 22:55] blairg23 opened #240 "Excessive number of queries in class method profile"
I have a method that has 2 Django ORM queries inside it. I created one Silk profile on this method and ran a request. The profile says this method took 2621 queries. When I peek inside the queries details, it shows queries that have nothing to do with the method I am profiling. This is on my local machine. When I look at the dev machine, it shows over 39k queries for the same method! Also, none of

[2017-12-25 09:02] wayhome25 commented on #238
@avelis Thank you for the help. I'm using PostgreSQL and I've checked my database info.
(Is this right information what you want?)

Encoding : UTF8
Ctype : en_US.UTF-8

[2017-12-26 19:54] avelis commented on #238
Yes I believe so. I don’t have the bandwidth at the moment to investigate further. My assumption is that the decoder might be defaulting to the wrong decoding

[2017-12-27 17:56] #229 closed

[2017-12-27 21:36] sebatyler commented on #229
1.1.0 released but not yet deployed to pip.
https://pypi.python.org/pypi/django-silk

When can I use 1.1.0 with pip?

[2017-12-27 21:40] avelis commented on #229
@sebatyler I don't have an ETA at the moment on the publish to PyPi. For now I suggest a way to reference the release directly in any requirements files you may use.

[2017-12-27 21:50] sebatyler commented on #229
@avelis  Do you have any reason not to have ETA?
I just wonder.

[2017-12-27 22:24] avelis commented on #229
@sebatyler I am unsure if Jazzband has the right privileges to publish releases to Django-Silk's Pypi account. I don't have access to verify this. I could also be missing a couple other steps to ensure proper state as a Jazzband project.

[2017-12-27 22:29] sebatyler commented on #229
@avelis ah... It's unfortunate. I hope it will be resolved. Thank you!

[2017-12-28 05:22] albertyw commented on #187
There's a bug in the travis config.  This was in the build output:
[code]

Based on https://github.com/travis-ci/dpl/issues/327, it seems there's a problem with the encrypted password that was added in 53b5ea7e1b4940ada013985cbce009651f716b71.  I'm also not sure if we're under the "lead project mamber" system mentioned in https://github.com/jazzband/roadies/issues/69.  I created https://github.com

[2017-12-28 05:24] albertyw commented on #229
Since this is more a discussion of releases rather than django 2 support (master should fully support django 2 now), I moved the discussion to #187 and https://github.com/jazzband/roadies/issues/82

[2017-12-28 05:31] avelis commented on #187
@albertyw I added the encrypted password but it was done using deprecated documentation for TravisCI config setup. Looking at the info in jazzband/roadies#69 it appears a structural change is now in place for reviewing. I guess I missed all this.

Thanks for making jazzband/roadies#82

[2017-12-28 14:03] xrmx opened #244 "migrations/0005_increase_request_prof_file_length.py does not match code"
The migration make the field nullable while the code uses blank=True. If you run makemigrations the following migrations is generated:

[code]

[2017-12-29 03:43] #244 closed

[2017-12-29 06:03] albertyw opened #247 "Remove support for django 1.7"
I think we should stop supporting django 1.7 since it was EOLed 2 years ago (December 2015).  https://www.djangoproject.com/download/#supported-versions

[2017-12-29 21:50] avelis commented on #239
@blairg23 That seems rather bizarre behavior for the clearing feature. hmm. Can I get some information as to what is your setup specifically?

[2017-12-29 21:54] avelis commented on #239
[Looking at the command itself](https://github.com/jazzband/silk/blame/master/silk/management/commands/silk_clear_request_log.py). It actually clears 4 separate tables. Likely what could be added is some progress reporting to let the command user know what is about to take place. Also, I am not sure if the for loop used to remove is the most efficient. The command is 2/3 years old. It could use a

[2018-01-01 22:15] blairg23 commented on #239
I agree, I think some feedback to tell the user that it's still going and what progress it's made would be helpful. I found that the reason it takes so long is that I had an inefficiency which was causing a query to occur every iteration, so I was having 39k queries every time I called that method. This build up of queries probably led to the long wait time on the clear Silk log command. It takes

[2018-01-01 22:37] Obtin opened #250 "Links for Readme.md not working."
In Readme.md, under the contents section, the following links do not redirect to the required sections
- Authentication/Authorisation
- Request/Response bodies
- Limiting request/response data

[2018-01-01 23:05] avelis commented on #250
@Obtin The common thread appears that forward slashes `/` no longer url slugify with a hyphen but are instead omitted entirely. Should be a simple fix.

[2018-01-01 23:12] #250 closed

[2018-01-02 19:46] blairg23 commented on #240
This was due to some buggy code on my end, you can close this issue.

[2018-01-02 19:47] #240 closed

[2018-01-05 06:08] yousifa commented on #187
Any update on release on pypi?

[2018-01-05 06:18] avelis commented on #187
@yousifa Not that I know of.

[2018-01-05 06:19] #247 closed

[2018-01-06 16:14] pyprism opened #252 "pypi version"
Pypi version is still in 1.0.0 , please update.

[2018-01-07 11:53] albertyw commented on #252
Duplicate of #187

[2018-01-07 11:53] #252 closed

[2018-01-08 17:08] albertyw commented on #187
As an update to everyone here, https://github.com/jazzband/roadies/issues/82 has been resolved and I've created a temporary branch release-1.1.0 (do not merge into master) to get 1.1.0 on pypi (relevant discussion on https://github.com/jazzband/silk/commit/78ad261969418501164db11d49191c0b030103e8#commitcomment-26718482).  It's currently blocked by https://github.com/jazzband/website/issues/41 but

[2018-01-09 14:59] pikhovkin opened #255 "ORA-00932: inconsistent datatypes: expected - got NCLOB"
Django 1.9.7
Oracle 12.1

Records in SILK_REQUEST table are exist.

[code]

[2018-01-09 22:08] smcoll commented on #239
i had an enormous amount of data in the `silk_*` tables (wish i had noted the row count before i cleared it out), and it appears the command makes two queries for every 1000 records (aren't `__in` queries expensive?) so the management command took a very long time to execute.  i understand we're trying to avoid an out-of-memory error (since Django selects before deletion: https://code.djangoprojec

[2018-01-10 10:22] jezdez commented on #187
Okay, I've fixed https://github.com/jazzband/website/issues/41 but now the upload fails (correctly) with:

[code]

The problem is basically that the repo and project are called "[silk"](https://pypi.python.org/pypi/silk) while I think you expect things to released to PyPI as "[django-silk](https://pypi.python.org/pypi/django-silk)". I'll go ahead and fix the name of the repo and project on jazzban

[2018-01-10 10:24] jezdez commented on #187
Okay done. Any link to the GitHub project will automatically forward to the new name btw. I've restarted the [Travis build](https://travis-ci.org/jazzband/silk/jobs/326440835) to do the release.

[2018-01-10 10:29] xrmx commented on #187
Build passed but there's HTTPError: 404 Client Error: NOT FOUND for url: https://jazzband.co/projects/silk/upload in the travis logs

[2018-01-10 10:32] jezdez commented on #187
Yep, just fixed in https://github.com/jazzband/django-silk/commit/de08d5b538144d540306bc029d65c45ceed6f580. Build runs in https://travis-ci.org/jazzband/silk/builds/327171966.

[2018-01-10 10:33] jezdez commented on #187
BTW, the gitter.im links didn't seem to work, what's up with that?

[2018-01-10 10:44] jezdez commented on #187
Gnaah, apparently Travis-CI didn't handle the repo rename nicely (maybe because GitHub's API is acting up today and the webhook didn't work?), even though I've seen it handle repo renames nicely in the past for other projects. I've just re-enabled travis for the newly named django-silk repo and will restart the build again.

[2018-01-10 10:47] jezdez commented on #187
Aha, one of the builds for https://travis-ci.org/jazzband/django-silk/builds/327171966 was still running and apparently released correctly to Jazzband. @avelis you should have gotten an email to confirm the release.

[2018-01-10 10:49] jezdez commented on #187
Oh, @albertyw did you want to be able to be lead project member as well as @avelis?

[2018-01-10 11:08] avelis commented on #187
@jezdez I appreciate all your diligence in getting all the tracks setup for releasing through Jazzband. I did get the confirmation email. I will confirm it later in the morning (currently 5:07am).

Gitter.im was functioning when I took over the repo a year ago but I haven’t been really active on it.

[2018-01-10 12:04] pikhovkin commented on #255
https://code.djangoproject.com/ticket/24096

[2018-01-11 01:48] avelis commented on #187
@jezdez I don't mean to delay this any further but I am getting a 2FA must be setup error.

I just set it up again but it's still giving me the error. Am I missing this security setting somewhere else?

[2018-01-11 04:03] albertyw commented on #187
@jezdez Yes, I'd like to be a project lead too.  I have 2FA auth set up for my account already so maybe I can get the release to work.

[2018-01-11 12:56] pikhovkin commented on #255
Added support of Oracle #258

[2018-01-11 17:44] avelis commented on #187
@jezdez @albertyw  Ok, it looks like worked now. Might have been a caching issue on Github's side.
Release 1.1.0 is out.
https://pypi.python.org/pypi/django-silk/1.1.0

[2018-01-11 17:44] #187 closed

[2018-01-12 21:06] MateuszBelczowski commented on #239
I also had the same problem. At least giving user a feedback about the progress would be really useful.

[2018-01-14 07:55] albertyw opened #259 "Release 2.0.0"
I think it would be nice to make a small release to get all the recent commits out, particularly 5ba085368b13a79f92db1b874ecf5d4ad083450e

[2018-01-15 16:13] avelis commented on #259
@albertyw I think that is a good idea. I have a draft started.

[2018-01-15 16:25] avelis commented on #239
@smcoll I have no issue with using a private API call. Not sure it's the best way to go though.

@blairg23 @MateuszBelczowski If anyone here has time for a PR I can happily take a look and merge it in.

Another option is to run table truncation at the DB level. But that is outside of Django in general and that is at your own risk of course.

[2018-01-16 04:42] albertyw commented on #259
Looking through the git log, I think the next release needs to be 2.0.0 because of dropped support for django 1.5, 1.6, and 1.7.

[2018-01-16 09:22] hvdklauw opened #261 "PSA: Cleanup silk_requests before updating to 1.1.0"
Just a warning to other people, we just had sudden timeouts on some of our requests, turns out that having run silk for a couple of months gives you a lot of requests, so now the garbage collection had to catch up, the result was that the list of id's became SO big that the whole process crashed and the cleanup never happened, so every ~10% of requests would try again.

Also, maybe the garbage col

[2018-01-16 19:43] erikcw opened #262 ""Incorrect padding" for raw_body base64"
I'm getting errors about the base64 padding when trying to view the details of requests.  Here are is the traceback:

[code]

[2018-01-18 15:41] smcoll opened #263 "timeout caused by long-running SummaryView queries"
Requests to the `summary` url were timing out, and i found that the culprit was some long-running queries.  In my particular case, there are over 9000 `Request` records and approximately 79,000 `SQLQuery` records.  i did a simple inspection on how long each part of the template context took to compute in this particular case, and pasted the results here:

 - `num_requests`: (9357) 0.00422120094299

[2018-01-19 05:15] yousifa commented on #262
I get the same error on 500 requests

[2018-01-19 15:25] Czaki opened #264 "proplem with propagating code to pypi"
in pypi there is no migration for changing in Request model so there are errors during usage.

[2018-01-22 17:12] #218 closed

[2018-01-23 21:39] hohenstaufen commented on #224
Can confirm this behaviour (although i do not get any warning message).
Using Django 2.0.1 and django-silk 1.1.0

[2018-01-26 01:11] selimt opened #265 "DB Deadlock when stress testing with silk"
I got a deadlock error when testing with the latest version of silk (1.1.0).

Here is the DB output:

[code]

Output from pip freeze:

[code]

Thanks
-Selim

[2018-01-28 20:43] #259 closed

[2018-01-28 20:51] albertyw commented on #264
Should be fixed in [2.0.0](https://github.com/jazzband/django-silk/commit/f08eaf422c5f331ca1b0551646e6ecef77ad0047)

[2018-01-28 20:53] #264 closed

[2018-01-28 23:14] albertyw commented on #265
Looks like the deadlock is from deleting the same rows from the garbage collector as reported in #261.  Should be fixed in #267

[2018-01-28 23:14] #265 closed

[2018-02-02 07:36] lokeshatbigbasket commented on #169
Same issue, any update on this??? getting this when using `django_extensions`, `django-debug-toolbar` and `silk`, provided SilkMiddleware is the second one in Middleware List, where as GzipMiddleware is first. Still getting the issue

[2018-02-11 02:54] bluven opened #269 "Profiling is not working"
I'm trying to profile a api of this [project](https://github.com/bluven/py-perf). I had followed the instructions of the readme of django-silk, but the profiling page was empty, though i could see files generated under profiles directory which i configured.

The project's address is [https://github.com/bluven/py-perf](https://github.com/bluven/py-perf), it's a simple project， the method i profiled

[2018-02-11 08:38] siovene commented on #239
I'm having the same problem, and I have 10,000 requests as shown in the silk UI. Perhaps there's a workaround with some raw SQL that I can execute to purge the data?

[2018-02-11 09:23] AuHau commented on #239
@siovene depends on what DB flavor you are using, but as avelis already mentioned in previous post, you can run TRUNCATE SQL command yourself, which purge the logs very fast.

IMO I think that this task should be implemented with Raw SQL as the performance gain is very, very significant. I noticed that you support PostgreSQL, SQLite and MySQL and it should not be hard to write support for these, e

[2018-02-12 06:47] #239 closed

[2018-02-13 11:21] pmontu commented on #179
I face the same issue with a different long url having a few uuid4s.

[2018-02-16 10:23] 9thbit opened #271 "Force opening a new window for SQL queries is very annoying"
PR #253 made a change such that the SQL link forces a new window to be opened. This can be very frustrating for some workflows. Every browser has a way to easily open a link in a new tab/window, forcing this on a user is very annoying as there is no easy way to prevent the link being opened in a new tab/window.

Are there many people in favour of reverting this? If so, leave a :+1:

[2018-03-01 09:25] guettli opened #272 "Use PyFlame (Ptracing Profiler For Python)"
This is a feature request.

It would be nice to integrate pyflame (Ptracing Profiler For Python) into django-silk.

https://github.com/uber/pyflame A Ptracing Profiler For Python

[2018-03-01 09:47] danielbradburn commented on #272
I think this is a bit of a non starter since pyflame is linux only and you have to invoke the code you want to profile via the pyflame executable which would make this hard to integrate into silk. On top of that the generation of the graphs is dependent on perl and flamegraph.pl (probably not an issue on most linux installations, but if windows support was there this would be an additional packagi

[2018-03-13 09:54] max-wittig commented on #269
Same for me. Seems like https://github.com/jazzband/django-silk/issues/161 is back

[2018-03-21 08:38] dingosaurus commented on #269
#meeto

django 2.0, django-rest-framework

[code]

[2018-03-27 09:37] danmash opened #273 "Profiling don't work in transaction atomic block"
Is there a way to use silk_profile
in method with @transaction.atomic() ?

[2018-04-02 17:15] MKolman opened #274 "Meta profiling does not work with Django 2.0 and higher"
# Problem
In Meta profiling a `models.Profile` is used. Its `ManyToManyField` named `queries` is directly assigned a list of `SQLQuery` objects. This behaviour has been [deprecated in Django 1.10](https://docs.djangoproject.com/en/dev/releases/1.10/#deprecated-features-1-10) and [removed in Django 2.0](https://docs.djangoproject.com/en/dev/internals/deprecation/#deprecation-removed-in-2-0).
See ac

[2018-04-04 07:01] chen2013 commented on #236
![2018-04-04_150117](https://user-images.githubusercontent.com/3285467/38293164-185a5584-3819-11e8-9604-7002b6303573.png)

[2018-04-05 05:59] jscaux commented on #273
Just to underline how important this is: we love silk but are unable to use it for our project because atomic transactions are seemingly not supported. It would be nice to know if this issue will be solved soon, or whether we should look for solutions elsewhere. Is there somebody available to look into this soon?

[2018-04-09 03:32] #271 closed

[2018-04-13 13:02] Jorl17 commented on #238
Hi.

We have also been facing this issue for almost a year now. We cannot pinpoint the location, but it is quite annoying. Additional info:

- Python2 code base
- It only happens when viewing "Details", but it does not happen when viewing "SQL" (we explicitly accessed the SQL URL and it worked)

Cheers

[2018-04-15 16:36] avelis commented on #273
At the moment I am not sure if it was every a guarantee that profiling works with transaction atomic blocks. This would date back from before I took over the project. The best workaround at the moment is to split up the profiling and atomicity into two different methods. Or consider using transaction.atomic not as a decorator. Not sure either suggestion would work.

If anyone has time to address t

[2018-04-20 08:44] laiyijie opened #277 "silk profile is not work, with dango-version 2.0.2 and django-silk version 2.0.0"
![image](https://user-images.githubusercontent.com/7499201/39040337-ab64d4a6-44b9-11e8-9161-5f94c9733fd7.png)
when I using the decorator in the view function like this:
![image](https://user-images.githubusercontent.com/7499201/39040415-cc592d38-44b9-11e8-9f9f-a368b76ca94d.png)

and I also tried to set
SILKY_PYTHON_PROFILER = True
SILKY_PYTHON_PROFILER_BINARY = True
and the profile is not work at

[2018-04-27 17:45] jasconius commented on #269
i am also seeing this behavior

[2018-05-03 16:46] l-vincent-l commented on #277
I have the same issue, and no idea how to solve it.
Any help will be appreciated.

[2018-05-04 19:05] danielbradburn commented on #277
I am unable to replicate this issue, for example the test ``project`` in the silk repo works correctly under django 2.0.2

Perhaps you could try adding this to your ``settings.py`` to ensure the profiles can be correctly saved?

[code]

[2018-05-04 19:08] danielbradburn commented on #269
I can't replicate this, does the directory ``os.path.join(BASE_DIR, "profiles")`` exist? Perhaps you could try the example ``project`` in the silk repository to see if you still have the same issue, for me that works as well as using silk via ``SILKY_PYTHON_PROFILER_RESULT_PATH``

[2018-05-07 15:04] sur0g commented on #277
For Django==2.0.2 and django-silk==2.0.0.
I've done some research with this issue and found some error in lib\site-packages\silk\collector.py. It uses direct assignment to one of the class attributes though it's forbidden in ***\Lib\site-packages\django\db\models\fields\related_descriptors.py directly:
[code]
It helps if I change the row 183 of lib\site-packages\silk\collector.py to
[code]

[2018-05-07 19:02] albertyw commented on #277
That was fixed in #275.  I think it's time to make a new release.  @avelis ?

[2018-05-07 19:03] avelis commented on #277
@albertyw Sounds good to me.

[2018-05-07 19:05] albertyw opened #282 "Make a new release of django-silk"
There have been several bugfixes (notably #275 and #278) and that should be released.  Hopefully this will also resolve #277

[2018-05-09 15:14] timthelion commented on #269
I have this problem as well. I followed the instructions. Profiling files are created. But the profiling page shows no profiles. And it wasn't just a problem with the page, I loaded up the database with `shell_plus` and the `Profile.objects.all()` returned an empty query set. But I knew that some profiling had run, because there was the `.prof` file sitting in `SILKY_PYTHON_PROFILER_RESULT_PATH`.

[2018-05-15 06:33] albertyw opened #286 "Update readthedocs"
Readthedocs at http://silk.readthedocs.io/en/latest/ seems to be quite out of date.

[2018-05-15 06:45] albertyw commented on #282
@avelis did you

[2018-05-15 14:41] avelis commented on #282
@albertyw I did. Would you like me to hold off or approve it? It was 1am central so I needed some sleep.

[2018-05-15 14:49] lmiguelvargasf commented on #74
I am getting the same issue when running tests with pytest:
* django-silk 1.11.12
* python 3.6.5

[2018-05-15 18:10] albertyw commented on #282
I think it's good to go.

[2018-05-15 19:50] avelis commented on #282
@albertyw Release was made to django-silk

[2018-05-15 20:14] avelis commented on #286
@albertyw Sorry for sounding naive here but are there some instructions on how to build updated docs for read the docs?

[2018-05-16 19:03] flxfxp commented on #2
I'm running into the same issue, did you figure out how to fix this?

[2018-05-16 19:04] flxfxp commented on #88
I'm running into the same issue, did you figure out how to fix this?

[2018-05-18 20:54] SalahAdDin opened #287 "Problem using `silk` and `debug-toolbar`."
I'm working a new project in i choosed this package for profiling; i want to use it in production while i use `debug-toolbar` in development.

My middleware in `base.py`:
[code]

My application in `production.py`:
[code]

So, i'm running migrations over the project and i'm gettings this problem:

[code]

Ok, i will try putting `silk` inside applications in `dev.py`:
[code]

It does not matter if i

[2018-05-28 01:28] #282 closed

[2018-05-30 11:01] hgminh95 commented on #265
I still encounter this issue in v2.0.0. So maybe #267 did not fully fix this issue.

Sample logs from db:

[code]

[2018-05-30 19:47] devmonkey22 opened #288 "Ignore short duration requests"
I'm thinking about adding functionality to Silk to ignore tracking short requests, especially if its of general interest to the project. Silk is currently profiling simple page requests/API calls that are less than 50ms, but Silk adds around much more overhead for little use.

Currently, I don't believe you can't do this via SILKY_INTERCEPT_FUNC or other callback, because nothing custom runs after

[2018-05-30 21:37] devmonkey22 opened #289 "Question re Profiler UI tab to profile all API requests"
I've been experimenting with Silk, and have a question about automatic profiling:

I know with the recommdended configuration, it will track requests/responses, their duration, and SQL queries. It also writes the prof files with the PROFILER configs set.

However, the Profiles tab is never populated until I use the explicit silk_profiler decorator or context manager, or perhaps dynamic profiling (

[2018-06-01 12:26] cyberbudy commented on #65
Is there any progress on it? I have this problem with django-channels

[2018-06-06 14:13] garyayo commented on #269
I'm experiencing this issue as well. Using django-silk=3.0 and django=1.11.10 and cannot generate a profile at all. I just keep seeing `Cannot execute silk_profile as silk is not installed correctly.` even after following the directions in the readme.

[2018-06-06 14:39] garyayo commented on #224
Experiencing the exact same issue
django-silk=3.0
django=1.11.10

[2018-06-11 16:14] devmonkey22 opened #290 "silk_clear_request_log fails on Postgres"
django-silk==3.0.0

The SQL executed to clear the request logs fail with multiple errors on Postgres 9.5.12.

The errors include:

- django.db.utils.ProgrammingError: syntax error at or near "'silk_profile'" LINE 1: ALTER TABLE 'silk_profile' DISABLE TRIGGER ALL;
    -  Postgres needs unquoted or double quotes, but was given single quotes.
- django.db.utils.NotSupportedError: cannot truncate a tab

[2018-06-20 06:47] lilfolr commented on #287
did you add silk to your urls.py?
`urlpatterns += [url(r'^silk/', include('silk.urls', namespace='silk'))]`

[2018-06-20 06:54] SalahAdDin commented on #287
@lilfolr yes, of course:
[code]

[2018-06-20 06:59] lilfolr commented on #287
Which settings file do you use when running your migrations?
And, more importantly, does that settings file have `DEBUG=True`?

[2018-06-20 07:22] SalahAdDin commented on #287
@lilfolr, yes, you are right,

[2018-06-20 07:58] lilfolr commented on #287
If `DEBUG = True` when you run the migrations the it will throw a `NoReverseMatch` exception because your `urls.py` won't add in the silk URL & namespace.
The fix here is to either:
1. Move ` url(r'^silk/', include('silk.urls', namespace='silk'))` up to around line 30, so it is always in your url urlpatterns **or**
2. Set `DEBUG = False` when running your migration scripts

[2018-06-20 19:11] kutakdogan commented on #169
Same issue. Any recommended way to dynamically disable the middleware (i.e. when we are using threads)?

[2018-06-20 23:02] vinayan3 commented on #169
I'm running into this exact problem. I'm running a SQL query in a thread after a request finishes for aggregation purposes. Is there a way I can disable silk for a thread?

[2018-06-22 08:51] physicalattraction opened #292 "Disabling Silk for specific URLs"
I have an API endpoint on which I can upload a photo using a multipart request. When Silk is trying to parse the request, I get a decoding error.

I now want to disable Silk for certain URL endpoints. Is this already possible? If so, how should I configure this? If not, would that be a good feature?

[2018-07-03 12:56] thenewguy opened #293 "ProgrammingError raised from silk_clear_request_log"
[code]

DB is library/postgres:9.4.5

[2018-07-03 15:24] albertyw commented on #293
Duplicate of #290.

[2018-07-03 15:24] #293 closed

[2018-07-03 17:29] MateuszBelczowski commented on #292
@physicalattraction Hi, I think that this [section of the README](https://github.com/jazzband/django-silk#custom-logic-for-recording-requests) could be helpful. You can create your custom intercept function and exclude unwanted URLs, e.g.
```SILKY_INTERCEPT_FUNC = lambda request: 'foo' not in request.path```

[2018-07-04 07:30] physicalattraction commented on #292
@MateuszBelczowski : I misinterpreted that part of the README, but I will check it out. Thanks for pointing this out!

[2018-07-06 10:12] physicalattraction commented on #292
Works like a charm, thanks for pointing this out! :-D

[2018-07-06 10:12] #292 closed

[2018-07-06 11:05] Atorich commented on #169
Same issue...

[2018-07-09 03:15] albertyw opened #294 "MySQL can deadlock on garbage collection"
[code]

[2018-07-09 05:23] Atorich commented on #216
+1. Fails when using django-channels (exception about not properly installed middleware)

[2018-07-10 09:02] arjenfvellinga commented on #290
I'm using 3.0.1 and `silk_clear_request_log` still fails for me on Postgres with (an other) programming error:

`
django.db.utils.ProgrammingError: permission denied: "RI_ConstraintTrigger_a_7428263" is a system trigger
`

[2018-07-13 14:42] jasconius commented on #269
Any word on this? An above commenter noted that mixins might be to blame but I have no such issue

Even if I put the decorator on a dead simple view, I still get a broken request summary and no profile information. No warnings, no errors, no evidence that it's trying to create profiler data

[2018-07-14 20:51] laurentb2 commented on #289
Hi devmonkey22, I just made a change that may interest you.
Best,
Laurent

[2018-07-20 14:37] gforcada commented on #290
The same happens to me like @arjenfvellinga do we need to change the database user to an admin for clearing data? :thinking:

[2018-07-23 18:23] tprestegard commented on #74
I had this issue with running unit tests in Django 1.11.14 and python 2.7.13.  I found that it occurred because I have different settings files for production and test servers and only want the **test** servers to use silk.  I also only wanted to add the silk urlpatterns on test servers, which I handled by implementing an `if settings.DEBUG=True:` statement in urls.py that contained the silk urlpa

[2018-07-31 07:46] florianm opened #297 "Upgrade to Python 3: migrations broken"
### Problem
Upgrading a Django project to Python 3 and Django 2: ./manage.py migrate falls over a bytestring:
Note I've hand-inserted a print() statement into $VIRTUAL_ENV/lib/python3.6/site-packages/django/db/models/manager.py
[code]

### Cause
There is a stray bytestring (`b''`) in migration 0003.
All migrations are parsed, even if they already have been applied, so Django will trip over any byt

[2018-08-03 16:21] avelis commented on #297
@florianm If you want to create a PR I would be happy to take a look and merge it in.

[2018-08-15 09:43] gforcada commented on #290
I manually changed on lines 23 and 25:

https://github.com/jazzband/django-silk/blob/639da91e61973268efe885ecc5524185748da762/silk/management/commands/silk_clear_request_log.py#L23

https://github.com/jazzband/django-silk/blob/639da91e61973268efe885ecc5524185748da762/silk/management/commands/silk_clear_request_log.py#L25

the ``ALL`` for ``USER`` and the command was successful. I will write a pull

[2018-08-15 15:34] #290 closed

[2018-08-17 19:12] scottkidder commented on #65
Still experiencing this as well with channels.

[2018-08-20 12:39] physicalattraction commented on #65
I am not using `django-channels`, and experience this problem in Django 2.1. This is my MIDDLEWARE:

[code]

The only middleware before the Silk middleware is from Gzip, as it should be according to this [issue](https://github.com/jazzband/django-silk/issues/43).

[2018-08-21 10:32] sadan commented on #65
Does someone know at which piece of code is causing this issue? let's try fix this..

[2018-08-22 14:21] lfh2016 commented on #289
same issue ,does doc in readme is incorrect?
python==3.6.5
Django==2.0.5
django-silk==3.0.1
djangorestframework==3.8.2
mysql 5.7

[2018-08-22 21:49] laurentb2 commented on #289
Hey, first thing first, do you have the following tab in your version? see below
Requests>Select a request> and here you have it tab "profiling'
![image](https://user-images.githubusercontent.com/29102231/44492782-ffe67080-a665-11e8-9561-b593f592568b.png)

[2018-08-23 08:45] mikicz opened #300 "Max body size units"
I have a question regarding the `SILKY_MAX_REQUEST_BODY_SIZE` and `SILKY_MAX_RESPONSE_BODY_SIZE` settings.

The README example is following:

[code]

From that comment I inferred that the unit of the setting should be kB, However then I took a look at the source code and `sys.getsizeof` is used to get the size of the bodies. Doesn't that function return number of bytes and not number of kilobytes?

[2018-08-23 11:05] bisibuka commented on #224
For me, the issue was using old-style MIDDLEWARE_CLASSES in my django settings, while django-silks checks in MIDDLEWARE variable

This may help https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-MIDDLEWARE_CLASSES

[2018-08-23 16:03] addsimm opened #301 "Reverse for 'cprofile' not found. 'cprofile' is not a valid view function or pattern name."
Hello,

I installed silk with the following settings:

# SILK
SILKY_PYTHON_PROFILER = True
SILKY_AUTHENTICATION = True  # User must login
SILKY_AUTHORISATION = True  # User must have permissions
SILKY_MAX_RESPONSE_BODY_SIZE = 1024  # If response body>1024kb, ignore
SILKY_META = True

The main silk screen works well; however when i click on a particular request I get this error:

    Reverse for 'c

[2018-08-24 03:48] yozlet opened #302 "MIddleware documentation is outdated"
Both the [`README`](../blob/master/README.md) and [the troubleshooting page](docs/troubleshooting.rst) contain this outdated advice:

That "django docs" link hasn't gone to the right point in the Django middleware page since Django 1.9, which - as far as I can tell - is the last version that had `process_request()`. I eventually worked this out after having been scared by this note into trying to

[2018-08-24 03:52] avelis commented on #302
If you have time for a PR to improve the docs I can take a look and merge it in.

[2018-08-28 23:32] joshvillbrandt opened #303 "How to profile middleware?"
Hi there! I've been able to install django-silk and profile some of my application layer code using the embedded profile viewer. Super neat!

Unfortunately, it looks like the majority of the time is being spent outside of my application code, so I'd like to profile the middleware. I'm attempting to utilize the dynamic profiling to hook this up. I've tried a few iterations of this; most of them loo

[2018-09-07 11:38] RealOrangeOne opened #305 "Request body sanitization"
Request bodies are stored as plain text in the database. This is great for debugging, but not so useful in terms of security, as passwords are technically stored in the database as plain text.

Django supports cleaning credentials using https://github.com/django/django/blob/b9cf764be62e77b4777b3a75ec256f6209a57671/django/contrib/auth/__init__.py#L41. An implementation using this would be good.

[2018-09-12 19:56] bebosudo commented on #287
I'd like to say that I have the same problem on django 2.1 on python 3.6, django-silk-3.0.1 installed with pip.

I've added the following in my `urls.py`:
`urlpatterns.append(url("silk/", include("silk.urls")))`

but I get the same errors as @SalahAdDin, with `settings.DEBUG` set to `True` or `False`: while I run the `manage.py migrate` (with `DEBUG=False`) I see:
[code]

[2018-09-14 10:04] lmedson commented on #21
Thanks, this works for me 😄

[2018-09-14 15:57] jmstp commented on #287
I had the same problem but it was fixed adding the `urls` correctly.

Is there any known incompatibility between `django-debug-toolbar` and `django-silk`?

[2018-09-14 21:51] bebosudo commented on #287
Sorry @jmstp, what do you mean "adding the `urls` correctly"?
I did as said in the README: `urlpatterns.append(url("silk/", include("silk.urls")))`
and runserver/migrate crashes..

[2018-09-17 17:09] jmstp commented on #287
What I did was put the three parts in debug mode an none in production.

url + app + middleware => debug
none => prod

I put silk **before** debug_toobar

[2018-09-18 09:01] SalahAdDin commented on #287
@jmstp Can you provide us the code please?

[2018-10-01 19:02] riconnon commented on #289
@laurentb2 I have the same issue as @lfh2016
I would like to profile all requests

The tab appears in the UI but there is no data:
`No Silk profiling was performed for this request. Use the silk_profile decorator/context manager to do so.`

[2018-10-03 18:38] colsond commented on #40
Just as a note removing silky from installed apps won't work in a production setting. If you try and import the profiler decorator anywhere else after you've removed it from installed apps it throws an error:

[code]

I've been trying to come up with a way to disable silky in production that doesn't involve scrubbing all the decorators from my function definitions. These are really the only ideas

[2018-10-04 16:13] colsond commented on #40
What I ended up doing is creating a configuration option to remove silky from installed apps and middleware then instead of importing directly from silky I import the "silk_profile" decorator from this file:

[code]

[2018-10-04 19:29] liavkoren opened #306 "Conditionally adding silk urls leads to NoReverseMatch exception when running tests"
I have the following in my root `urls.py`:

[code]
This works fine under runserver, however when running tests I get:

[code]

[2018-10-04 19:30] liavkoren commented on #306
I can fix this by doing:
[code]

But that seems even uglier.

[2018-10-05 11:59] bj00rn opened #307 "How to turn off request profiling?"
It would be nice to have an option to turn off the request profiling.

The use case would be situations where you only want to profile explicitly decorated/specified functions and don't want to the overhead.

While removing 'silk.middleware.SilkyMiddleware' from MIDDLEWAREs seems to accomplish this django generates an warning "Cannot execute silk_profile as silk is not installed correctly".

[2018-10-08 14:33] meequz commented on #294
Experienced similar issue with PostgreSQL. Silk v.3.0.1, Django 1.11.13
Here are the details from Sentry:
[code]

[2018-10-08 20:07] Regzon commented on #306
Have the same problem.
[code]

[2018-10-09 14:10] meequz commented on #305
The fact credentials are stored in plain should be highlighted in readme in the first lines.

[2018-10-10 09:32] dragon-air opened #308 "Asynchronous profiling using Django silk"
Is there a asynchronous way to profile requests , as silk profile request in real time, which causes heavy load on DB.

[2018-10-15 10:15] mkadlof opened #309 "SILKY_MAX_RECORDED_REQUESTS does not work with sqlite"
HI,

I'm trying to limit requests saved in database, but I do not see any effect of my tries.

I added:
`
SILKY_MAX_RECORDED_REQUESTS = 3`

cleared Silk entires in database

`./manage.py silk_clear_request_log`

restart app and refresh several time my app in browser. And Silk still saves more than 3 requests. What am I doing wrong?

[2018-10-16 22:00] tunecrew opened #310 "Silk + cacheops not working"
Env is Django 2.1.2 w/ uwsgi on Python 3.6 in the python alpine docker image. DB is MariaDB 10.3 in a different docker image.

Silk runs fine but if I enable `cacheops` I get the following error + traceback at `/silk/` (`cacheops` works fine w/o silk)

[code]

[2018-10-19 01:47] gone commented on #265
I still get this as well -  I think it might be related to cachealot which I have installed as well.  Trying to turn off cachealot for silk via
`CACHALOT_UNCACHABLE_TABLES = frozenset(('django_migrations', 'silk_response'))`
And seeing if that works

[2018-10-22 07:49] meequz opened #311 ""DISTINCT ON fields is not supported by this database backend""
When I open my custom admin page using sqlite3 as DB, I got the error "DISTINCT ON fields is not supported by this database backend". Django v1.11.13, django-silk v3.0.1. Here is the traceback:

[code]

My database settings:
[code]

There are no such issues when using PostgreSQL

[2018-10-22 08:06] mOscuro commented on #290
Hi! any news about a possible release? I'm getting impacted by this as well. Thanks!

[2018-10-22 08:06] mOscuro commented on #290
Hi! any news about a possible release? I'm getting impacted by this as well. Thanks!

[2018-10-22 08:07] mOscuro commented on #290
Hi! any news about a possible release? I'm getting impacted by this as well. Thanks!

[2018-10-23 17:09] thenewguy opened #312 "Long url path causes Http 500"
I've encountered an issue with very long urls.  In this particular case I am using ptrack.  The middleware is raising `DataError ... value too long for type character varying(190)`

I would not expect silk to cause my site to stop serving pages.  At the very least the error should be caught and suppressed.  But it would be nice to be able to capture the silk profiling data as well.

[2018-10-23 17:18] smaccona commented on #312
We can blame MySQL for this because we had to limit the model for that field to 190 characters in order to be able to create MySQL indexes on it (see #38 for a prolonged discussion).

I agree that this shouldn't cause a 500 error, and Silk should gracefully handle URLs that are longer than 190 characters. I will open a PR.

[2018-10-23 17:21] smaccona commented on #312
Closing this in favor of #179.

[2018-10-23 17:21] #312 closed

[2018-10-23 17:22] smaccona commented on #179
Silk should make a sane path that fits in the 190 character limit to avoid breaking users' applications. I will open a PR.

[2018-10-23 17:34] marcoaurelioneto commented on #179
In our case we were able to solve the problem by requesting the POST method.

[2018-10-23 17:56] smaccona commented on #179
@avelis please can you review PR #313 when you get a chance? Thanks!

[2018-10-24 13:37] thenewguy commented on #162
I am encountering this as well

[2018-10-24 13:42] thenewguy commented on #162
I've confirmed silk is the issue by adding the url to `SILKY_IGNORE_PATHS`.  The issue goes away.  A simple way to reproduce is to upload a large file to an admin view.  In my case a 3MB file triggers the issue but it depends on the project settings.

[2018-10-24 20:49] premma commented on #306
Exactly the same problem here. Same code as @Regzon

[2018-10-27 12:18] bkovacev commented on #306
Same issue.

[2018-10-28 19:52] #179 closed

[2018-11-02 00:34] vanyakosmos opened #315 "UnicodeEncodeError on model object save"
Got an encoding error after saving object with altered json field.
Json field is for `postgresql` only.
New data in json contains utf-8 non-latin chars.

Without `silk` everything works fine.

Traceback:
[code]

[2018-11-02 09:24] jonathan-s opened #316 "Would django-silk be able to make use of py-spy for lower impact profiling?"
This relatively recent project py-spy does all the profiling completely separate from the process it's profiling. So it's completely safe to run in production code. Would django-silk be able to make use of py-spy to improve its profiling?

https://github.com/benfred/py-spy

[2018-11-02 15:02] avelis commented on #316
Anything is possible. I don't have the time to really dig into an integration effort.

[2018-11-08 11:37] noamba commented on #289
Same for me with:
python==3.6.1
Django==1.11.10
django-silk==3.0.1
djangorestframework==3.6.4
Postgres 9.6.6

[2018-11-09 08:12] xrmx commented on #297
Looks like this has been fixed and the issue can be closed.

[2018-11-12 21:35] lingster commented on #255
Hi, I have had similar problems running this with Django 2.0.9 and Oracle 12.2.
I've identified the statement which causes the exception:
silk.views.summary.py:

[code]

The line
`r = models.Request.objects.filter(view_name=view, *filters).annotate(t=Count('queries')).order_by('-t')[0]
`
causes the following sql to be generated where group by includes fields of type NCLOB, below a cut down query w

[2018-11-12 21:59] pikhovkin commented on #255
@lingster you can try my [fork of django-silk](https://github.com/pikhovkin/django-silk)

[2018-11-13 14:49] m-ajay commented on #306
[code]
Solved this for me.

[2018-11-16 15:48] colonelfitz commented on #40
How about not removing silk from installed apps but removing it from Middlewares?
I think that would work

[2018-11-26 22:56] helloagain-dev commented on #294
Same issue with PostgreSQL 9.6, Django 2.0.6 and silk 3.0.1

[2018-11-28 12:33] deathemperor opened #317 "'float' object has no attribute 'encode' when viewing silk request detail with /silk/request/{id}"
it happens when query_params has float value, for example
[code]
The problem is the encode() function here https://github.com/jazzband/django-silk/blob/master/silk/code_generation/curl.py#L23
I tried forcing value to str `str(v).encode('utf8')` and it works.

[2018-11-29 14:32] ChillarAnand commented on #18
Any updates on this feature?

[2018-11-30 08:56] Joeylhzn commented on #169
Same issue.I add DataCollector().configure() to my function and this error never show up. I don't know if there are any other problems.

[2018-12-05 01:31] blueyed opened #318 "Remove autopep8 dependency?"
Using autopep8 seems to be overkill for formatting the Django client template: https://github.com/jazzband/django-silk/blob/6b7e85a9326a05700e6ce147e944d73c1e599451/silk/code_generation/django_test_client.py#L9-L15

(autopep8 requires also pycodestyle)

[2018-12-11 21:48] rwlogel opened #319 "Ignored request triggering raise_middleware_error"
Our project is using `django-health-check` and whenever the health check endpoint it requested it triggers the `middleware_error`.  Adding the health check endpoint to the `SILKY_IGNORE_PATHS` didn't work as expected.

Upon startup if only ignored paths are requested everything works fine.  As soon as a path which should be evaluated by SILK is requested then all subsequent ignored paths trigger s

[2018-12-12 17:22] acu192 commented on #305
I just created a PR to disclose this issue: https://github.com/jazzband/django-silk/pull/321

@mtford90 @avelis

[2018-12-13 12:57] bj00rn commented on #265
getting this as well. Serving django through 4x daphne workers

[code]
...
 ERROR:  deadlock detected
 DETAIL:  Process 4920 waits for ShareLock on transaction 94582; blocked by process 4926.
      Process 4926 waits for AccessExclusiveLock on tuple (9,89) of relation 21806 of database 20072; blocked by process 4929.
      Process 4929 waits for ShareLock on transaction 94641; blocked by process 4

[2018-12-20 18:32] danizen opened #323 "django.db.utils.IntegrityError on Oracle for silk.models.Request."
django 1.11.16
django-silk 3.0.1

Oracle makes no difference between '' and BLANK, and so the file field in silk.models.Request does not work properly.   The field is declared as:
    prof_file = FileField(max_length=300, blank=True, storage=silk_storage)

On the oracle level, I have the following constraint for this field:
    PROF_FILE               NVARCHAR2(300) default NULL not null

Since yo

[2018-12-20 20:13] danizen commented on #323
Using a local sqlite3 database via a database router addresses this issue, but it is worth fixing.

[2019-01-01 11:58] sachinsiddhpura opened #324 "NoReverseMatch at /cart/detail/ Reverse for 'cart_add' with arguments '('',)' not found. 1 pattern(s) tried: ['cart/add/(?P<product_id>[0-9]+)$']"

[2019-01-09 03:55] betoborda commented on #290
It looks like this error is still happening on the latest version (django-silk 3.0.1 ) from pypi released: Jul 3, 2018.  When do you plan to release a new version?

[2019-01-09 05:54] swarnakumar commented on #162
Exact same issue. The error goes away when I remove silk, or when I do what @thenewguy mentions.

[2019-01-10 11:17] FlorentPeterschmitt opened #327 "Profiling management commands"
Hello,

I see from Silk's code that profiling using `with silk_profile():` will not work at all because of `_should_profile()` checking for the `request` object to be not None.

Is there any way to get silk to perform profiling on management commands?

**Edit :** diving more into the code shows me that it would require a PR for such a feature. Would that be of any interest for this project?

Many

[2019-01-10 16:35] FlorentPeterschmitt commented on #327
Finally, i just came with this solution: https://gist.github.com/Leryan/ac3b9645c4a0e6f7ee6e719fcb503bf8

[2019-01-15 12:03] pptime commented on #169
I have seen the similar issue, and it turned out to be a threading related issue.
In fact, the DataCollector is a singleton. Its instance contains a threading.local. When the current thread switches to another, due to singleton behavior, it will not be re-instantiated, but the local information that belongs to the previous thread will be lost, as they are local to its belonging thread.

My idea is

[2019-01-22 19:00] nasirhjafri commented on #323
Hi @danizen Can you please attach a minimal app producing the error?

[2019-02-04 22:11] Regzon commented on #216
+1

[2019-02-12 06:14] emilt27 opened #328 "Cannot compute Sum('field'): 'field' is an aggregate"
The following example does not work after installing `cacheops`:

`AnimalGroup.objects.annotate(animals_num=Count('animals')).aggregate(total_animals=Sum('animals_num'))`

I got error message: `Cannot compute Sum('animals_num'): 'animals_num' is an aggregate`.

Django docs: https://docs.djangoproject.com/en/2.1/topics/db/aggregation/#aggregating-annotations

My env:
- python 3.6.6 & pip 18.0
- dja

[2019-02-12 06:16] #328 closed

[2019-02-12 14:29] andreasssm opened #329 "integration with spyne"
I am already using spyne-RPC as a SOAP server. I have installed django-silk to monitor requests. For my GET requests it works ok but when i POST i get the error below and a timeout. If I remove django-silk it works ok.
[code]

[2019-02-13 13:45] Regzon commented on #324
Sorry, I don't think this issue is related to django-silk

[2019-02-13 13:45] #324 closed

[2019-02-14 14:22] davidhalter commented on #172
BTW: I also think the documentation and README are very unclear on this.

[2019-02-16 07:05] jayvdb opened #332 "Support gprof2dot 2017.09.19"
gprof2dot 2017.09.19 is the latest version, and so it is what most distros include.

It included a breaking change, which is why it was de-selected, but in order to be packaging in distros, a workaround is needed.

[2019-02-17 21:37] whirish commented on #310
Also experiencing this. I commented out the "cacheops" in my `INSTALLED_APPS` as a temporary measure and silk now appears to work.

[2019-02-17 22:36] whirish commented on #269
I had the profiling directory pointing to a folder that didn't exist (path was messed up), after fixing it the profiling page works as expected. Running latest silk and django. Snakeviz states that the generated .prof files aren't valid, but they can be viewed in silk's page no problem. I'm not using dynamic profiling which might have something to do with it.

[2019-02-20 09:05] deepuonthemove commented on #65
Hi guy, Any update on the above issue, We are also facing it with a similar middleware configuration

MIDDLEWARE_CLASSES = (
    'django.middleware.gzip.GZipMiddleware',
    'silk.middleware.SilkyMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middlewa

[2019-02-22 05:58] #332 closed

[2019-02-22 06:02] auvipy commented on #329
I am not sure, if spyne is a django project or app at all? which framework it is using under the hood? if any at all? I used spyne long.

[2019-02-22 06:05] #277 closed

[2019-03-04 09:21] hongweishang commented on #306
i find it is no matter with DEBUG.
I always add silk.url, and the save problem. How to ?

[2019-03-05 01:42] fish-face commented on #216
So as far as I can tell this is just because ASGI applications don't use the same middleware, but do (possibly) make SQL queries. Silk probably needs to provide a channels-compatible middleware.

[2019-03-09 05:37] auvipy commented on #216
That's natural. @carltongibson what do you think about the @fish-face comment?

[2019-03-09 09:01] carltongibson commented on #216
https://github.com/jazzband/django-silk/issues/65#issuecomment-337878460:

I'm guessing this is a threading issue.

Channel's `AsgiHandler` **does** [load and use the normal Django middleware chain](https://github.com/django/channels/blob/5fcde8528ac6e554ffe47a2be4d8f11facfbe700/channels/http.py#L272-L275). (This is why Django behaves as expected, in general, when run via Channels.)

So what's goi

[2019-03-11 13:30] guy881 commented on #290
We had the same problem and we cleared the data by rolling back migrations of this app `python manage.py migrate silk zero`.

[2019-03-11 22:47] dms-cat commented on #269
Could this be related to `makemigrations` not actually creating any new migrations, or possibly that Silk migrations collide with existing model names? Silk creates a `Profile` model, but I already have a model with that name in an app.

[2019-03-14 16:28] ociule commented on #3
Silk is an awesome tool, it would be great to use it for profiling celery or other async tasks that happen outside the request/response cycle.

[2019-03-14 16:29] dralley commented on #3
We have a use case where this feature would be extremely useful.  Our application has a lot of long-running asynchronous "tasks" using RQ.  Currently, django-silk can't help us because none of the hard work is being done within the scope of a request.  Each individual task is very intensive but there are not that many of them, relatively speaking.

A lot of applications use Celery, also.  Same pri

[2019-03-14 16:40] mdolsma commented on #169
It seems that commit [f7fd730](https://github.com/jazzband/django-silk/commit/f7fd7309e3b9f577944c9f777523afed377c448e) has improved the situation...

I have spent time to reproduce this error in the simplest way, using the input from @rubendura and @pptime.  I forked django-silk and added a view `runworker` to the `example_app` which would simply delete all `Blind` objects from the DB using a wor

[2019-03-14 18:21] dralley commented on #272
Py-Spy is basically same thing but supports Windows and OSX

https://github.com/benfred/py-spy

[2019-03-15 09:31] guettli commented on #272
@dralley thank you for this hint. Py-spy looks good.

[2019-03-15 09:55] danielbradburn commented on #272
@dralley thanks for the info! Looks very interesting. It's a shame that flamegraph.pl is still required. I think the solution would boil down to just documenting that you need perl to be installed if you want to view flamegraphs, again for linux this won't be a problem, but for windows it's an additional step. There already seems to be a bit of confusion about how to get profiling working!

Perhap

[2019-03-15 13:39] ksdme opened #336 "Permission checking is skipped due to order of silk_profile decorator"
I have been trying to get permissions (using `rest_framework.permissions`) working with function views decorated in the following order and it won't work unless the order of `silk_profile` decorator is changed. The permissions are ignored and the view is executed and returns successfully when in the wrong order.

Version that doesn't work:
[code]

Version that works:
[code]

[2019-03-18 08:52] nyanev commented on #305
@avelis Do you have plans to address this issue?

[2019-03-18 15:15] avelis commented on #305
@nyanev I personally don't have time to do it.

[2019-03-18 18:40] ruckit-dev opened #337 "Silk while testing"
I'd like to run some tests, and then be able to runserver and view the silk results.
Any guidance on achieving this?

I've made sure to install the silk app and middleware when testing, and I can see requests being logged, but the issue is that the test database gets reset/deleted after every run.

I tried a custom database router where all the 'silk' app stuff gets saved to a different database,

[2019-03-19 08:36] jkeyes commented on #337
[pytest-django](https://pytest-django.readthedocs.io/en/latest/database.html#reuse-db-reuse-the-testing-database-between-test-runs) has a `--reuse-db` option.

[2019-03-30 11:42] auvipy commented on #3
any prospective API wor workflow do you have in mind how should be the DevUX for the API of that profiler to profile celery/ etc with or outside of django req/resp cycle?

[2019-04-02 23:21] davidcorbin commented on #290
Still having the issue referenced by @arjenfvellinga above with Postgres

[2019-04-10 13:43] pptime commented on #290
Yes, if a release is planned, that could be wonderful

[2019-04-12 12:51] lesiki opened #338 "Huge memory consumption under Python 3.6"
[code]

We've been using silk for quite a while on Python 2.6, but recently when we upgraded to Python 3.6, we observed our mod_wsgi processes consuming huge amounts of memory and being killed. This happens in a loop: every 15 seconds or so, the memory usage will climb steadily, then the process is killed and restarted, repeating the loop.

After investigating all our dependencies one by one, we f

[2019-04-15 04:15] auvipy commented on #338
code?

[2019-04-16 11:22] dz0 commented on #40
When changing  `SILKY_INTERCEPT_PERCENT` or similar, one needs to deploy&restart, which is not nice **in production**.

Maybe there could be  `SILKY_CONFIG_FETCHER`  -- (path to) function  which fetches configs as dict. By default it would just collect standart settings, that.startswith('SILKY_'). And we could use DB to store settings.
ps.: quick search: seems https://bitbucket.org/jiaaro/django-t

[2019-04-17 12:36] xrmx opened #339 "new release"
Hello, any chance you can cut a new release please?

[2019-04-20 16:42] #336 closed

[2019-04-23 05:13] #337 closed

[2019-04-23 05:18] #305 closed

[2019-04-23 05:45] acu192 commented on #305
@auvipy Why was this closed?

[2019-04-23 05:52] auvipy commented on #305
As there are links to potential fixes. It would be great if anyone could install the master branch in a local setting and check this is still not fixed, then could be reopened again

[2019-04-23 07:54] mbeacom commented on #339
https://github.com/jazzband/django-silk/releases/tag/3.0.2

[2019-04-23 07:54] #339 closed

[2019-04-23 08:19] jezdez commented on #339
FYI, remember that this will need to be confirmed by @avelis before it's pushed to PyPI.

[2019-04-23 09:59] xrmx commented on #339
Uhm looks like there's something broken. Tried installing the zip from github with

[code]

or even instaling master with

[code]

and got

[code]

This is with python 2.7 and django 1.11.

[2019-04-23 10:05] lesiki commented on #338
@auvipy sorry I don't follow. We've integrated silk in the standard way as per docs, what code in particular would you need to see?

[2019-04-23 10:10] xrmx commented on #339
oh it looks i am still using old MIDDLEWARE_CLASSES instead of MIDDLEWARE. Since it's deprecated not sure how this should be handled wrt to semver. A comment in the github release that MIDDLEWARE_CLASSES are not supported anymore may be helpful for others though. The documentation cite MIDDLEWARE since 2017 so it may be an issue only for the few people using it on old projects :)

[2019-04-23 15:27] mbeacom commented on #339
@xrmx `MIDDLEWARE_CLASSES` is a deprecation that should be handled when upgrading to Django >= 1.10.
I am not sure if it's necessary to add a note about the `MIDDLEWARE_CLASSES` adjustment, but if the need is there...  Could we instead add a note to the last relevant Django < 1.10 release?

[2019-04-23 16:14] #297 closed

[2019-04-23 19:13] xrmx commented on #339
@mbeacom MIDDLEWARE_CLASSES works perfectly fine in django 1.11, it has been removed in 2.0.

[2019-04-24 15:32] mbeacom commented on #339
@xrmx Right, but it was officially deprecated in 1.10, ultimately removed from backwards compatibility in 2.0.

[2019-05-16 03:06] thomaszdxsn opened #344 "The url path in UI cell should truncated"
when get a long url path, the silk ui layout will display weired.

I think truncated to a fixed length path and display full path in `cell.title` attribute should be good

[2019-05-22 12:11] patrys opened #345 "OpenTracing support"
It would be sweet if Silk could register itself as the [OpenTracing tracer](https://opentracing.io/guides/python/tracers/) and display the resulting traces either in the profiler tab or in a dedicated APM tab.

[2019-05-24 20:05] KoalaTea commented on #303
I tried this as well and ended up in the same spot. I am wondering what your solution was and how you came to figuring out where the bottleneck was.

[2019-05-29 16:58] quantumpacket commented on #305
Can this please be reopened unless a fix has already been applied?

[2019-05-29 17:30] acu192 commented on #305
I second this. (x1000)

Until this is fixed, it should be well-advertised. There is no benefit in closing this issue **before** fixing it.

For inspiration, see [this story](https://www.bleepingcomputer.com/news/security/github-accidentally-recorded-some-plaintext-passwords-in-its-internal-logs/) and then [this story](https://www.bleepingcomputer.com/news/security/twitter-admits-recording-plaintex

[2019-05-29 19:25] RealOrangeOne commented on #305
Looks like https://github.com/jazzband/django-silk/pull/322 contains a fix for this, which was released in https://github.com/jazzband/django-silk/releases/tag/3.0.2. Therefore installing a fix is definitely possible.

Exactly how we ensure people know about this fix is a different story. I'll work on that one.

[2019-05-30 08:24] n-agi opened #346 "Sanitizing does not work with Form data"
This issue has a lot of relation with Issue #305 and fix with Commit #322 , which sanitizes sensitive data.

But sanitizing will not work when request was made with form data(Which includes form boundaries by browsers) by #322 .

[2019-06-05 21:17] claradaia opened #347 "User interface fails without session middleware"
Hello, guys. I am trying to integrate silk with my existing app which does not use the atuhentication or sessions middleware. Because of that, I get the following error when I try to access `/silk`:

[code]

Is there a workaround? I considered just copying the views and tweaking until it worked, but looking at the code I wonder if the sessions are essential for the proper function of the interface

[2019-06-06 12:16] vakorol commented on #265
Can't use `django-silk` in our development environment because of this issue. Requests fail quite frequently with :

[code]
MySQL 5.5
Django 1.11.20
Python 3.4.3
django-silk 3.0.2

[2019-06-11 13:59] claradaia opened #348 "Request with list in body causes '_mask_credentials' to fail"
Hello, me again. I added the session and auth middleware back and now the interface works. However, the silk middleware itself fails when I try to use certain views which receive **lists** on the request body. This is the error:

[code]

I believe the problem is:

[code]

Seems to me the easiest fix would be to try and pass for TypeErrors. Something more robust could be done iterating through the

[2019-06-16 08:23] shimizukawa opened #349 "SILKY_IGNORE_PATHS should ignore path without SCRIPT_NAME path prefix"
The `settings.SILKY_IGNORE_PATHS` (undocumented) config ignore paths
https://github.com/jazzband/django-silk/blob/4418b29d23bff2a34edb4310a6472dcf2805eb83/silk/middleware.py#L47

If specified `settings.SILKY_IGNORE_PATHS` (undocumented) matches the `request.path` exactly, it will be excluded from recording. However, since it uses `request.path` as the matching condition, the path will have the pat

[2019-06-20 12:34] pikhovkin opened #350 "Add topics to categorize your repository"
Add topics to categorize your repository

[2019-06-21 08:08] regmeg commented on #211
I still get this, installed through pip, django-silk==3.0.2. Has anyone come up with a solution ? Thanks

[2019-06-24 19:40] devmonkey22 opened #352 "Clean up RemovedInDjango30Warning warning re `load staticfiles` in Django 2.1+"
Need to change `{% load staticfiles %}` to `{% load static %}` in silk templates to clean up `RemovedInDjango30Warning` log messages when loading silk pages with Django 2.1+.

[2019-06-26 05:45] kashewnuts commented on #294
Same issue with MariaDB 5.5.60, Django 2.1.9 and silk 3.0.2

[2019-06-26 07:00] helloagain-dev commented on #294
I don't see why this doesn't get more attention. In my opinion this is a serious issue which prevents us from using Silk.
Are there any workarounds I am missing?

[2019-07-02 15:32] makarovstas commented on #294
Same issue with PostgreSQL 10.6 and Django 2.2

[2019-07-11 08:33] MichalSe commented on #348
Is there any update on this? Im getting this error too, using django rest framework - it fails saying the key (body - dictionary of attributes) is failing due to TypeError: expected string or bytes-like object

[2019-07-19 14:12] Elbullazul commented on #309
same here, how does this work? In the docs it simply says

It sounds like it should only save until it hits the limit and then start clearing old rows.

[2019-07-29 02:04] chidg opened #354 "New PyPI release"
Hi,
is it possible to have a new version released on PyPI?
There have been some recent merges that would be useful to us but are not in 3.0.2 (eg https://github.com/jazzband/django-silk/pull/342)

thank you

[2019-08-06 16:02] aj07mm commented on #269
it worked here with:
Django==1.11.21
django-silk==2.0.0

[2019-08-10 09:52] pranaysharma commented on #3
Hi,
Why not give an option in the plugin so that Celery/Rabbit MQ can be used to log the data in Database asynchronously. We face timeouts for requests which have large amounts of data.
Is this a suggested strategy? if yes then my team can work on the feature and push it

[2019-08-12 20:30] avelis commented on #354
@nasirhjafri I tried publishing the 3.0.3 release and it failed to upload do the following error below.

[code]

[2019-08-13 06:59] nasirhjafri commented on #354
@avelis Pushed the fix, Can you please try publishing again? Thanks.

[2019-08-13 18:47] Jorl17 commented on #348
This issue has been solved by PR https://github.com/jazzband/django-silk/pull/355, shouldn't it be closed? :)

[2019-08-15 03:28] avelis commented on #354
@nasirhjafri Someone needs to resend the release artifacts to jazzband so then I can see the new links to publish the new tarball and wheel. I would do but I really don't have the time at the moment.

[2019-08-16 14:33] endersonmenezes opened #360 "SQL MODE = EMPTY_STRING_IS_NULL"
I have to use this SQL MODE rule, and it makes the counters not work.

[code]

For pass in migration i made a manual migration
[code]

After this migration I was able to make the application work, but no counter.

[2019-08-16 14:43] endersonmenezes commented on #360
It's Working Now!
[code]

[2019-08-21 00:09] pradeeproy28 commented on #224
I am also experiencing the same issue, any resolution on django-silk=3.0
I have MIDDLEWARE_CLASSES in the settings.py as the application is developed on the eariler version of Django.